html{
  scroll-behavior: smooth;
}
.consumer-landing-page {
  //base
  .container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1400px) {
      max-width: 1240px;
      width: 1220px;
    }
  }
  .highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
    &:before {
      content: "";
      z-index: -1;
      height: 3px;
      width: 100%;
      background: #fcd800;
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
  div {
    &:focus-visible {
      outline: none !important;
    }
  }
  .link-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #00a6ca;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-right: 17px;
    &:after {
      content: url(../images/right-arrow-blue.svg);
      position: absolute;
      right: 0px;
      top: 3.5px;
    }
  }
  .cibil-btn {
    height: 50px;
    display: inline-flex;
    background: #fcd800;
    align-items: center;
    justify-content: center;
    padding: 17px 40px;
    min-width: 180px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2c2c2c;
    text-decoration: none !important;
    outline: none !important;
    &-orange {
      background-color: #f16e00;
    }
  }
  .hide-mob {
    @media (max-width: 992px) {
      display: none !important;
    }
  }
  .hide-desk {
    display: none;
    @media (max-width: 992px) {
      display: block !important;
    }
  }
  .remove-psudo {
    &:before,
    &:after {
      display: none;
    }
  }
  .heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #2c2c2c;
    @media (max-width: 992px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2c2c2c;
  }
  .banner-section {
    background-image: url(../images/desktop-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    min-height: 400px;
    display: flex;
    align-items: center;
    &__wraper {
      .heading {
        max-width: 473px;
        margin-bottom: 30px;
      }
      .cibil-btn {
        min-width: 401px;
      }
    }
    @media (max-width: 992px) {
      background-image: url(../images/mobile-banner.jpg);
      background-position: center bottom;
      align-items: flex-start;
      min-height: 586px;
      &__wraper {
        text-align: center;
        padding-bottom: 290px;
        .heading {
          font-size: 32px;
          line-height: 44px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    @media (max-width: 576px) {
      .cibil-btn {
        min-width: auto;
        width: 100%;
      }
    }
  }
  .note {
    background-color: #fbf1c5;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #006685;
    b {
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
      text-align: left;
    }
    .icon {
      margin-right: 10px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 992px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media (max-width: 768px) {
      .container {
        align-items: flex-start;
      }
    }
  }
  .video-section {
    &__wraper {
      padding-top: 60px;
      padding-bottom: 60px;
      .desc {
        margin-bottom: 0px;
      }
      .heading {
        max-width: 278px;
        margin-bottom: 20px;
      }
      .right-side {
        button.vjs-big-play-button {
          top: calc(50% - 32px);
          left: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: none;
          padding: 0;
          border: none;
          border-radius: 0;
        }
        .cibil-video-dimensions {
          width: 100%;
        }
        .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
          content: "";
          background-image: url(../images/play-icon.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }
    @media (min-width: 992px) {
      &__wraper {
        display: flex;
        justify-content: space-between;
        .left-side {
          width: calc(40% - 25px);
        }
        .right-side {
          width: calc(60% - 25px);
        }
      }
    }
    @media (max-width: 992px) {
      &__wraper {
        padding-top: 40px;
        padding-bottom: 40px;
        .heading {
          max-width: calc(100% - 100px);
          margin: 0px auto 20px;
          text-align: center;
        }
        .desc {
          margin-top: 30px;
          text-align: center;
        }
      }
    }
    @media (max-width: 576px) {
      &__wraper {
        .right-side {
          .cibil-video-dimensions {
            max-height: 209px;
          }
          button.vjs-big-play-button{
            top: calc(50% - 17.5px);
            left: calc(50% - 17.5px);
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }
  .features-slider-section {
    background-color: #f9f9f9;
    &__wraper {
      .cibil-btn {
        min-width: 100%;
      }
      .right-side {
        .features-slider {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .feature {
            width: calc(50% - 10px);
            &__wraper {
              background: #ffffff;
              border-radius: 8px;
              padding: 20px;
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              p {
                margin-bottom: 0px;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #2c2c2c;
                max-width: 233px;
              }
              .icon {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 992px) {
      &__wraper {
        padding-top: 60px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        .heading {
          max-width: 300px;
        }
        .left-side {
          width: calc(34% - 10px);
        }
        .right-side {
          width: calc(66% - 10px);
          .features-slider {
            .feature {
              &.order-1 {
                order: 1;
              }
              &.order-2 {
                order: 2;
              }
              &.order-3 {
                order: 3;
              }
              &.order-4 {
                order: 4;
              }
              &.order-5 {
                order: 5;
              }
              &.order-6 {
                order: 6;
              }
            }
          }
        }
      }
    }
    @media (max-width: 992px) {
      &__wraper {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
        .left-side {
          text-align: center;
          .heading {
            max-width: calc(100% - 76px);
            margin: 0px auto 20px;
          }
          .desc {
            text-align: center;
            margin-bottom: 30px;
          }
        }
        .right-side {
          .features-slider {
            padding-left: 30px;
            max-width: 100vw;
            overflow: hidden;
            .feature {
              width: auto;
              &__wraper {
                width: auto;
                margin-bottom: 0px;
                max-width: 330px;
              }
            }

            /* the slides */
            .slick-slide {
              margin: 0 10px;
            }

            /* the parent */
            .slick-list {
              margin: 0 -10px;
              overflow: visible;
              max-width: 100%;
            }
          }
          .cibil-btn {
            margin-top: 30px;
            min-width: auto;
          }
        }
        .desc,
        .cibil-btn {
          max-width: calc(100% - 40px);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .blogs-section {
    margin-top: 70px;
    padding-bottom: 45px;
    &__wraper {
      .left-side {
        .heading {
          margin-bottom: 40px;
          font-size: 24px;
          line-height: 24px;
          text-transform: uppercase;
        }
        .desc {
          margin-bottom: 0;
        }
      }
      .right-side {
        .blogs-slider {
          .blog {
            &__wraper {
              height: 100%;
              background-color: #f9f9f9;
              overflow: hidden;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              p {
                margin-bottom: 0px;
              }
            }
            &-image {
              max-height: 173px;
              width: 100%;
            }
            &-title {
              padding: 20px;
              font-weight: 600;
              font-size: 18px;
              line-height: 23px;
              color: #000000;
              max-width: 364px;
            }
            &-link {
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.02em;
              text-decoration-line: underline;
              color: #2c2c2c;
              display: flex;
              align-items: center;
              padding: 10px 28px 20px 20px;
              text-underline-offset: 0.15em;
              text-decoration-thickness: 0.1rem;
              position: relative;
              outline: none !important;
              &:after {
                content: url(../images/right-arrow-grey.svg);
                position: absolute;
                right: 28px;
              }
            }
          }
        }
        .link-btn {
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    @media (min-width: 992px) {
      &__wraper {
        display: flex;
        justify-content: space-between;
        .left-side {
          width: calc(30% - 60px);
        }
        .right-side {
          width: calc(70% - 60px);
          .blogs-slider {
            display: flex;
            justify-content: space-between;
            .blog {
              width: calc(50% - 10px);
            }
          }
        }
      }
    }
    @media (max-width: 992px) {
      margin-top: 40px;
      padding-bottom: 60px;
      &__wraper {
        padding-left: 0px;
        padding-right: 0px;
        .link-btn {
          margin-top: 20px;
          margin-bottom: 30px;
          &.hide-desk {
            display: inline-flex !important;
          }
        }
        .left-side {
          padding-left: 20px;
          padding-right: 20px;
          .heading {
            margin-bottom: 30px;
          }
        }
        .right-side {
          /* the slides */
          .slick-slide {
            margin: 0 10px;
          }

          /* the parent */
          .slick-list {
            margin: 0 -10px;
            overflow: visible;
            max-width: 100%;
          }
          .blogs-slider {
            padding-left: 30px;
            max-width: 100vw;
            overflow: hidden;
            .slick-track {
              display: flex !important;
            }

            .slick-slide {
              height: inherit !important;
            }
            .blog {
              width: auto;
              max-width: 330px;
            }
          }
        }
      }
    }
    @media (max-width: 576px) {
      &__wraper {
        .desc {
          max-width: 306px;
        }
      }
    }
  }
  .benefits-section {
    margin-top: 60px;
    margin-bottom: 60px;
    &__wraper {
      .right-image {
        width: 100%;
      }
      .heading {
        margin-bottom: 20px;
      }
      .desc {
        margin-bottom: 14px;
      }
      .benefits {
        .benefit {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #2c2c2c;
          margin-bottom: 0;
          padding-left: 22px;
          position: relative;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          &:before {
            content: url(../images/checkmark-blue.svg);
            position: absolute;
            left: 0px;
            top: 3px;
          }
        }
      }
      .right-side {
        text-align: center;
      }
    }
    @media (min-width: 992px) {
      &__wraper {
        display: flex;
        justify-content: space-between;
        .left-side,
        .right-side {
          width: calc(50% - 17px);
        }
      }
    }
    @media (max-width: 992px) {
      margin-top: 40px;
      margin-bottom: 40px;
      &__wraper {
        .heading,
        .desc {
          text-align: center;
        }
        .heading {
          margin-bottom: 30px;
        }
        .desc {
          margin-bottom: 20px;
        }
        .right-image {
          margin-bottom: 30px;
        }
      }
    }
  }
  .subscribe-section {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      ),
      #00a6ca;
    padding-top: 40px;
    padding-bottom: 40px;
    &__wraper {
      .heading {
        max-width: 558px;
        margin-bottom: 20px;
      }
      .cibil-btn {
        margin-top: 20px;
        width: 100%;
      }
      .js-dropdown {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #2c2c2c;
        position: relative;
        .js-link {
          text-decoration: none;
          background: #ffffff;
          border: 1px solid #707070;
          color: #2c2c2c !important;
          outline: none !important;
          height: 63px;
          display: flex;
          align-items: center;
          padding: 19.31px 20px;
          position: relative;
          padding-right: 80px;
          &:after {
            content: "";
            position: absolute;
            right: 0px;
            background-color: #00a6ca;
            height: 100%;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .icon {
            transition: transform 0.2s ease-in-out;
            position: absolute;
            right: 19px;
            z-index: 1;
          }
        }
        &.open {
          .js-link {
            .icon {
              transform: rotate(180deg);
            }
          }
        }
        .js-dropdown-list {
          display: none;
          background: #ffffff;
          border: 1px solid #707070;
          border-top: 0;
          padding: 20px;
          position: absolute;
          width: 100%;
          top: 63px;
          li {
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    @media (min-width: 992px) {
      &__wraper {
        display: flex;
        justify-content: space-between;
        .left-side {
          width: calc(60% - 75px);
        }
        .right-side {
          width: calc(40% - 75px);
        }
      }
    }
    @media (max-width: 992px) {
      &__wraper {
        .heading,
        .desc {
          text-align: center;
        }
        .heading {
          max-width: calc(100% - 92px);
          margin-left: auto;
          margin-right: auto;
        }
        .desc {
          margin-bottom: 30px;
        }
      }
    }
  }
  .subscribe-section ~ .note {
    padding-top: 12px;
    padding-bottom: 12px;
    .icon {
      margin-right: 14.64px;
      margin-top: 2px;
    }
    @media (max-width: 992px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
