*{
    margin: 0;
    padding: 0;
    font-family: 'Intro', Book;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
a{
    cursor: pointer;
    &:focus, &:active, &:focus{
        text-decoration: none;
        outline: none;
    }
}
.primary-btn{
    background-color: $secondary-orange;
    color: $accent-black;
    font-family: "Intro", Regular;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 19px 40px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color: $accent-black;
    }
}

.desktop-view{
    @media(max-width: 992px){
        display: none !important;
    }
}

.mobile-view{
    @media(min-width: 993px){
        display: none !important;
    }
}

.main{
    min-height: 70vh;
}
.section-heading{
    font-family: 'Intro', Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: $accent-black;
    margin-bottom: 20px;
}

@media(max-width:992px){
    .section-para{
        font-size: 16px;
        line-height: 24px;
    }

}

.link-btn{
    font-family: 'Intro', Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: $black;
    text-transform: capitalize;

    &:hover{
        color: $secondary-orange;
    }
}

@mixin footerFont {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
}