.hero-section{
    .hero-wrap{
        width: 100%;
        position: relative;
        padding-top: 38.89%;
        overflow: hidden;
        .hero-slides{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .hero-slide{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }

    @media(max-width:768px){
        .hero-wrap{
            padding-top: 158.94%;
            .hero-slides{
                .hero-slide{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}