.title {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #302e46;
}

.subtitle {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #302e46;
  opacity: 0.95;
}

.outer {
  height: 300vh;
}

.exit-intent-popup {
  height: 100%;
  background: #e5e5e5;
}
.exit-intent-popup .popup .container,
.exit-intent-popup .popup .row {
  height: 100%;
}
.exit-intent-popup .popup .logo {
  width: 130px;
  margin: 30px;
}
.exit-intent-popup .popup .image-block {
  background: linear-gradient(102.78deg, #3ea3ce 1.31%, rgba(62, 163, 206, 0) 744.79%);
}
.exit-intent-popup .popup .image-block .image-container {
  margin-top: 0 !important;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-top: 33px;
  padding: 0 50px 0;
}
.exit-intent-popup .popup .image-block .image-container img {
  width: 100%;
  margin-bottom: -20px;
}

.text-right-block {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.text-block {
  padding: 30px 90px 30px 45px;
}
.text-block .title {
  margin-bottom: 20px;
  font-weight: 600;
}
.text-block .subtitle {
  margin-bottom: 30px;
}

.error {
  color: red;
}

label.error {
  position: relative;
  display: block;
  width: 100%;
  padding: 4px 5px;
  margin-top: -1px;
  color: #b50000;
  font-weight: normal;
  border: 0;
  font-size: 11px;
}

label {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #3ea3ce;
  margin-bottom: 5px;
}

label.error:before {
  display: none;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #dbdbdb !important;
  outline: 0;
  box-shadow: none;
}

input::-moz-placeholder {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #777777;
}

input:-ms-input-placeholder {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #777777;
}

input::placeholder {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #777777;
}

#checkbox {
  background: #3ea3ce;
}

.form-group input[type=checkbox] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group .check {
  position: relative;
  cursor: pointer;
}

.form-group .check:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  background: #3ea3ce;
}

.form-group input[type=checkbox]:checked + .check:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.check-box-input {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 12px;
}
.check-box-input > div {
  margin-top: -5px;
  margin-right: 8px;
}
.check-box-input p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #000000;
  opacity: 0.8;
}

#submit {
  width: 435px;
  height: 44px;
  background: #f16e33;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #ffffff;
  border-radius: 0;
  border: 0;
  outline: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.exit-intent-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(33, 33, 33, 0.8);
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-intent-popup.visible {
  transform: translateY(0) scale(1);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}/*# sourceMappingURL=style.css.map */