* {
  margin: 0;
  padding: 0;
  font-family: "Intro";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Intro";
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  outline: none !important;
  display: inline-block;
}
a:hover {
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .text-center {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .mt-sm-30 {
    margin-top: 20px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.d-md-flex {
  display: flex !important;
}

@media screen and (max-width: 992px) {
  .w-sm-90 {
    margin: auto;
    width: 75%;
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .w-sm-90 {
    width: 90%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .d-md-flex {
    display: flex;
  }
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }

  .text-md-start {
    text-align: left !important;
  }

  .justify-content-md-center {
    justify-content: center;
  }
}
.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .mhide {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .dhide {
    display: none !important;
  }
}

.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px !important;
}
.f-15 {
  font-size: 15px !important;
}
.f-16 {
  font-size: 16px !important;
}
.f-17 {
  font-size: 17px !important;
}
.f-18 {
  font-size: 18px !important;
}
.f-19 {
  font-size: 19px !important;
}
.f-20 {
  font-size: 20px !important;
}
.f-22 {
  font-size: 22px !important;
}
.f-24 {
  font-size: 24px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}

@media screen and (min-width: 992px) {
  .mb-md-10 {
    margin-bottom: 10px !important;
  }
  .mb-md-20 {
    margin-bottom: 20px !important;
  }
  .mb-md-30 {
    margin-bottom: 30px !important;
  }
  .mb-md-40 {
    margin-bottom: 40px !important;
  }
  .mb-md-50 {
    margin-bottom: 50px !important;
  }
  .mb-md-60 {
    margin-bottom: 60px !important;
  }
  .mb-md-73 {
    margin-bottom: 51px !important;
  }
  .mb-md-80 {
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 992px) {
  .pt-4 {
    padding-top: 40px !important;
  }
}

@media screen and (max-width: 992px) {
  .mt-30 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .d-md-block {
    display: block !important;
  }
}

.text-black {
  color: #000000 !important;
}

.bg-yellow {
  background-color: #fcd800;
}

.section-title {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .section-title {
    font-size: 32px;
    line-height: 50px;
  }
}

.subtitle {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.text-blue {
  color: #00a6ca;
}

h2 {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 40px;
  }
}

p {
  font-family: "Intro", Regular;
  font-weight: 600;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.text-400 {
  font-family: "Intro", Book;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.text-grey {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #707070;
}

.button-orange {
  background: #f16e00;
  border-radius: 25px;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 51px;
  text-align: center;
  text-transform: capitalize;
}

.button-orange-outline {
  background: #ffffff;
  border: 1px solid #f16e00;
  box-sizing: border-box;
  border-radius: 999px;
  border-radius: 25px;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 51px;
  text-align: center;
  text-transform: capitalize;
}

.btn-outline {
  background: #fafdff;
  border: 2px solid #3ea3ce;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Intro", Bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #3ea3ce;
  min-width: 125px;
  min-height: 35px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}
header nav .logo {
  width: 91px;
}

@media screen and (max-width: 992px) {
  .justify-content-sm-center {
    justify-content: center;
  }
}
.banner {
  position: relative;
}
@media screen and (max-width: 992px) {
  .banner {
    background: radial-gradient(136.5% 50% at 50% 50%, #1a95b9 0%, #39a1cb 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner .button-orange {
    margin: auto;
    margin-top: 30px;
  }
}
.banner .image-block {
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .banner .image-block {
    margin: auto;
    width: 98%;
    margin-left: 1.5%;
  }
  .banner .image-block img {
    margin: auto;
  }
}
.banner .image-block-mobile {
  margin: -30px 0;
}
@media screen and (max-width: 992px) {
  .banner .banner-text-block {
    padding: 30px 20px 30px 20px;
  }
}
@media screen and (min-width: 992px) {
  .banner .banner-text-block {
    left: 50px;
    position: absolute;
    top: 30px;
    bottom: 0;
    margin: auto;
    z-index: 99999;
  }
}
@media screen and (min-width: 1200px) {
  .banner .banner-text-block {
    left: 207px;
    position: absolute;
    top: 100px;
    bottom: 0;
    margin: auto;
    z-index: 99999;
  }
}
.banner .banner-text-block h2 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
  /* or 137% */
  letter-spacing: -0.01em;
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .banner .banner-text-block h2 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.01em;
  }
}
.banner .banner-text-block h4 {
  font-family: "Intro", Regular;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 992px) {
  .banner .banner-text-block h4 {
    max-width: 267px;
    margin: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .banner .banner-text-block h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.banner .banner-text-block .banner-link {
  position: relative;
  display: inline-block;
  font-weight: 600;
  padding: 0 7px;
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  .banner .banner-text-block .banner-link {
    position: relative;
    display: inline-block;
    font-weight: 600;
    padding: 0 7px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    margin: 0;
    left: 49%;
    transform: translateX(-52%);
  }
}
.banner .banner-text-block .banner-link span,
.banner .banner-text-block .banner-link img {
  position: relative;
  z-index: 2;
  color: #2c2c2c;
}
.banner .banner-text-block .banner-link img {
  margin: 0 4px;
}
.banner .banner-text-block .banner-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  left: 0;
  height: 40px;
  background: #fcd800;
  z-index: 1;
}

section.cibil-subscription {
  padding: 40px 10px;
}
@media screen and (min-width: 992px) {
  section.cibil-subscription {
    padding: 60px 0;
  }
}
@media screen and (max-width: 992px) {
  section.cibil-subscription .subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 992px) {
  section.cibil-subscription .f-sm-16 {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  section.cibil-subscription .text-grey {
    font-size: 14px;
  }
}
section.cibil-subscription .text-p p {
  max-width: 438px;
}
@media screen and (max-width: 992px) {
  section.cibil-subscription .w-sm-90 {
    margin: auto;
    width: 95%;
    display: flex;
  }
}

.cibil-subscription-plan {
  background: #f9f9f9;
  padding: 60px 0 40px;
}
@media screen and (min-width: 992px) {
  .cibil-subscription-plan .button-orange-outline,
.cibil-subscription-plan .button-orange {
    margin-top: 20px;
  }
}
.cibil-subscription-plan .v1-text {
  margin-bottom: 40px;
}

.plans {
  padding: 20px;
  padding-bottom: 0;
}
@media screen and (min-width: 450px) {
  .plans {
    padding: 20px 0 0;
  }
}
@media screen and (min-width: 1025px) {
  .plans {
    padding: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .plans .plan-outer-column {
    max-width: 240px;
    margin-right: 22px;
    padding: 0;
  }
}
.plans .plan {
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 25px 20px;
  background-color: #fff;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .plans .plan {
    margin-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  .plans .plan {
    min-height: 640px;
  }
}
@media screen and (min-width: 1025px) {
  .plans .plan {
    min-height: 545px;
  }
}
@media screen and (min-width: 1200px) {
  .plans .plan {
    min-height: 545px;
  }
}
.plans .plan:last-child {
  margin-right: 0;
}
.plans .plan.active {
  position: relative;
  border: 2px solid #00a6ca;
  box-sizing: border-box;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  .plans .plan.active {
    padding-top: 57px;
  }
}
.plans .plan.active::before {
  content: "Most Popular";
  position: absolute;
  left: -2px;
  height: 37px;
  background: #00a6ca;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101.1%;
  top: -1px;
  border-radius: 6px 6px 0 0;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 1px;
}
@media screen and (min-width: 992px) {
  .plans .plan.active::before {
    top: -35px;
  }
}
.plans .plan.active::after {
  content: "Most Popular";
  position: absolute;
  right: -2px;
  height: 37px;
  background: #00a6ca;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101.1%;
  top: -1px;
  border-radius: 6px 6px 0 0;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 1px;
}
@media screen and (min-width: 992px) {
  .plans .plan.active::after {
    top: -35px;
  }
}
.plans .plan .plan-header {
  height: 152px;
  position: relative;
}
.plans .plan .plan-header .plan-name {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.plans .plan .plan-header .plan-period {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.plans .plan .plan-header .at-price {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #707070;
  margin-top: 10px;
  margin-bottom: 47px;
}
.plans .plan .plan-header .plan-price {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-top: 11px;
}
.plans .plan .hr-bdr {
  border-bottom: 1px solid #dddddd;
  opacity: 1;
  margin: 16px 0 23px;
}

@media screen and (min-width: 992px) {
  .min-ht-350 {
    min-height: 290px;
  }
}
.save {
  position: absolute;
  width: 100px;
  height: 24px;
  left: -21px;
  bottom: 34px;
  background: #fcd800;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #2c2c2c;
  padding-left: 20px;
}

.key-value {
  display: flex;
  margin-bottom: 10px;
}
.key-value:last-child {
  margin-bottom: 0;
}
.key-value .key {
  margin-right: 12px;
}
.key-value .key img {
  width: 18px;
  height: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 992px) {
  .key-value .key img {
    width: 13px;
    height: 8px;
  }
}
.key-value .value {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.cibil-testimonial {
  padding: 40px 0;
}
@media screen and (min-width: 992px) {
  .cibil-testimonial {
    padding: 40px 0 60px;
  }
}
@media screen and (max-width: 992px) {
  .cibil-testimonial .section-title {
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .cibil-testimonial .section-subtitle {
    padding: 0 15px;
    margin-bottom: 40px;
    color: #707070;
  }
}
@media screen and (min-width: 1025px) {
  .cibil-testimonial .col-md-4 {
    max-width: 328px;
    padding: 0;
    margin-right: 20px;
  }
}
.cibil-testimonial .col-md-4:last-child {
  margin-right: 0;
}

.testimonial {
  height: 100%;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 30px 20px;
}
@media screen and (max-width: 992px) {
  .testimonial {
    min-height: 325px;
  }
}
.testimonial .stars {
  max-width: 104px;
}
.testimonial .row-1 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.testimonial .row-1 .image {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial .row-1 .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.testimonial .row-1 .play-store {
  margin-left: auto;
  position: relative;
  top: -18px;
}
.testimonial .row-1 .play-store img {
  width: 24.48px;
  height: 27.33px;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonial .testimonial-title {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 5px;
}
.testimonial p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.bg-transparent {
  background-color: transparent !important;
}

.cibil-creditcard {
  background: #f9f9f9;
  padding: 40px 0 40px;
}
.cibil-creditcard .all-cards {
  width: 100%;
  max-width: 1048px;
  margin: auto;
}
.cibil-creditcard .card-container {
  display: flex;
  flex-wrap: wrap;
}
.cibil-creditcard .credit-card {
  padding: 0;
}
@media screen and (min-width: 992px) {
  .cibil-creditcard .credit-card {
    width: 233px;
  }
}
.cibil-creditcard .credit-card img {
  width: 100%;
  max-width: 233px;
}
@media screen and (max-width: 992px) {
  .cibil-creditcard .section-title {
    margin-bottom: 20px;
  }
  .cibil-creditcard .section-subtitle {
    padding: 0 13px;
    margin-bottom: 40px;
    color: #707070;
  }
}

.cibil-score p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  max-width: 717px;
  margin: auto;
  margin-top: 59px;
  margin-bottom: 40px;
}
.cibil-score .p-bold {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  max-width: 730px;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .cibil-score .p-bold {
    font-size: 24px;
  }
}
.cibil-score .button-orange {
  display: block;
  margin: auto;
  max-width: 174px;
  margin-top: 28px;
}
@media screen and (max-width: 992px) {
  .cibil-score {
    padding-bottom: 0;
  }
}

.mobile-score-plan-desc {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-align: center;
  color: #000000;
  opacity: 0.6;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .pl-44 {
    padding-left: 44px;
  }
}

.steps {
  margin-top: 47px;
}
.steps .numb {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3ea3ce;
  border-radius: 50px;
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.cibil-steps {
  padding: 40px 0;
}
.cibil-steps .col-md-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 50px;
  padding: 0;
}
.cibil-steps .col-md-4 img {
  width: 100%;
  max-width: 205px;
}
@media screen and (min-width: 992px) {
  .cibil-steps .col-md-4 {
    max-width: 225px;
  }
}
.cibil-steps .col-md-4:last-child {
  margin-right: 0;
}
.cibil-steps .col-md-4 .steps-text {
  min-height: 50px;
  margin-top: 32px;
  margin-bottom: 0;
}

.cibil-steps-mobile {
  padding: 40px 0 40px;
}
.cibil-steps-mobile .steps-list {
  padding: 0 15px;
}
.cibil-steps-mobile .steps-list img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cibil-steps-mobile .steps-list li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.cibil-steps-mobile .steps-list li p {
  padding-top: 5px;
  margin-bottom: 0;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-left: 15px;
}
.cibil-steps-mobile .buutons-group {
  margin-top: 0;
}

@media screen and (max-width: 992px) {
  .mobile-slider .col-md-4 {
    padding: 0;
  }
}

.slick-dots {
  margin-top: 20px;
  display: flex !important;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
.slick-dots li {
  width: 26.57px;
  height: 8.86px;
  background: #dddddd;
  border-radius: 5px;
  list-style-type: none;
  margin: 0 2.5px;
}
.slick-dots li.slick-active {
  background: #00a6ca;
}
.slick-dots li button {
  display: none;
}

.buutons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .buutons-group {
    flex-direction: column;
  }
}
.buutons-group a {
  padding: 0 20px;
}
@media screen and (max-width: 992px) {
  .buutons-group a {
    margin-bottom: 20px;
    width: 210px;
  }
}
@media screen and (min-width: 992px) {
  .buutons-group a {
    margin-right: 20px;
    padding: 0 40px;
  }
}
.buutons-group a:last-child {
  margin-right: 0;
}

.monitor {
  padding-top: 30px;
  background: #f0fafc;
}
.monitor h2 {
  margin-bottom: 23px;
}
@media screen and (max-width: 992px) {
  .monitor h2 {
    padding-top: 0 !important;
  }
}
@media screen and (min-width: 992px) {
  .monitor h2 {
    margin-top: 17px !important;
    font-size: 32px;
  }
}
.monitor p {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .monitor .last-p {
    margin-bottom: 37px !important;
  }
}
.monitor .monitor-text {
  max-width: 615px;
}
@media screen and (max-width: 992px) {
  .monitor .monitor-text {
    padding: 0 25px;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .monitor .monitor-text {
    padding: 0;
  }
}
.monitor .monitor-image {
  max-width: 193px;
  padding: 0;
  margin-right: 78px;
}
.monitor .googleplay {
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .monitor .googleplay {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .last-list {
    margin-bottom: 0 !important;
  }
}

.pl-m {
  padding-left: 30px;
}

.acordion {
  padding: 60px 0 70px;
  width: 100%;
  display: flex;
  margin: auto;
}
.acordion button.accordion {
  width: 100%;
  background-color: white;
  border: none;
  outline: none;
  text-align: left;
  padding: 20px 0;
  cursor: pointer;
  opacity: 0.85;
  border-top: 2px solid #ececec;
  position: relative;
}
.acordion button.accordion span {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  display: block;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .acordion button.accordion span {
    font-family: "Intro", Bold;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #2c2c2c;
    display: block;
    width: 100%;
    max-width: 290px;
  }
}
.acordion button.accordion:after {
  content: url(../img/plus.png);
  position: absolute;
  right: 0;
  top: 22px;
}
.acordion button.accordion.is-open:after {
  content: url(../img/minus.png);
  top: 15px;
}
.acordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.acordion .accordion-content p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  max-width: 90%;
}

.accordion-content.last-border {
  border-bottom: 2px solid #ececec !important;
}

.beworthy {
  padding: 40px 0 15px;
  background: #f9f9f9;
}
.beworthy .button-orange {
  max-width: 252px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.interstial-container {
  padding-top: 40px;
  background: #f9f9f9;
}
.interstial-container .description {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  /* Accent Black */
  color: #2c2c2c;
}
.interstial-container .col-md-5.equal-column {
  max-width: 457px;
  background: #f9f9f9;
}
@media screen and (max-width: 992px) {
  .interstial-container .col-md-5.equal-column {
    padding: 0;
  }
}
.interstial-container .column {
  position: relative;
  flex: 1;
  padding: 30px 15px 0;
  padding-bottom: 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.interstial-container .column .column-body {
  text-align: center;
}
.interstial-container .column.active {
  border: 0 solid #3ea3ce;
}
.interstial-container .most-popular {
  background: #3ea3ce;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 30px;
  font-family: Intro, Regular;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: relative;
}
.interstial-container .most-popular > div {
  position: relative;
  z-index: 2;
}
.interstial-container .most-popular::after {
  content: "";
  position: absolute;
  width: 103%;
  height: 101%;
  left: -2px;
  top: -2%;
  background: #3ea3ce;
}
.interstial-container .save {
  position: absolute;
  background: #ededed;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-family: Intro, Book;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #707070;
  width: 101%;
  left: -1px;
  right: 0;
  top: -1px;
  height: 30px;
}

.mobile-slider-2 .slick-dots {
  padding: 0;
}

.plan-title {
  font-family: Intro, Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.features-mobile-section {
  padding: 30px 0;
  padding-bottom: 10px;
}
.features-mobile-section .section-title {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
  color: #001b38;
}
.features-mobile-section .nav {
  border-bottom: 0;
  background-color: transparent;
  display: flex;
}
.features-mobile-section .nav li {
  width: 33.33% !important;
  padding: 20px 10px;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  transition: all 0.2s linear;
}
.features-mobile-section .nav li:last-child {
  border-top-right-radius: 3px;
}
.features-mobile-section .nav li.active {
  background: #fff;
  border: 2px solid #3ea3ce;
  border-bottom: 2px solid #fff !important;
  border-bottom: 0;
  z-index: 1;
  width: 33% !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: -3px;
}
.features-mobile-section .nav-tabs li {
  padding-left: 10px;
  padding-right: 3px;
  padding-bottom: 35px;
}
@media screen and (max-width: 375px) {
  .features-mobile-section .nav-tabs li {
    padding-left: 5px;
  }
}
.features-mobile-section .nav-tabs li h6 {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #707070;
}
@media screen and (max-width: 375px) {
  .features-mobile-section .nav-tabs li h6 {
    font-size: 10px;
  }
}
@media screen and (min-width: 376) {
  .features-mobile-section .nav-tabs li h6 {
    font-size: 16px;
  }
}
.features-mobile-section .nav-tabs li h6.plan-name {
  font-size: 16px;
}
.features-mobile-section .nav-tabs li h3 {
  font-family: "Intro", bold;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #333;
}
.features-mobile-section .nav-tabs li h4 {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin: 5px 0;
}
.features-mobile-section .nav-tabs li span {
  background: #fcd800;
  font-family: Intro, Book;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  padding: 0 10px;
  margin-top: 15px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.features-mobile-section .tag-intabs {
  position: absolute;
  left: -2px;
  right: -2px;
  top: -31px;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  overflow: hidden;
}

.tab-pane {
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.tab-pane.active {
  border: 2px solid #3ea3ce;
}

.tab-pane.tab-pane-2 {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
}

.pane-2-flex {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pane-2-flex h6 {
  font-family: Intro, bold;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #333;
}
.pane-2-flex img {
  width: 36px;
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.tab-content {
  position: relative;
  margin-right: 1px;
}
.tab-content::before {
  content: "";
  position: absolute;
  top: 2px;
  height: 5px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  border-right: 2px solid #3ea3ce;
  border-left: 2px solid #3ea3ce;
}
.tab-content .tab-pane {
  padding: 30px 20px;
}

.tab-pane.messages {
  margin-bottom: 60px;
}

.full-width-button {
  width: 100%;
  max-width: 334px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-bg {
  background: 0 0 !important;
}

@media (min-width: 992px) {
  .features-mobile-section {
    display: none;
  }
}
@media screen and (min-width: 385px) {
  .features-mobile-section .nav-tabs li h6 {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .col-md-5.ps-md-4.text-p {
    padding: 0 22px;
  }
}

.get-all {
  display: none !important;
}

.desc-v3 {
  display: none;
}

.type-2 {
  display: none;
}

.goals {
  display: none;
}

.v1 .cibil-score {
  padding-bottom: 100px;
}
.v1 .mobile-score-plan-desc {
  display: none;
}
.v1 .subtext {
  display: none;
}
.v1 .cibil-subscription-plan .section-title {
  margin-bottom: 35px !important;
}

.v3-only,
.v2-only {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 992px) {
  .d-md-none {
    display: none;
  }
}
.v2 .v2-only {
  display: inline-block;
}
.v2 .plan-column-1 {
  display: none;
}
.v2 .v1-image {
  display: none !important;
}
@media screen and (min-width: 992px) {
  .v2 .v4-image {
    display: block !important;
  }
}
.v2 .p-bold-show {
  display: block !important;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.v2 .type-2 {
  display: block;
}
.v2 .type-1 {
  display: none;
}
.v2 .last-column {
  display: none;
}
.v2 .mobile-score-plan-desc {
  margin-bottom: 20px;
}
.v2 .v4-pnly {
  display: none !important;
}

.btn-v3-orange {
  display: none !important;
}

.v3-only-lat {
  display: none;
}

.v3 .v3-only {
  display: inline-block;
}
.v3 .v3-hide {
  display: none !important;
}
.v3 .btn-v1-orange {
  display: none !important;
}
.v3 .btn-v3-orange {
  display: block !important;
}
.v3 .v1-image {
  display: none !important;
}
@media screen and (min-width: 992px) {
  .v3 .v4-image {
    display: block !important;
  }
}
.v3 .p-bold-show {
  display: block !important;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.v3 .get-all {
  position: relative;
}
@media screen and (min-width: 992px) {
  .v3 .get-all {
    display: block !important;
    height: 288px;
  }
  .v3 .get-all img {
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    width: 100%;
  }
}
.v3 .get-all .text-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
}
.v3 .get-all .text-block .section-title {
  margin-bottom: 42px;
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  /* or 137% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}
.v3 .get-all .text-block a {
  max-width: 240px;
  display: block;
  margin: auto;
}
.v3 .mobile-score-plan-desc {
  display: none;
}
.v3 .cibil-subscription-plan {
  display: none !important;
}
.v3 .desc-v3 {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}
.v3 .type-2 {
  display: block;
}
.v3 .type-1 {
  display: none;
}
.v3 .last-column {
  display: none;
}
@media screen and (min-width: 992px) {
  .v3 .v4-pnly {
    display: none !important;
  }
}

.v4-image {
  display: none !important;
}

.v4 .v4-button {
  margin: auto;
  display: block !important;
  max-width: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .v4 .v4-button {
    margin-bottom: 55px;
  }
}
.v4 .v4-padding-bottom-0 {
  padding-bottom: 0;
}
.v4 .v2-text {
  display: block;
}
.v4 .v1-image {
  display: none !important;
}
.v4 .v4-text-none {
  display: none !important;
}
.v4 .v4-image {
  display: none !important;
}
@media screen and (min-width: 992px) {
  .v4 .v4-image {
    display: block !important;
  }
}
.v4 .p-bold-show {
  display: block !important;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.v4 section {
  display: none;
}
.v4 .banner {
  display: flex;
}
.v4 .cibil-score,
.v4 .goals {
  display: flex;
}
.v4 .cibil-score .mobile-score-plan-desc,
.v4 .cibil-score .button-orange,
.v4 .cibil-score .p-bold,
.v4 .goals .mobile-score-plan-desc,
.v4 .goals .button-orange,
.v4 .goals .p-bold {
  display: none;
}

.goals {
  background-color: #f9f9f9;
  padding-top: 40px;
  box-sizing: border-box;
  padding-bottom: 34px;
}
@media screen and (max-width: 992px) {
  .goals {
    padding: 46px 8px 40px;
  }
  .goals .btn-orange {
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  .goals .btn-orange-2 {
    margin-top: 30px;
  }
}
@media screen and (min-width: 992px) {
  .goals {
    padding-bottom: 96px;
  }
}
.goals .title {
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  .goals .title {
    max-width: 315px;
  }
}
@media screen and (min-width: 992px) {
  .goals .title {
    font-size: 32px;
  }
}
.goals .plan-details {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .goals .plan-details {
    margin-bottom: 17px;
  }
}
.goals .goal {
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  background: #fff;
  padding-bottom: 0;
}
@media screen and (max-width: 992px) {
  .goals .goal {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .goals .goal {
    margin-top: 33px;
    min-height: 315px;
  }
}
.goals .goal img {
  width: 59px;
  -o-object-fit: contain;
     object-fit: contain;
}
.goals .goal h6 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin: 26px 0 14px;
}
@media screen and (min-width: 992px) {
  .goals .goal h6 {
    margin: 35px 0 14px;
  }
}
.goals .goal p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}

.footer-section {
  background: #ffffff;
  border-top: 5px solid #fcd833;
  padding: 20px 0 50px 0;
}

@media (min-width: 992px) {
  .footer-section .row {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .footer-section {
    padding: 45px 20px 80px;
  }
}
@media (max-width: 991px) {
  .footer-left {
    text-align: center;
  }
}
.footer-right {
  text-align: right;
}

@media (max-width: 991px) {
  .footer-right {
    text-align: center;
  }
}
.footer-logo {
  margin-bottom: 30px;
}

.footer-text h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000000;
}

@media (max-width: 991px) {
  .footer-text h3 {
    font-size: 16px;
  }
}
.footer-text p {
  font-size: 20px;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 991px) {
  .footer-text p {
    font-size: 16px;
  }
}
.footer-text p.rights {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .footer-text p.rights {
    margin-top: 30px;
    font-size: 16px;
  }
}
.social-media-icons a {
  display: inline-block;
  margin-right: 8px;
}

@media (max-width: 991px) {
  .social-media-icons a img {
    width: 32px;
    height: 32px;
  }
}
.social-media-icons a:last-child {
  margin-right: 0;
}

@media (max-width: 991px) {
  .social-media-icons {
    padding-bottom: 30px;
    margin-bottom: 38px;
    border-bottom: 1px solid #c4c4c4;
  }
}
.tool-tip {
  position: absolute;
  width: 359px;
  max-width: 330px;
  min-height: 21px;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  top: -59px;
  right: -50px;
  opacity: 0;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .tool-tip {
    right: -90px;
  }
}

.info-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: -10px;
  margin: auto;
  height: 15px;
  width: 15px;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  top: -17px;
  transform: rotate(45deg);
  border-top: 0;
  border-left: 0;
  opacity: 0;
}
.info-img.opacity-1::after {
  opacity: 1;
}

.position-relative {
  position: relative;
}

.opacity-1 {
  opacity: 1;
}

.v4-pnly {
  display: none !important;
}

.v4 .v4-pnly {
  display: flex;
  align-items: center;
}
.v4 .v3-only {
  display: inline-block !important;
}

@media screen and (min-width: 992px) {
  .pe-md-0 {
    padding-right: 0;
  }

  .ps-md-0 {
    padding-left: 0;
  }
}
.v3 .v3-only-lat {
  display: block !important;
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

@media screen and (max-width: 992px) {
  .sm-14 {
    font-size: 14px !important;
    color: #707070 !important;
  }

  .sm-14-black {
    font-family: "Intro", Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 26px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
  }

  .p-medium-bold {
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    /* Accent Black */
    color: #2c2c2c;
  }
}
@media screen and (min-width: 992px) {
  .p-medium-bold {
    font-family: "Intro", Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #2c2c2c;
    max-width: 717px;
    margin: auto;
  }
}
@media screen and (max-width: 992px) {
  .trasform-right {
    margin-right: -13px;
  }
}/*# sourceMappingURL=custom.css.map */