main section.credit-history .chart-history {
    position: relative;
    width: 100%;
    min-height: 500px;
    margin: auto;
}
main section.credit-history .chart-history path.x-axis-grid,
main section.credit-history .chart-history path.y-axis-grid {
    stroke: #ededed;
    stroke-width: 1;
}
main section.credit-history .chart-history text.x-axis-label {
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #2c2c2c;
}
@media screen and (max-width: 480px) {
    main section.credit-history .chart-history text.x-axis-label {
        font-size: 0.83em;
    }
}
main section.credit-history .chart-history text.y-axis-label {
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #707070;
}
@media screen and (max-width: 480px) {
    main section.credit-history .chart-history text.y-axis-label {
        font-size: 0.85em;
    }
}
main section.credit-history .chart-history path.polygon {
    stroke: transparent;
    fill: #00a6ca;
    opacity: 0.1;
}
main section.credit-history .chart-history path.line {
    stroke: #00a6ca;
    stroke-width: 1;
}
main section.credit-history .chart-history circle.outer {
    stroke: #fff;
    stroke-width: 1;
    fill: #00a6ca;
    cursor: pointer;
}
main section.credit-history .chart-history circle.inner {
    stroke: #fff;
    stroke-width: 1;
    fill: #00a6ca;
    cursor: pointer;
}
main section.credit-history .chart-history dl {
    background: #fff;
    margin: 0 0 30px;
    display: none;
    position: absolute;
    width: 160px;
    padding: 15px 40px;
    left: unset !important;
    right: -200px;
    background: #f9f9f9;
    border: 1px solid #dde0ef;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 212px;
    flex-direction: column;
    top: 20px !important;
}
main section.credit-history .chart-history dl dt {
    font-size: 14px;
    float: left;
    clear: left;
    width: 80px;
    text-align: right;
    line-height: 2em;
    min-width: 100px;
}
main section.credit-history .chart-history dl dt.active,
main section.credit-history .chart-history dl dt.active + dd {
    color: #00a6ca;
}
main section.credit-history .chart-history dl dd {
    margin: 0;
    padding: 0;
    font-family: "Intro", Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2c2c2c;
}
@media screen and (max-width: 480px) {
    main section.credit-history .chart-history dl {
        position: relative;
        top: auto !important;
        left: auto !important;
        margin: 15px auto;
    }
}
.graphdata {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    flex: 1;
}
.graphdata:last-child {
    margin-bottom: 0px;
    padding-bottom: 0;
    border-bottom: none;
}
.graphdata dt {
    font-family: "Intro", Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2c2c2c;
}
