@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2956px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Intro";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Intro";
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  outline: none !important;
  display: inline-block;
}
a:hover {
  color: #2c2c2c;
}

h2 {
  margin: 0;
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h6 {
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.text-black {
  color: #000000 !important;
}

.bg-yellow {
  background-color: #fcd800;
}

.section-title {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}

p {
  font-family: "Intro", Regular;
  font-weight: 600;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.button-orange {
  background: #f16e00;
  border-radius: 25px;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 51px;
  text-align: center;
  text-transform: capitalize;
}

.btn-outline {
  background: #fafdff;
  border: 2px solid #3ea3ce;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Intro", Bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #3ea3ce;
  min-width: 125px;
  min-height: 35px;
}

.col-12 {
  width: 100%;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}
header nav .logo {
  width: 91px;
}

.banner {
  position: relative;
}
.banner .row {
  display: flex;
  align-items: center;
}
.banner .image-block {
  margin-left: auto;
}
.banner .banner-text-block h2 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.banner .banner-text-block h3 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.banner .banner-text-block h4 {
  font-family: "Intro", Regular;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}
.banner .banner-text-block p {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 20px;
}

.banner-1 {
  margin-left: auto;
}
@media screen and (min-width: 992px) {
  .banner-1 {
    max-width: 412px;
  }
}

@media screen and (max-width: 992px) {
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

.bg-transparent {
  background-color: transparent !important;
}

.cibil-creditcard {
  background: #f9f9f9;
  padding: 40px 0 40px;
}

.d-block {
  display: block;
}

.goals {
  padding-top: 40px;
  box-sizing: border-box;
  padding-bottom: 34px;
}
.goals .goal {
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  background-color: #f9f9f9;
  padding-bottom: 0;
}
.goals .goal img {
  object-fit: contain;
}
.goals .goal h6 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin: 26px 0 14px;
  text-transform: uppercase;
}
.goals .goal p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}

.social-media-icons a {
  display: inline-block;
  margin-right: 8px;
}
.social-media-icons a:last-child {
  margin-right: 0;
}

.slider {
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 5px 0;
  position: relative;
}
.slider .slider-row {
  width: 100%;
  height: 80px;
  background-image: url(../img/allbrands-slider.png);
  background-size: cover;
  margin: auto;
  animation: slide 50s linear infinite;
  position: relative;
}
.slider .slider-row::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 200px;
  background-image: url(../img/overlay-left.png);
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.slider .slider-row::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 259px;
  background-image: url(../img/overlay-right.png);
  top: 0;
  right: -4px;
  bottom: 0;
  margin: auto;
  background-size: 100%;
  background-position: left;
}

.steps {
  margin-bottom: 100px;
}
@media screen and (min-width: 992px) {
  .steps {
    display: flex;
    justify-content: center;
  }
}
.steps .step {
  margin: 0 10px;
  width: 180px;
  height: 160px;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}
.steps .step .icon {
  display: flex;
  justify-content: center;
}
.steps .step .grey-bg {
  width: 156px;
  height: 26px;
  margin: auto;
  background: #707070;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  border-radius: 5px;
  color: #ffffff;
}
.steps .step .number {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3ea3ce;
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  margin-top: 12px;
}
.steps p {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.steps-btn {
  display: flex;
  margin-top: 40px;
}
.steps-btn .button-orange {
  width: 100%;
  max-width: 164px;
}

.login {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 20px;
  text-align: left;
  color: #ffffff;
}
.login a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .text-center {
    text-align: center;
  }

  .mhide {
    display: none !important;
  }

  .banner {
    background: radial-gradient(136.5% 50% at 50% 50%, #1a95b9 0%, #39a1cb 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner .button-orange {
    margin-top: 30px;
  }
  .banner .banner-text-block .v1-text {
    font-family: "Intro", Bold;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #ffffff;
    text-align: left;
    margin-top: 30px;
  }
  .banner .banner-text-block h4 {
    max-width: 267px;
    margin-top: 20px;
  }

  .cibil-creditcard .section-title {
    margin-bottom: 20px;
  }

  .goals .goal {
    padding-bottom: 30px;
  }

  .slider .slider-row::after {
    width: 50px;
    background-size: 100%;
  }
  .slider .slider-row::before {
    width: 100px;
    background-size: 100%;
    background-position: left;
  }
}
@media screen and (min-width: 992px) {
  .dhide {
    display: none !important;
  }

  .mb-md-20 {
    margin-bottom: 20px !important;
  }

  .section-title {
    font-size: 32px;
    line-height: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .banner {
    background-image: url(../img/blubg.png);
    background-size: 100% 100%;
    padding-top: 20px;
  }
  .banner .banner-text-block h2 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.01em;
  }
  .banner .banner-text-block h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .goals {
    padding-bottom: 76px;
  }
  .goals .goal {
    margin-top: 33px;
    min-height: 280px;
    padding-top: 20px;
    padding-right: 10px;
  }
  .goals .goal h6 {
    margin: 20px 0 14px;
  }

  .pe-md-0 {
    padding-right: 0;
  }

  .ps-md-0 {
    padding-left: 0;
  }

  .slider {
    padding: 15px 0;
  }
  .slider .slider-row {
    background-size: cover;
    background-position: -100px;
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.footer-section {
  background: #ffffff;
  border-top: 5px solid #fcd833;
  padding: 20px 0 50px 0;
}

.footer-right {
  text-align: right;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-text h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000000;
}
.footer-text p {
  font-size: 20px;
  margin: 0;
  font-weight: 300;
}
.footer-text p.rights {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .footer-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .footer-section {
    padding: 45px 20px 80px;
  }

  .footer-left {
    text-align: center;
  }

  .footer-right {
    text-align: center;
  }

  .footer-text h3 {
    font-size: 16px;
  }
  .footer-text p {
    font-size: 16px;
  }
  .footer-text p.rights {
    margin-top: 30px;
    font-size: 16px;
  }

  .social-media-icons {
    padding-bottom: 30px;
    margin-bottom: 38px;
    border-bottom: 1px solid #c4c4c4;
  }
  .social-media-icons a img {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1600px) {
  .slider .slider-row {
    max-width: 1200px;
  }
}/*# sourceMappingURL=custom.css.map */