/* colors */
$light-blue: #F6F7FC;
$black: #2C2C2C;
$border-color: #DDE0EF;
$blue: #00A6CA;
$secondary-blue: #006685;
$gray: #ACACAC;
$border-color1:#EDEDED;
$border-color2:#EBEBEB;
$gray1: #707070;
$gray2: #F9F9F9;

/* Global Elements */
.container{
    padding-left: 20px;
    padding-right: 20px;    
}
.main-heading{
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: $black;
    margin-top: 0px;
    margin-bottom: 10px;
    @media(max-width:768px){
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
}
.paragraph{
    font-family: "Intro", Book;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $black;
    margin: 0px;
}

.section-title{
    font-family: "Intro", Regular;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: $black;
}

.list{
    text-align: left;
    padding-left: 14px;
    li{
        margin-bottom: 0px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: -14px;
            width: 4px;
            height: 4px;
            top: 9px;
            background: $black;
            border-radius: 50%;
        }
        ol{
            padding-left: 21px;
            li{
                margin: 0px;
            }
        }
    }
}

.link{
    color: $secondary-blue;
    text-decoration: underline;
    font-weight: 600;
    text-underline-offset: 0.2rem !important;
    text-decoration-thickness: 0.1rem !important;
    &:focus{
        border: none !important;
        outline: none !important;
    }
}

input{
    height: 50px;
    padding: 17px 10px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $black;
    caret-color: $gray;
    border-radius: 4px;
    &.search-input{
        width: 100%;
        border:none;
    }
    @media(max-width:768px){
        padding: 17px 12px;
    }
}
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder{
    color: $gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 1;
  }

/* Heading Section */
.heading-section{
    background-color: $light-blue;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.search-bar{
    max-width: 680px;
    margin: 30px auto 0px;
    position: relative;
    &__wraper{
        background-color: #ffffff;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: border 0.3s ease-in-out;
        button{
            &.search {
                pointer-events: none;
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
                background-color: #fff;
                padding-left: 16px;
                padding-right: 0px;
                display: flex;
                svg{
                    width: 18px;
                }
                @media(max-width:768px){
                    padding-left: 12px;
                    svg{
                        width: 16px;
                    }
                }
              }
              &.close-btn {
                border: none !important;
                outline: none !important;
                background: none !important;
                height: 22px;
                width: 22px;
                padding: 0px;
                margin-right: 20px;
                @media(max-width:768px){
                    margin-right: 12px;
                }
            }
        }
        &.focused{
            border-color: $blue;
        }
    }
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $gray;
    caret-color: $gray;
}
.twitter-typeahead{
    width: 100% !important;
}
.tt-menu{
        width: calc(100% + 75px);
        top: 54px !important;
        left: -35px !important;
        background: #FFFFFF;
        border: 1px solid $border-color1;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: none;
        text-align: left;
        padding: 10px 0px;
        overflow: hidden;
        overflow-y: scroll;
        max-height: 272px;
        .tt-dataset{
            margin: 0px;
            .tt-suggestion {
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #2C2C2C;
                font-family: "Intro", Book;
                padding: 10px 60px 8px;
                background-color: #ffffff;
                transition: all 0.3s ease-in-out;
                strong{
                    font-weight: 400;
                    transition: all 0.3s ease-in-out;
                }
                @media(min-width:769px){
                    &:hover, &:focus{
                        font-family: "Intro", Regular;
                        font-weight: 600;
                        background-color: $gray2;
                        strong{
                            font-weight: 600;
                        }
                    }
                }
              }
        }
        @media(max-width:768px){
            width: calc(100% + 60px);
            left: -29px !important;
            padding: 0px;
            max-height: 372px;
            .tt-dataset{
                .tt-suggestion{
                    padding: 20px 36px;
                    &:not(:first-child){
                        padding-top: 0px;
                    }
                }
            }
        }
    }


/* Default Section */

.default-section{
    &__wraper{
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 720px;
        margin: auto;
        .image{
            margin-bottom: 80px;
        }
        .section-title{
            margin-bottom: 20px;
        }
        .list{
            li{
                text-align: justify;
            }
        }
    }
    @media(max-width:768px){
        &__wraper{
            padding-top: 80px;
            padding-bottom: 80px;
            .image{
                margin-bottom: 61px;
            }
            .list{
                li{
                    text-align: left;
                }
            }
        }
    }
}

/* Empty state */
.error-section{
    &__wraper{
        padding-top: 100px;
        padding-bottom: 100px;
        .image{
            margin-bottom: 44.2px;
        }
    }
    @media(max-width:768px){
        &__wraper{
            padding-top: 80px;
            padding-bottom: 80px;
            .image{
                margin-bottom: 20px;
            }
        }
    }
}

/* Table */

.members-table-section{
    &__wraper{
        padding-top: 44px;
        padding-bottom: 44px;
        .dataTables_wrapper{
            table{
                font-family: "Intro", Regular;
                thead{
                    th{
                        color: $blue;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        padding: 20px 0;
                        border-bottom: 1px solid $gray1;
                        @media(min-width:769px){
                            padding: 20px 15px;
                            &:nth-child(1){
                                width: 175px !important;
                                padding-left: 0px;
                            }
                            &:nth-child(2){
                                width: 160px !important;
                            }
                            &:nth-child(3){
                                width: 170px !important;
                            }
                            &:nth-child(5){
                                width: 145px !important;
                                padding-right: 0px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border-collapse: separate;
                            padding: 20px 0px;
                            font-family: "Intro", Book;
                            font-size: 16px;
                            line-height: 24px;
                            @media(min-width:769px){
                                padding: 20px 15px;
                                &:first-child{
                                    padding-left: 0px;
                                }
                                &:nth-child(5){
                                    padding-right: 0px;
                                }
                            }
                        }
                        &:not(:last-child){
                            td{
                                border-bottom: 1px solid #DDDDDD;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width:768px){
        &__wraper{
            padding-top: 20px;
            padding-bottom: 60px;
            .dataTables_wrapper{
                table{
                    thead{
                        border: none;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                    tbody{
                        display: block;
                        tr{
                            display: block;
                            border: 1px solid $border-color2;
                            border-radius: 6px;
                            padding: 20px;
                            overflow: hidden;
                            &:not(:last-child){
                                margin-bottom: 20px;
                                td{
                                    border-bottom: none;
                                }
                            }
                            td{
                                .dot {
                                    border-radius: 5px;
                                    padding: 0px 8px;
                                    &:before{
                                        content: '';
                                        height: 4px;
                                        width: 4px;
                                        background-color: $black;
                                        display: block;
                                        border-radius: 5px;
                                    }
                                }
                                display: block;
                                padding: 0px;
                                font-family: "Intro", Book;
                                display: flex;
                                align-items: center;
                                &:before{
                                    display: inline-flex;
                                    margin-right: 18px;
                                    position: relative;
                                    top: 5px;
                                }
                                &:nth-child(1){
                                    font-family: "Intro", Regular;
                                    font-weight: 600;
                                }
                                &:nth-child(2){
                                    border-bottom: 1px solid $border-color1;
                                    font-size: 14px;
                                    line-height: 24px;
                                    padding-bottom: 10px;
                                }
                                &:nth-child(3){
                                    padding-top: 20px;
                                    padding-bottom: 10px;
                                    &:before{
                                        content: url(images/phone.svg);
                                    }
                                }
                                &:nth-child(4){
                                    padding-bottom: 10px;
                                    &:before{
                                        content: url(images/mail.svg);
                                    }
                                }
                                &:nth-child(5){
                                    &:before{
                                        top: 3px;
                                        content: url(images/time.svg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Footer Disclaimer */
.footer-disclaimer{
    &__wraper{
        padding-bottom: 10px;
        @media (min-width: 1200px){
            width: 1215px;
        }
        .paragraph{
            font-family: "Intro", Regular;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.02em;
            color: black;
        }
    }
    @media(max-width:768px){
        &__wraper{
            padding-left: 10px;
            padding-right: 11px;
            .paragraph{
                font-size: 12px;
                line-height: 140%;
            }
        }
    }
}