* {
  margin: 0;
  padding: 0;
  font-family: "Intro";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Intro";
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  outline: none !important;
  display: inline-block;
}
a:hover {
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px !important;
}
.f-15 {
  font-size: 15px !important;
}
.f-16 {
  font-size: 16px !important;
}
.f-17 {
  font-size: 17px !important;
}
.f-18 {
  font-size: 18px !important;
}
.f-19 {
  font-size: 19px !important;
}
.f-20 {
  font-size: 20px !important;
}
.f-22 {
  font-size: 22px !important;
}
.f-24 {
  font-size: 24px !important;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .mb-md-60 {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 992px) {
  .mb-md-73 {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 992px) {
  .mb-md-80 {
    margin-bottom: 80px;
  }
}

.section-title {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}

.subtitle {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.text-blue {
  color: #00a6ca;
}

h2 {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}

p {
  font-family: "Intro", Regular;
  font-weight: 600;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.text-400 {
  font-family: "Intro", Book;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.text-grey {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #707070;
}

.button-orange {
  background: #f16e00;
  border-radius: 25px;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  padding: 13px 53px;
  text-decoration: none;
}

.banner {
  background: radial-gradient(76.99% 76.99% at 50% 50%, #ffffff 0%, #f4f4f4 93.54%);
  padding: 84px 0 116px;
}
.banner .carousel .carousel-indicators {
  transform: translateY(55px);
}
@media screen and (min-width: 992px) {
  .banner .carousel .carousel-indicators {
    transform: translateY(85px);
  }
}
.banner .carousel .carousel-indicators [data-bs-target] {
  height: 8px;
  background-color: #00a6ca;
  border-radius: 5px;
}

section.cibil-subscription {
  padding: 60px 0;
}

.plans {
  padding: 20px;
}
.plans .plan {
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 25px 20px;
}
@media screen and (max-width: 992px) {
  .plans .plan {
    margin-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  .plans .plan {
    max-width: 240px;
    height: 499px;
    margin-right: 22px;
  }
}
.plans .plan:last-child {
  margin-right: 0;
}
.plans .plan.active {
  position: relative;
  border: 2px solid #00a6ca;
  box-sizing: border-box;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  .plans .plan.active {
    padding-top: 57px;
  }
}
.plans .plan.active::before {
  content: "Most Popular";
  position: absolute;
  left: -2px;
  height: 37px;
  background: #00a6ca;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101.1%;
  top: -1px;
  border-radius: 6px 6px 0 0;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 1px;
}
@media screen and (min-width: 992px) {
  .plans .plan.active::before {
    width: 240px;
  }
}
@media screen and (min-width: 992px) {
  .plans .plan.active::before {
    top: -35px;
  }
}
.plans .plan .plan-header {
  height: 152px;
  position: relative;
}
.plans .plan .plan-header .plan-name {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #645151;
}
.plans .plan .plan-header .plan-period {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.plans .plan .plan-header .at-price {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #707070;
  margin-top: 11px;
}
.plans .plan .plan-header .plan-price {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-top: 47px;
}
.plans .plan hr {
  border-bottom: 2px solid #dddddd;
}

.save {
  position: absolute;
  width: 100px;
  height: 24px;
  left: -21px;
  bottom: 34px;
  background: #fcd800;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #2c2c2c;
  padding-left: 20px;
}

.key-value {
  display: flex;
  margin-bottom: 10px;
}
.key-value:last-child {
  margin-bottom: 0;
}
.key-value .key {
  margin-right: 12px;
}
.key-value .key img {
  width: 13px;
  height: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.key-value .value {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}/*# sourceMappingURL=custom.css.map */