* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.d-block {
    display: block;
}
@media screen and (min-width: 992px) {
    .d-md-flex {
        display: flex;
    }
}

.align-items-center {
    align-items: center;
}
.d-none {
    display: none;
}
.d-md-block {
    @media screen and (min-width: 992px) {
        display: block;
    }
}
.img-fluid {
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1200px;
}
.banner {
    background-image: url(img/mobilebg.png);
    background-size: cover;

    @media screen and (max-width: 992px) {
        text-align: center;
        padding: 40px 0 12px;
    }

    @media screen and (min-width: 992px) {
        background-size: 100% 100%;
        padding: 40px 0 18px;
        background-image: url(img/bgbanner.png);
    }

    background-repeat: no-repeat;
    img {
        width: 100%;
        @media screen and (max-width: 992px) {
            margin-top: 30px;
        }

        @media screen and (min-width: 992px) {
            max-width: 728px;
        }
    }
}

.text-block {
    .title {
        font-family: "Intro", Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 11px;
        letter-spacing: -0.01em;

        margin-bottom: 30px;
        @media screen and (min-width: 992px) {
            width: 600px;

            margin-bottom: 20px;
        }

        color: #2c2c2c;
    }

    .description {
        @media screen and (max-width: 992px) {
            margin-top: 12px;
        }
        font-size: 16px;
    }
    .offer-code {
        margin-bottom: 30px;
        margin-top: 20px;
        @media screen and (min-width: 992px) {
            margin-bottom: 40px;
        }
    }
}
p {
    font-family: "Intro", Book;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.02em;
    color: #2c2c2c;
    strong {
        font-weight: bold;
        margin-left: 10px;
        a {
            letter-spacing: 0.02em;
            text-decoration-line: underline;
            color: #2c2c2c;
        }
    }
    span {
        font-weight: 600;
    }
    .discount {
        font-weight: 700;
        background-color: #fcd800;
    }
}
@media screen and (max-width: 992px) {
    .mhide {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .dhide {
        display: none;
    }
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 304px;
    @media screen and (min-width: 992px) {
        width: 325px;
    }

    height: 50px;
    background: #f16e00;
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #2c2c2c !important;
    text-decoration: none !important;

    @media screen and (max-width: 992px) {
        margin: auto;
    }

    &:hover {
        background-color: #db6402;
    }
}
