
* {
    margin: 0;
    padding: 0;
    font-family: "Intro";
    scroll-behavior: smooth;
}

body {
    font-family: "Intro";
    background: #ffffff;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.text-color {
    &-black {
        color: #000000;
    }
    &-black-75 {
        color: rgba(0, 0, 0, 0.75);
    }
    &-blue {
        color: #3ea3ce;
        &:hover {
            color: #3ea3ce;
        }
    }
    &-white {
        color: #ffffff;
    }
    &-yellow {
        color: #fcd833;
    }
    &-brown {
        color: #232323;
    }
    &-green {
        color: #18a160;
    }
}

.h-100 {
    height: 100%;
}

.w-70 {
    width: 70%;
}

.bg {
    &-light-blue {
        background: #eff7fe;
    }
}
.pr-1{
    padding-right: 10px;
}

.text-decoration {
    &-none {
        text-decoration: none;
        outline: 0;
        &:hover {
            text-decoration: none;
            outline: 0;
        }
    }
    &-underline {
        text-decoration: underline;
        outline: 0;
        &:hover {
            text-decoration: underline;
            outline: 0;
        }
    }
}

.font {
    &-12 {
        font-size: 12px;
    }
    &-14 {
        font-size: 14px;
    }
    &-15 {
        font-size: 15px;
    }
    &-16 {
        font-size: 16px !important;
    }
    &-17 {
        font-size: 17px;
    }
    &-18 {
        font-size: 18px;
        line-height: 22px;
    }
    &-19 {
        font-size: 19px;
    }
    &-20 {
        font-size: 20px;
    }
    &-22 {
        font-size: 22px;
    }
    &-24 {
        font-size: 24px;
    }
}

.font-weight {
    &-300 {
        font-weight: 300;
    }
    &-400 {
        font-weight: 400;
    }
    &-600 {
        font-weight: 600;
    }
    &-700 {
        font-weight: 700;
    }
}

.padding {
    &-10 {
        padding: 10px;
    }
    &-20 {
        padding: 20px;
    }
    &-30 {
        padding: 30px;
    }
    &-40 {
        padding: 40px;
    }
    &-50 {
        padding: 50px;
    }
}

.mb {
    &-0 {
        margin-bottom: 0;
    }
    &-05 {
        margin-bottom: 5px;
    }
    &-1 {
        margin-bottom: 10px;
    }
    &-15 {
        margin-bottom: 15px;
    }
    &-2 {
        margin-bottom: 20px;
    }
    &-3 {
        margin-bottom: 30px;
    }
    &-4 {
        margin-bottom: 40px;
    }
    &-5 {
        margin-bottom: 50px;
    }
    &-6 {
        margin-bottom: 60px;
    }
}

.mt {
    &-0 {
        margin-top: 0;
    }
    &-1 {
        margin-top: 10px;
    }
    &-15 {
        margin-top: 15px;
    }
    &-2 {
        margin-top: 20px;
    }
    &-3 {
        margin-top: 30px;
    }
    &-4 {
        margin-top: 40px;
    }
    &-5 {
        margin-top: 50px;
    }
    &-6 {
        margin-top: 60px;
    }
}

.mh-auto {
    margin-left: auto;
    margin-right: auto;
}

.pt-2 {
    padding-top: 20px;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.align-items {
    &-center {
        align-items: center;
    }
}

.max {
    &-450 {
        max-width: 455px;
        margin-left: auto;
        @media (max-width: 991px) {
            max-width: 100%;
        }
    }
    &-480 {
        max-width: 480px;
        @media (max-width: 991px) {
            max-width: 100%;
        }
    }
}

.m-visible {
    @media (min-width: 992px) {
        display: none !important;
    }
}

.m-hidden {
    @media (max-width: 991px) {
        display: none !important;
    }
}

.row-mobile-reverse {
    @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
        .order-0 {
            order: 0;
        }
        .order-1 {
            order: 1;
        }
    }
}

.custom-container {
    @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.min-container{
    @media (min-width: 1400px) {
        width: 1375px;
        padding-right: 10px;
        padding-left: 10px;
        margin: auto;
    }
}

.grey-sep {
    height: 1px;
    width: 100%;
    background: #b9b9b9;
    margin: 20px 0;
}

.w {
    &-36 {
        @media (min-width: 992px) {
            width: 36%;
        }
    }
    &-64 {
        @media (min-width: 992px) {
            width: 64%;
            padding-right: 35px;
        }
    }
    &-70 {
        @media (min-width: 992px) {
            width: 70%;
            padding-right: 35px;
        }
    }
}

.pb-m-2 {
    @media (max-width: 991px) {
        padding-bottom: 20px;
    }
}

.d-block {
    display: block;
}
.header {
    padding: 15px;
    background: #ffffff;
    border-bottom: 5px solid #fcd833;
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 991px) {
        padding: 12px 0;
        border-bottom: 0;
    }
}

.button-yellow {
    background: #fcd833;
    border: 1px solid #fcd833;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 999px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 44px;
    width: 100%;
    text-align: center;
    &.disabled {
        background: #ededed;
        border: 1px solid #ededed;
        color: #bfbfbf;
    }
    &:focus {
        outline: 0;
    }
}
.button-blue {
    background: #3EA3CE;
    border: 1px solid #3EA3CE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 999px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    font-weight: 600;
    padding: 18px 44px;
    width: 100%;
    color: white;
    text-align: center;
    &.disabled {
        background: #ededed;
        border: 1px solid #ededed;
        color: #bfbfbf;
    }
    &:focus {
        outline: 0;
    }
}


.section-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #005365;
    opacity: 0.9;
    @media (max-width: 991px) {
        font-size: 24px;
        line-height: 44px;
        opacity: 1;
    }
}

.section-title-lg {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    width: auto;
}
.section-subtitle {
    font-size: 15px;
    line-height: 20px;
    &.light-grey {
        color: #777777;
    }
    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
    }
}
.seperator{
    img{
        width: 100%;
    }
    @media(max-width: 991px){
        display: flex;
    }
}
/* Hero section */
.hero-section{
    background-image: url('../img/approve-loan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 80px 0;
    position: relative;
    min-height: 478px;
    display: flex;
    align-items: center;
    background-position: 100% 90%;
    .custom-container{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media(max-width: 991px){
            flex-direction: column;
        }
    }
    .content-block{
        background: rgba(255, 255, 255, 0.91);
        padding: 40px;
        .title{
            font-family: Intro;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            color: #000000;
            margin-bottom: 27px;
            @media(max-width: 991px){
                font-size: 24px;
                line-height: 30px;
                opacity: 0.8;
                margin-bottom: 10px;
            }
        }
        .subtitle{
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
            color: #000000;
            margin-bottom: 44px;
            padding-right: 34px;
            @media(max-width: 991px){
                padding-right: 0px;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: -0.01em;
                opacity: 0.9;
                margin-bottom: 25px;
            }
        }
        .button-yellow{
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: capitalize;
            color: #000000;
            justify-content: center;
            max-width: 342px;
            @media(max-width: 991px){
                margin: auto;
                font-size: 16px;
                line-height: 16px;
            }
            @media(max-width: 375px){
                padding: 18px 22px;
            }
        }
        @media(max-width: 991px){
            padding: 24px 15px;
        }
    }
    .image-block{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            width: 100%;
            height: auto;
            max-width: 375px;
            @media(max-width: 991px){
                max-width: 300px;
            }
        }
        @media(max-width: 991px){
            left:0;
            right:0;
            margin: auto;
        }
    }
    @media(max-width: 991px){
        min-height: 720px;
        text-align: center;
        align-items: flex-start;
        padding-top: 20px;
    }
}

/* features */
.features{
    margin-top: 80px;
    margin-bottom: 75px;
    .section-title{
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        color: #005365;
        opacity: 0.9;
        position: relative;
        span:first-child{
            @media(max-width: 991px){
                display: block;
            }
        }
        .sub-text{
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
            color: #005365;
            opacity: 0.9;
            @media(max-width: 991px){
                font-size: 24px;
                line-height: 32px;
            }
        }
        &:after{
            content: '';
            background-image: url('../img/line-break.svg');
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 450px;
            height: 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -25px;
            margin: auto;
        }
        @media(max-width: 991px){
            font-size: 24px;
            line-height: 32px;
        }
    }
    .feature-list{
        margin-top: 68px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-item{
            background: rgba(238, 238, 238, 0.4);
            border-radius: 4px;
            padding: 47px 32px 47px 72px;
            margin: 10px 0;
            h4{
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                color: #000000;
                opacity: 0.9;
                margin-bottom: 6px;
                position: relative;
                &:after{
                    content: '';
                    background-image: url('../img/tick.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    top: 0;
                    left: -42px;
                    object-fit: contain;
                    @media(max-width: 991px){
                        width: 18px;
                        height: 18px;
                        left: -30px;
                    }
                }
                @media(max-width: 991px){
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            p{
                font-weight: normal;
                font-size: 24px;
                line-height: 32px;
                color: #000000;
                opacity: 0.8;
                margin-bottom: 0;
                @media(max-width: 991px){
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            &:nth-child(1){
                order: 1;
                width: 48%;
                @media(max-width: 991px){
                    width: 100%;
                }
            }
            &:nth-child(2){
                order: 2;
                width: 48%;
                @media(max-width: 991px){
                    width: 100%;
                }
            }
            &:nth-child(3){
                order: 3;
                width: 48%;
                @media(max-width: 991px){
                    width: 100%;
                }
            }
            &:nth-child(4){
                order: 4;
                width: 48%;
                @media(max-width: 991px){
                    width: 100%;
                }
            }
            @media(max-width: 991px){
                background-color: transparent;
                padding: 0 14px 0 28px;
                margin: 16px;
            }
        }
    }
    .sub-text{
        margin-top: 50px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 26px;
        line-height: 32px;
        color: #000000;
        opacity: 0.9;
        @media(max-width: 991px){
            font-size: 18px;
            line-height: 24px;
            max-width: 285px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .button-yellow{
        max-width: 350px;
        font-weight: 700;
    }
    @media(max-width: 991px){
        margin-top: 42px;
        margin-bottom: 42px;
    }
}
.help-center{
    margin-top: 125px;
    margin-bottom: 125px;
    &-wrapper{
        display: flex;
        align-items: center;
        .content-block{
            .section-title{
                margin-bottom: 32px;
                @media(max-width: 991px){
                    font-size: 24px;
                    line-height: 44px;
                    margin-bottom: 20px;
                }
            }
            .section-subtitle{
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                color: #000000;
                opacity: 0.5;
                margin-bottom: 0;
                @media(max-width: 991px){
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 20px;
                }
            }
            @media(max-width: 991px){
                text-align: center;
            }
            @media(min-width: 992px){
                margin-bottom: 10rem;
            }
        }
        .column-section-w{
            .column-section{
                display: flex;
                position: relative;
                padding: 0;
                &-block{
                    flex: 1;
                    margin-bottom: 20px;
                    margin-right: 15px;
                    position: relative;
                    @media(max-width: 991px){
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -1px;
                        background-color: #3EA3CE;
                        width: 100%;
                        height: 7px;
                        @media(max-width: 991px){
                            width: 7px;
                            height: 100%;
                            top: 0;
                        }
                    }
                }
                &-blocks{
                    background: #FFFFFF;
                    border: 1px solid #BCBCBC;
                    box-sizing: border-box;
                    padding: 22px 20px;
                    position: relative;
                    height: 100%;
                    &-container{
                        height: 90%;
                        padding-bottom: 32px;
                        .image-block{
                            @media(min-width: 992px){
                                margin-bottom: 24px;
                                height: 64px;
                            }
                            .icon{
                                @media(max-width: 991px){
                                    width: 50px;
                                    height: auto;
                                    object-fit: contain;
                                    position: relative;
                                    top: -12px;
                                }
                            }
                        }
                        .content{
                            .title{
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;
                                color: #000000;
                                margin-bottom: 10px;
                            }
                            .subtitle{
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18px;
                                color: #000000;
                                position: relative;
                                &:after{
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    bottom: -10px;
                                    background-color: #3EA3CE;
                                    width: 55.24px;
                                    height: 2px;
                                    @media(max-width: 991px){
                                        display: none;
                                    }
                                }
                            }
                            @media(max-width: 991px){
                                padding-left: 15px;
                            }
                        }
                        @media(max-width: 991px){
                            display: flex;
                            padding-bottom: 0;
                        }
                    }
                    a{
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 32px;
                        letter-spacing: 0.12em;
                        text-transform: uppercase;
                        color: #005365;
                        text-decoration: none;
                        position: relative;
                        &:after{
                            content: '';
                            background-image: url('../img/know_more.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: -2px;
                            right: -22px;
                            object-fit: contain;
                        }
                        @media(max-width: 991px){
                            margin-left: 66px;
                        }
                    }
                    @media(max-width: 991px){
                        margin-right: 0;
                    }
                }
                &-bar{
                    background: #FFFFFF;
                    border: 1px solid #BCBCBC;
                    box-sizing: border-box;
                    padding: 17px 20px;
                    position: relative;
                    .links-text{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #000000;
                        margin-right: 18px;
                        @media(max-width: 991px){
                            margin-right: 0;
                            display: flex;
                            margin-bottom: 15px;
                        }
                    }
                    a{
                        font-size: 16px;
                        line-height: 18px;
                        color: #3EA3CE;
                        position: relative;
                        text-decoration: none;
                        padding-right: 8px;
                        margin-right: 5px;
                        &.report{
                            @media(max-width: 991px){
                                display: inline-flex;
                                width: 134px;
                                line-height: 26px;
                            }
                             &:before{
                                top: 5px;
                             }
                        }
                        &:before{
                            content: '';
                            background-color: #000;
                            width: 1px;
                            height: 14px;
                            position: absolute;
                            top: 1px;
                            right: 0;
                        }
                        &:last-child{
                            &:before{
                                display: none;
                            }
                        }
                        @media(max-width: 991px){
                            white-space: normal;
                            padding-right: 8px;
                            margin-right: 5px;
                        }
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        background-color: #3EA3CE;
                        width: 7px;
                        height: 58px;
                        @media (max-width: 991px){
                            display: none;
                        }
                    }
                    @media(max-width: 1199px){
                        padding: 15px 20px;
                    }
                    @media (max-width: 991px){
                        border: 0;
                        padding: 0;
                        margin-top: 20px;
                        background: transparent;
                    }
                }
                @media (max-width: 991px){
                    flex-direction: column;
                }
            }
        }
        @media(max-width: 991px){
            flex-direction: column;
        }
    }
    @media(max-width: 991px){
        margin-top: 70px;
        margin-bottom: 70px;
    }
}
.monitor-credit-health{
    background: rgba(222, 235, 240, 0.3);
    border-radius: 8px;
    padding: 60px 50px;
    margin-bottom: 125px;
    &--wrapper{
        display: flex;
        flex-direction: row;
        img{
            width: 100%;
        }
        .image-block{
            @media(max-width: 991px){
                display: none;
            }
        }
        .content-block{
            margin-left: 40px;
            .title{
                font-size: 32px;
                line-height: 42px;
                color: #005365;
                margin-bottom: 16px;
                @media(max-width: 991px){
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            .subtitle{
                font-size: 20px;
                line-height: 28px;
                color: #005365;
                margin-bottom: 16px;
                font-weight: 600;
                @media(max-width: 991px){
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 400;
                }
            }
            .description{
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color: #000000;
                opacity: 0.4;
                margin-bottom: 30px;
                @media(max-width: 991px){
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 30px;
                }
            }
            .button-wrapper{
                @media(max-width: 991px){
                    text-align: center;
                }
            }
            .button-blue{
                max-width: 265px;
            }
            @media(max-width: 991px){
                margin-left: 0;
            }
        }
    }
    @media(max-width: 991px){
        margin: 0 -15px 70px;
        border-radius: 0;
        padding: 34px 50px 50px;
    }
    @media( min-width: 1299px){
        margin: 0 -40px 125px -40px
    }
}
.other-queries{
    margin-bottom: 125px;
    p{
        font-size: 20px;
        line-height: 29px;
        color: #000000;
        margin-top: 20px;
        a{
            color: #3EA3CE;
        }
        @media(max-width: 991px){
            font-size: 20px;
            line-height: 29px;
            color: #000000;
            opacity: 0.85;
        }
    }
    @media(max-width: 991px){
        margin-bottom: 70px;
    }
}
.dashboard-cta{
    position: relative;
    &-bg{
        background-image: url(../img/report_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 460px;
        display: flex;
        align-items: center;
        position: relative;
        background-position: center;
        .call-to-action{
            background: rgba(255,255,255,0.79);
            width: 600px;
            height: 250px;
            padding: 42px 52px;
            display: table-cell;
            z-index: 2;
            position: relative;
            .title{
                font-weight: bold;
                font-size: 44px;
                line-height: 52px;
                color: #000000;
                opacity: 0.8;
                margin-bottom: 30px;
                @media(max-width: 991px){
                    font-size: 30px;
                    line-height: 37px;
                    margin-bottom: 50px;
                }
            }
            .button-yellow{
                max-width: 350px;
                @media(max-width: 991px){
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 700;
                    max-width: 224px;
                    padding: 18px 28px;
                }
            }
            @media(max-width: 991px){
                text-align: center;
                padding: 22px;
                width: 96%;
                margin: auto;
                height: auto;
                position: absolute;
                top: 27px;
                left: 0;
                right: 0;
            }
        }
        @media(max-width: 991px){
            background-image: url(../img/report_bg_mob.jpg);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 682px;
        }
        @media(min-width: 1800px){
            height: 500px;
        }
        &:after{
            content:"";
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
}