.credit-vision-content {
  font-family: "Intro";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  /* base */
  @media (max-width: 992px) {
    .mhide {
      display: none !important;
    }
  }
  @media (min-width: 993px) {
    .dhide {
      display: none !important;
    }
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1200px) {
      width: 1240px;
    }
  }

  .clear-psudo {
    &::before,
    &::after {
      display: none;
    }
  }

  .link {
    color: #00a6ca;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
  }

  .cibil-button {
    background: lightgrey;
    border: 1px solid lightgray;
    border-radius: 999px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2c2c2c;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 20px 11px;
    text-decoration: none !important;
    outline: none !important;
    &-yellow {
      background: #fcd800;
      border: 1px solid #fcd800;
    }
    &-outline {
      background: #fff;
      border: 1px solid #f16e00;
      border-radius: 25px;
      padding: 19px 40px 15px;
    }
  }
  .section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #2c2c2c;
    margin-bottom: 20px;
  }
  ul {
    &.markers {
      li {
        padding-left: 30px;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2c2c2c;
        display: flex;
        align-items: flex-start;

        &:before {
          content: "";
          width: 14px;
          height: 14px;
          background: #00a6ca;
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: 5px;
        }
      }
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    font-family: "Intro" !important;
  }
  form {
    margin-top: 30px;
    .cibil-button {
      margin: 40px auto;
      display: flex;
      &-yellow {
        border-radius: 0px;
        padding-top: 18px;
        padding-bottom: 16px;
        min-width: 45.71%;
      }
    }
    .input-row {
      display: flex;
      justify-content: space-between;
      .input-container {
        display: flex;
        flex-direction: column;
        width: calc(50% - 20px);
        margin-bottom: 20px;
        label {
          margin-bottom: 2px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #000000;
        }
        .error-message {
          color: red;
          font-size: 85%;
          margin-top: 5px;
          display: none;
          margin-bottom: 0px;
        }
        input {
          border: 1px solid #acacac !important;
          height: 50px;
          padding: 10px;
        }
      }
    }
    .g-recaptcha {
      margin-top: 10px;
      margin-bottom: 40px;
    }
    @media (max-width: 992px) {
      .input-row {
        flex-direction: column;
        .input-container {
          width: 100%;
        }
      }
      .g-recaptcha{
        margin: 0px;
      }
    }
  }
  /* banner */
  .credit-view-banner {
    margin-bottom: 60px;
    background: linear-gradient(
        269.74deg,
        rgba(255, 255, 255, 0.2) 10.58%,
        rgba(255, 255, 255, 0) 86%
      ),
      url(../images/credit-vision/banner-bg-desk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__wraper {
      min-height: 450px;
      display: flex;
      justify-content: space-between;
      padding-top: 61px;
      .right-panel {
        width: 44.584%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .banner-img {
          width: 100%;
        }
      }
      .left-panel {
        width: 45%;
        .small-title {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #707070;
        }
        .banner-title {
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          letter-spacing: -0.01em;
          color: #000000;
          margin-top: 0;
          margin-bottom: 20px;
        }
        .banner-subtitle {
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          color: #2c2c2c;
          margin-bottom: 30px;
        }
        .cibil-button {
          &-yellow {
            min-width: 282px;
          }
        }
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 30px;
      &__wraper {
        padding-top: 27px;
        padding-bottom: 30px;
        .left-panel {
          width: 100%;
          text-align: center;
          .small-title {
            margin-bottom: 0px;
          }
          .banner-title {
            margin-bottom: 21px;
          }
          .banner-subtitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            max-width: 373px;
            margin: 29px auto 20px;
          }
        }
      }
    }
    @media (max-width: 448px) {
      &__wraper {
        background: linear-gradient(
            269.74deg,
            rgba(255, 255, 255, 0.2) 10.58%,
            rgba(255, 255, 255, 0) 86%
          ),
          url(../images/credit-vision/banner-bg-mob.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  /* highlightes */
  .highlights-section {
    margin-bottom: 60px;
    &__wraper {
      display: flex;
      justify-content: space-between;
      .right-panel {
        width: 48%;
        .highlights-container {
          padding: 40px 90px 30.09px 30px;
          position: relative;
          overflow: hidden;
          background: #ffffff;
          box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25);
          border-radius: 6px;
          &:before {
            content: "";
            background: #00a6ca;
            height: 10px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .section-title {
          margin-bottom: 30px;
        }
        ul {
          &.markers {
            margin-bottom: 0px;
            li {
              font-weight: 600;
              justify-content: space-between;
              &:not(:last-child) {
                margin-bottom: 30px;
              }
              .icon {
                margin-left: 20px;
              }
            }
          }
        }
      }
      .left-panel {
        width: 40%;
        p {
          margin-bottom: 0px;
        }
        .section-title {
          margin-bottom: 20px;
        }
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 40px;
      &__wraper {
        flex-direction: column;
        .left-panel,
        .right-panel {
          width: 100%;
        }
        .left-panel {
          margin-bottom: 30px;
        }
        .right-panel {
          .highlights-container {
            padding: 30px 19px 28px 22px;
          }
          ul {
            &.markers {
              li {
                padding-left: 0px;
                flex-direction: row-reverse;
                justify-content: flex-end;
                .icon {
                  max-width: 26px;
                  margin-left: 0px;
                  margin-right: 24px;
                }
                &:before {
                  content: none;
                }
                &:not(:last-child) {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  /* video */
  .video-section {
    background-color: #f6f7fc;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    .video-section__wraper {
      display: flex;
      justify-content: space-between;
      column-gap: 50px;
      align-items: center;

      .left-panel,
      .right-panel {
        width: 50%;
      }
      .left-panel {
        max-width: 580px;
        .video-thumbnail {
          position: relative;
          max-width: 580px;
          border-radius: 6px;
          overflow: hidden;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          );
          .play-icon {
            width: 80px;
            position: absolute;
            left: calc(50% - 40px);
            top: calc(50% - 40px);
          }
          &:before {
            content: "";
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)
            );
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          .thumbnail-image {
            width: 100%;
          }
        }
      }
      .right-panel {
        .small-title {
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #707070;
          text-transform: uppercase;
        }
        .main-title {
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          color: #2c2c2c;
          margin-bottom: 20px;
        }
        .subtitle {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #707070;
          margin-bottom: 30px;
        }
        .cibil-button {
          font-weight: 600;
        }
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 40px;
      &__wraper {
        flex-direction: column;
        .left-panel,
        .right-panel {
          max-width: 100% !important;
          width: 100% !important;
        }
        .left-panel {
          .video-thumbnail {
            max-height: 215px;
            .play-icon {
              width: 57.66px !important;
              height: 57.44px !important;
              top: calc(50% - 28.72px) !important;
              left: calc(50% - 28.83px) !important;
            }
          }
        }
        .right-panel {
          .video-details {
            background: #ffffff;
            border: 1px solid #ededed;
            border-radius: 6px;
            margin-top: 20px;
            padding: 20px 18px 20px 20px;
            .main-title {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.02em;
              color: #2c2c2c;
            }
            .small-title {
              background: #ededed;
              border-radius: 4px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 32px;
              padding: 4px 6px;
              color: #006685;
              text-transform: capitalize;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  /* contact form */
  .contact-form-section {
    padding-bottom: 100px;
    &__wraper {
      border: 1px solid #ededed;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      padding: 42px 59px 40px 37px;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        background: #00a6ca;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      .section-title {
        margin-bottom: 46px;
      }
    }
    @media (max-width: 992px) {
      padding-bottom: 0px;
      &__wraper {
        padding-bottom: 40px !important;
        box-shadow: none;
        border: none;
        padding: 0;
        &:before {
          content: none;
        }
        .cibil-button {
          width: 100%;
          margin-bottom: 0;
          margin-top: 20px;
        }
        .section-title {
          text-align: left;
          margin-bottom: 20px;
        }
      }
    }
  }

  /* popup start */
  .modal-popup {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .bg-overlay {
      background: rgba(0, 0, 0, 0);
      height: 100vh;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      -webkit-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear;
    }
    .modal-popup-inner {
      width: 60%;
      height: 70%;
      position: absolute;
      left: 20%;
      top: 15%;
      transform: translateY(-20px);
      transition: transform 0.3s ease-in-out;
    }
    &__head {
      position: relative;
      a.close-btn {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        height: 40px;
        width: 40px;
        padding: 8px;
        background: #00a6ca;
        border-radius: 100px;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
      }
    }
    &__body {
      border-radius: 6px;
      background: #f9f9f9;
      height: 100%;
      overflow: hidden;
      .youtube-player {
        height: 100%;
        iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
    &.opened {
      visibility: visible;
      opacity: 1;
      .bg-overlay {
        background: rgba(0, 0, 0, 0.5);
      }
      .modal-popup-inner {
        transform: translateY(0px);
      }
    }
    @media (max-width: 768px) {
      .modal-popup-inner {
        width: calc(100% - 40px);
        left: 20px;
      }
    }
    @media (max-width: 481px) {
      .modal-popup-inner {
        height: 40vh;
      }
    }
  }
  /* popup end */
}
