/* footer */
.footer {
  &-section {
    background: #ffffff;
    border-top: 5px solid #fcd833;
    padding: 18px 0 80px 0;
    .fw-300 {
      font-weight: 300 !important;
    }
    .fw-400 {
      font-weight: 400 !important;
    }
    .fw-600 {
      font-weight: 700 !important;
    }
    .fw-rg-600 {
        font-weight: 600 !important;
    }
    .row {
      @media (min-width: 992px) {
        display: flex;
        align-items: center;
      }
    }
    @media (max-width: 991px) {
      padding: 45px 0 80px 0;
    }
  }
  &-left {
    .social-media-icons {
      a {
        text-decoration: none !important;
        display: inline-block;
        margin-right: 8px;
        outline: none !important;
      }
    }
    .follow-text {
      font-size: 22px;
      line-height: 26px;
      color: #005365 !important;
    }
    @media (max-width: 991px) {
      text-align: center;
      .follow-text {
        font-size: 18px;
        line-height: 22px;
      }
      .social-media-icons {
        padding-bottom: 30px;
        margin-bottom: 38px;
        border-bottom: 1px solid #c4c4c4;
        a {
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
  &-right {
    text-align: right;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &-logo {
    margin-bottom: 30px;
    display: inline-block;
  }
  &-text {
    h3 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 20px;
      color: #000000;
      @media (max-width: 991px) {
        font-size: 16px;
      }
    }
    p {
      font-size: 20px;
      margin: 0;
      @media (max-width: 991px) {
        font-size: 16px;
      }
      &.rights {
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
        margin-top: 20px;
        @media (max-width: 991px) {
          margin-top: 30px;
          font-size: 16px;
        }
      }
    }
  }
}
