h1,
h2,
h3,
h4,
h5,
h6,
div {
    font-family: "IntroRegular";
}
.light {
    &-grey-bg {
        background: #eee;
    }
    &-blue-bg {
        background: #3ea3ce;
    }
    &-white-bg {
        background: rgba(255, 255, 255, 0.15);
    }
    &-blue-gradient {
        background: linear-gradient(180deg, #3ea3ce 0%, #3ea3ce 27.33%, rgba(62, 163, 206, 0) 149.5%);
    }
    &-yellow-bg {
        background: rgba(252, 216, 51, 0.15);
    }
}
.border {
    &-top_8 {
        border-top: 8px solid #fcd833;
    }
    &-bottom-2 {
        border-bottom: 2px solid #fcd833;
    }
}
.fw {
    &-300 {
        font-weight: 300 !important;
        font-family: "IntroLight";
    }
    &-400 {
        font-weight: 400 !important;
        font-family: "IntroRegular";
    }
    &-600 {
        font-family: "IntroBold" !important;
    }
    &-700 {
        font-weight: 700 !important;
        font-family: "IntroBold";
    }
    &-rg-600 {
        font-weight: 600 !important;
        font-family: "IntroRegular" !important;
    }
}
.text {
    &-color-black {
        color: #000000 !important;
    }
    &-color-black-08 {
        color: rgba(0, 0, 0, 0.8);
    }
    &-color-yellow {
        color: #fcd833;
    }
    &-color-white {
        color: white !important;
    }
    &-color-grey {
        color: #666666;
    }
}
.d {
    &-block {
        display: block;
    }
    &-inline-block {
        display: inline-block;
    }
    &-inline {
        display: initial !important;
    }
}
.letter-spacing-1 {
    letter-spacing: 1px;
}
.line-height {
    &-41 {
        line-height: 37px;
        @media (max-width: 767px) {
            line-height: 32px;
        }
    }
}
.m-b {
    margin-bottom: 0 !important;
}
.m-b10 {
    margin-bottom: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-15 {
    padding: 15px;
}
.padding-30 {
    padding: 30px;
    &.pb {
        @media (max-width: 768px) {
            padding-bottom: 20px;
        }
    }
    @media (max-width: 768px) {
        padding: 30px 15px;
        // padding-top: 50px;
    }
}
.image-text {
    margin-top: -45px;
}
.w-100 {
    width: 100%;
}
.justify-space-between {
    justify-content: space-between;
}
.text-line-through {
    text-decoration: line-through;
    color: #b1b4b7 !important;
}
.border-radius-8 {
    border-radius: 8px;
}
.f {
    &-14 {
        font-size: 14px;
    }
    &-18 {
        font-size: 18px;
    }
}
.mx-auto {
    margin: 0 auto;
}
.no-shadow {
    box-shadow: none;
}
.min-50vh {
    min-height: 50vh;
}

.line-separator {
    &-white {
        height: 1px;
        width: calc(100% - 60px);
        background: rgba(255, 255, 255, 0.22);
        margin: 30px auto;
        @media (max-width: 768px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &-grey {
        height: 1px;
        width: 100%;
        background: #dcdddf;
        margin: 20px 0;
    }
    &-grey-1 {
        height: 1px;
        width: 100%;
        background: #c4c4c4;
        opacity: 0.4;
        box-shadow: inset 2px 4px 12px rgba(230, 230, 230, 0.25);
        margin: 7px 0;
    }
}

.position-relative {
    position: relative;
}

.bg {
    &-off-blue {
        background-color: #eff7fe;
    }
    &-yellow {
        background-color: #fcd833;
    }
}
.yellow-badge {
    background: #fcd833;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 5px;
}
.object-fit-contain {
    object-fit: contain;
}
.r-badge {
    background: #3ea3ce;
    font-size: 12px;
    color: #ffffff;
    padding: 2px 6px;
    position: absolute;
    top: -10px;
    right: 20px;
    &-0 {
        right: 0;
    }
}

.f {
    &-16 {
        font-size: 16px !important;
    }
    &-12 {
        font-size: 12px !important;
    }
}

.margin-top {
    &-0 {
        margin-top: 0;
    }
    &-1 {
        margin-top: 10px;
    }
    &-15 {
        margin-top: 15px;
    }
    &-2 {
        margin-top: 20px;
    }
    &-3 {
        margin-top: 30px;
    }
    &-4 {
        margin-top: 40px;
    }
    &-5 {
        margin-top: 50px;
    }
    &-6 {
        margin-top: 60px;
    }
}
.margin-bottom {
    &-0 {
        margin-bottom: 0 !important;
    }
    &-05 {
        margin-bottom: 5px;
    }
    &-1 {
        margin-bottom: 10px;
    }
    &-15 {
        margin-bottom: 15px;
    }
    &-2 {
        margin-bottom: 20px;
    }
    &-3 {
        margin-bottom: 30px;
    }
    &-4 {
        margin-bottom: 40px !important;
    }
    &-5 {
        margin-bottom: 50px;
    }
    &-6 {
        margin-bottom: 60px;
    }
    &-md-6 {
        @media (min-width: 992px) {
            margin-bottom: 60px;
        }
    }
}
.padding-top {
    &-04 {
        padding-top: 4px;
    }
    &-05 {
        padding-top: 5px;
    }
    &-0 {
        padding-top: 0;
    }
    &-1 {
        padding-top: 10px;
    }
    &-15 {
        padding-top: 15px;
    }
    &-2 {
        padding-top: 20px;
    }
    &-3 {
        padding-top: 30px;
    }
    &-4 {
        padding-top: 40px;
    }
    &-5 {
        padding-top: 50px;
    }
    &-6 {
        padding-top: 60px;
    }
}
.padding-bottom {
    &-02 {
        padding-bottom: 2px;
    }
    &-03 {
        padding-bottom: 3px;
    }
    &-05 {
        padding-bottom: 5px;
    }
    &-0 {
        padding-bottom: 0;
    }
    &-1 {
        padding-bottom: 10px;
    }
    &-15 {
        padding-bottom: 15px;
    }
    &-2 {
        padding-bottom: 20px;
    }
    &-3 {
        padding-bottom: 30px;
    }
    &-4 {
        padding-bottom: 40px;
    }
    &-5 {
        padding-bottom: 50px;
    }
    &-6 {
        padding-bottom: 60px;
    }
    &-8 {
        padding-bottom: 80px;
    }
    &-120 {
        padding-bottom: 120px;
    }
    &-130 {
        padding-bottom: 130px;
    }
}
.padding-right {
    &-05 {
        padding-right: 5px;
    }
    &-0 {
        padding-right: 0;
    }
    &-1 {
        padding-right: 10px;
    }
    &-2 {
        padding-right: 20px;
    }
    &-3 {
        padding-right: 30px;
    }
    &-4 {
        padding-right: 40px;
    }
    &-5 {
        padding-right: 50px;
    }
    &-6 {
        padding-right: 60px;
        @media (max-width: 768px) {
            padding-right: 10px;
        }
    }
    &-9 {
        padding-right: 90px;
        @media (max-width: 768px) {
            padding-right: 20px;
        }
    }
    &-md-25 {
        @media (min-width: 992px) {
            padding-right: 25px;
        }
    }
}
.padding-left {
    &-05 {
        padding-left: 5px;
    }
    &-0 {
        padding-left: 0;
    }
    &-1 {
        padding-left: 10px;
    }
    &-14 {
        padding-left: 14px;
    }
    &-15 {
        padding-left: 15px;
    }
    &-2 {
        padding-left: 20px;
    }
    &-3 {
        padding-left: 30px;
    }
    &-4 {
        padding-left: 40px;
    }
    &-5 {
        padding-left: 50px;
    }
    &-6 {
        padding-left: 60px;
        @media (max-width: 768px) {
            padding-left: 10px;
        }
    }
    &-9 {
        padding-left: 90px;
        &-md {
            @media (min-width: 769px) {
                padding-left: 90px;
            }
        }
        @media (max-width: 768px) {
            padding-left: 20px;
        }
    }
}
.margin-left {
    &-0 {
        margin-left: 0 !important;
    }
    &-05 {
        margin-left: 5px !important;
    }
    &-1 {
        margin-left: 10px !important;
    }
    &-2 {
        margin-left: 20px !important;
    }
    &-3 {
        margin-left: 30px !important;
    }
    &-4 {
        margin-left: 40px !important;
    }
    &-5 {
        margin-left: 50px !important;
    }
    &-6 {
        margin-left: 60px !important;
    }
}
.margin-right {
    &-05 {
        margin-right: 5px !important;
    }
}
.mobile-full-width{
    @media (max-width: 767px) {
        flex: 1;
    }
}
.mobile-fonts {
    h3 {
        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
    h4.f-18 {
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
}

.get-started-link {
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    a {
        font-size: 16px;
        font-family: "IntroBold";
        font-weight: 400;
        letter-spacing: 1px;
        color: #f16e33;
        text-decoration: underline;
    }
}

.social-media-icons {
    a {
        display: inline-block;
        margin-right: 8px;
        img {
            @media (max-width: 991px) {
                width: 32px;
                height: 32px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    @media (max-width: 991px) {
        padding-bottom: 30px;
        margin-bottom: 38px;
        border-bottom: 1px solid #c4c4c4;
    }
}