.table-custom {
    th {
        padding: 25px;
    }
    td {
        vertical-align: middle !important;
        color: rgba(0, 0, 0, 0.8);
        padding: 25px !important;
    }
    h3 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 22px;
        font-weight: 600;
    }
    .flex-row {
        display: flex;
    }
    th {
        border-top: 7px solid transparent !important;
    }
    th.column-1 {
        border-left-color: transparent;
    }
    th.column-3 {
        border-top: 7px solid #00a6ca !important;
    }
    tr td:first-child {
        border-left-color: transparent;
    }
    tr:last-child td {
        border-bottom-color: transparent;
    }
}

.custom-table {
    display: flex;
}