.loginPageFlow {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .m-visible {
    @media (min-width: 992px) {
      display: none !important;
    }
  }
  .d-flex {
    display: flex !important;
  }
  .m-hidden {
    @media (max-width: 991px) {
      display: none !important;
    }
  }
  .loginFlow-btn {
    background: #f16e00;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 40px 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2c2c2c;
    text-decoration: none !important;
    outline: none !important;
    margin-top: 20px;
    border: none;
    width: 100%;
  }
  .header {
    background: #ffffff;
    border-bottom: 5px solid #fcd833;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: 991px) {
      padding: 12px 0;
    }
    @media screen and (min-width: 992px) {
      padding: 15px 0;
    }
  }
  .menu-toggle {
    height: 36px;
  }
  .button-orange-outline {
    font-family: "Intro", Regular;
    background: #fff;
    border: 1px solid #f16e00;
    border-radius: 50px;
    color: #2c2c2c;
    font-size: 14px !important;
    text-decoration: none;
    @media screen and (min-width: 992px) {
      font-size: 16px !important;
    }
    font-weight: 600;
    padding: 13px 30px;
    text-align: center;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: #f16e00;
      text-decoration: none;
    }
  }
  .login-button {
    padding: 10px 45px;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px;
    outline: none !important;
  }
  .header-container {
    @media screen and (min-width: 992px) {
      // padding-left: 5px;
    }
  }
  .language-switcher {
    position: relative;
    padding: 10px 0;
    &-trigger {
      display: flex;
      align-items: center;
      cursor: pointer;
      span {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        display: inline-block;
        margin-left: 8px;
        margin-right: 7px;
      }
    }
    &-options {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
      width: 240px;
    }
    &-list {
      padding: 15px;
      border-radius: 3px;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      border: 1px solid #dbdbdb;
      position: relative;
    }
    &-item {
      display: block;
      padding-bottom: 7px;
      font-size: 13px;
      color: #000000;
      outline: 0;
      text-decoration: none !important;
      position: relative;
      padding-left: 27px;
      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #000000;
        border-radius: 50%;
        background: #ffffff;
      }
      &::after {
        content: "";
        position: absolute;
        top: 7px;
        left: 5px;
        width: 8px;
        height: 8px;
        background: #00a6ca;

        border-radius: 50%;
        opacity: 0;
        transition: all ease-in 0.3s;
      }
      &:hover,
      &:focus {
        color: #00a6ca;
        text-decoration: underline;
        outline: 0;
        &::before {
          border-color: #00a6ca;
        }
        &::after {
          opacity: 1;
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
      &.active {
        color: #00a6ca;
        text-decoration: underline;
        outline: 0;
        &::before {
          border-color: #00a6ca;
        }
        &::after {
          opacity: 1;
        }
      }
    }
    &:hover {
      .language-switcher-options {
        display: block;
      }
    }
  }
  .clear-psudo {
    &:before,
    &:after {
      display: none;
    }
  }
  ::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #acacac;
    font-family: "Intro" !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #acacac;
    font-family: "Intro" !important;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #acacac;
    font-family: "Intro" !important;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #acacac;
    font-family: "Intro" !important;
  }
  @media (min-width: 992px) {
    .dhide {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .mhide {
      display: none;
    }
  }

  .loginFlow-page-content {
    .link-black[href],
    .link-blue[href] {
      text-decoration: underline;
      outline: none !important;
    }
    .link-black[href] {
      color: #000000 !important;
    }
    .link-blue {
      color: #00a6ca !important;
      .icon {
        margin-right: 14px;
        display: inline-flex;
        align-items: center;
      }
    }
    .footer-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      /* position: absolute;
      bottom: 30px; */
      margin-top: 67px;

      @media (max-width: 992px) {
        border-top: 1px solid #dddddd;
        margin-top: 100px;
        max-width: 100%;
        padding: 20px 25px;
        position: inherit;
      }
    }
    .loginFlow-form-section,
    .loginFlow-success-section {
      background: linear-gradient(
        0deg,
        rgba(207, 236, 242, 0.8) -23.73%,
        rgba(0, 166, 202, 0.8) 104.44%
      );
      padding-top: 37px;
      padding-bottom: 55px;
      &__wraper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #000000;
        p {
          margin-bottom: 0px;
        }
        .left-panel,
        .right-panel {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        .left-panel {
          text-align: center;
          overflow: hidden;
          align-items: center;
          text-align: center;
          color: #ffffff;
          width: 40%;
          padding-top: 48px;
          .section-title {
            font-weight: 700;
            font-size: 32px;
            line-height: 134%;
            letter-spacing: -0.01em;
            margin-bottom: 16px;
          }
          .subtitle {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
          }
          .banner-image {
            margin-top: 35px;
            max-width: 503px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .link-note {
            .icon {
              margin-right: 10px;
              margin-top: -3px;
            }
          }
          @media (max-width: 1200px) {
            width: 45%;
          }
        }
        .right-panel {
          padding: 42px 40px 40px;
          position: relative;
          background: #ffffff;
          width: 50%;
          /* min-height: 680px; */
          .small-text {
            font-size: 14px;
            line-height: 24px;
            a {
              font-weight: 400;
              text-decoration: none;
            }
          }
          .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -0.01em;
            margin-bottom: 10px;
            margin-top: 0px;
            display: flex;
            align-items: center;
            .icon-login {
              margin-right: 10px;
              display: none;
            }
            .icon-welcome {
              margin-left: 13px;
              display: none;
            }
          }
          a {
            font-weight: 600;
          }
          .goBack {
            .link-blue {
              display: flex;
              align-items: center;
            }
          }
          form {
            margin-top: 30px;
            margin-bottom: 30px;
            .input-row {
              position: relative;
              &:not(:last-child) {
                margin-bottom: 30px;
              }
              .error-message {
                color: red;
                font-size: 85%;
                display: none;
              }
              .input-top {
                margin-bottom: 2px;
                display: flex;
                justify-content: space-between;
                label {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.02em;
                  color: #000000;
                }
              }
              a {
                font-size: 14px;
                line-height: 14px;
              }
              input {
                width: 100%;
                border: 1px solid #acacac;
                height: 50px;
                padding: 14px 16px 12px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
              }
              input[type="number"]::-webkit-inner-spin-button,
              input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
              }
              input[type="password"] {
                font-family: Verdana;
                letter-spacing: 0.125em;
              }

              input[type="number"] {
                -moz-appearance: textfield;
              }
              input:-webkit-autofill,
              input:-webkit-autofill:hover,
              input:-webkit-autofill:focus,
              input:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
                box-shadow: 0 0 0 30px white inset !important;
                font-family: "Intro" !important;
              }
              span.code-prefix {
                position: absolute;
                top: 39px;
                display: inline-flex;
                height: 26px;
                align-items: center;
                padding-left: 16px;
                padding-right: 18px;
                border-right: 1px solid #acacac;
                & ~ input {
                  padding-left: 78px;
                }
              }
            }
            .form-errors {
              display: none;
              background: #ffdad4;
              border-radius: 8px;
              margin-bottom: 20px;
              margin-top: 20px;
              .error-message {
                padding: 12px 11px 11px;
                display: inline-flex;
                align-items: flex-start;
                font-weight: 400;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0px;
                .icon {
                  margin-right: 10px;
                  margin-top: 3px;
                }
              }
            }
            &.forgotUsernameForm,
            &.forgotPasswordForm {
              margin-bottom: 33px;
            }
            &.forgotPasswordForm {
              .input-row {
                margin-bottom: 20px;
              }
            }
          }
          .seperator {
            height: 1px;
            background-color: #dddddd;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;
            display: block;
          }
        }
      }
      @media (max-width: 1020px) {
        &__wraper {
          .right-panel {
            padding-left: 30px;
          }
        }
      }
      @media (min-width: 1400px) {
        min-height: 100vh;
      }
      @media (max-width: 992px) {
        padding: 0px;
        background: #fff;
        &__wraper {
          flex-direction: column;
          height: auto;
          .left-panel {
            display: none;
          }
          .right-panel {
            padding: 50px 0px 0px !important;
            width: 100%;
            min-height: auto;
            p.text-center {
              width: 305px;
              margin: auto;
            }
            .link-blue {
              justify-content: center;
            }
            .small-text {
              max-width: 289px;
            }
            form {
              margin-top: 40px;
              margin-bottom: 40px;
              .input-row {
                input {
                  padding: 13px 16px;
                }
              }
              .loginFlow-btn {
                margin-top: 30px;
                margin-bottom: 30px;
              }
              &.forgotUsernameForm,
              &.forgotPasswordForm {
                margin-bottom: 33px;
              }
              &.forgotUsernameForm {
                margin-top: 30px;
              }
              &.forgotPasswordForm {
                margin-top: 20px;
              }
            }
            .seperator {
              margin-top: 40px;
            }
          }
        }
      }
    }
    .loginFlow-success-section {
      &__wraper {
        .right-panel {
          min-height: 580px;
          justify-content: space-between;
          &-content {
            .title {
              .icon {
                margin-right: 20px;
                img {
                  width: 40px;
                  height: 40px;
                }
              }
            }
            .subtitle {
              max-width: 440px;
            }
            .loginFlow-btn {
              margin-top: 30px;
            }
          }
        }
      }
      @media (max-width: 992px) {
        &__wraper {
          .right-panel {
            min-height: auto;
            padding-top: 30px !important;
            &-content {
              .title {
                flex-direction: column;
                align-items: center;
                text-align: center;
                .icon {
                  margin: 0px auto 20px;
                }
              }
              .loginFlow-btn {
                max-width: 310px;
                margin: 30px auto;
              }
              .subtitle {
                margin: auto;
                text-align: center;
              }
            }
          }
        }
        .footer-text {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
    .linkExpired {
      .loginFlow-success-section__wraper {
        .right-panel-content {
          .subtitle {
            max-width: 100%;
          }
        }
      }
      @media (max-width: 992px){
        .loginFlow-success-section__wraper{
          .right-panel-content{
            .loginFlow-btn{
              max-width: 374px;
            }
          }
        }
      }
      @media (max-width: 576px) {
        .loginFlow-success-section__wraper {
          .right-panel-content {
            .subtitle {
              padding-left: 20px;
              padding-right: 20px;
              br {
                display: none;
              }
            }
            .loginFlow-btn{
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
