@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary-blue: #00a6ca;
$primary-black: #000000;
$primary-orange: #F16E00;
$primary-white: #FFFFFF;
$secondary-red: #D74025;
$secondary-black: #2c2c2c;
$secondary-blue: #006685;
$disabled-text-color: #707070;
$disabled-color: #DDDDDD;
$overlay: rgba(21, 17, 17, 0.61);

$sm: 767.9px;
$md: 768px;
$max-width: 870px;

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: $primary-blue;
}
.container{
    max-width: $max-width;
    width: calc(100% - 40px);
    margin: auto;
}
section{
    background-color: $primary-white;
}
.section-shadow{
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.bold{
    font-weight: 700;
}
.semi-bold{
    font-weight: 500;
}
.secondary-red{
    color: $secondary-red;
}
.link{
    color: $primary-blue;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    cursor: pointer;
    &-16{
        font-size: 16px;
        line-height: 19px;
    }
    svg{
        margin-left: 10px;
    }
}
.text-13{
    font-size: 13px;
    line-height: 15px;
}
.text-14{
    font-size: 14px;
    line-height: 16px;
}
.text-16{
    font-size: 16px;
    line-height: 19px;
}
.m-0{
    margin: 0 !important;
}
.mb-large{
    margin-bottom: 20px !important;
}
.desktop-view {
    @media (max-width: $sm) {
        display: none !important;
    }
}
.mobile-view {
    @media (min-width: $md) {
        display: none !important;
    }
}
.section-title{
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: $primary-black;
    margin: 0;
    @media(max-width:$sm){
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
    }
    svg{
        margin-right: 10px;
    }
}
.box-orange{
    border: 2px solid $primary-orange;
}
.box-announcement{
    padding: 16px 16px 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    p{
        margin: 0 0 10px;
    }
    svg{
        min-width: 48px;
    }
    @media (max-width:$sm){
        padding: 10px 10px 12px;
        gap: 7px;
    }
}
.section-announcement{
    padding: 12px;
    @media (max-width:$sm){
        padding: 10px;
    }
}
.popup{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    display: flex;
    align-items: center;

    &-content{
        background-color: $primary-white;
        padding: 12px;
        margin: auto;
        width: calc(100% - 44px);
        max-width: $max-width;
        position: relative;
    }

    &-body{
        border: 2px solid $primary-blue;
        padding: 36px 16px 20px;
        @media (max-width:$sm){
            padding: 36px 10px 20px;
        }
    }
    &.show{
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    .close {
        position: absolute;
        top: 28px;
        right: 28px;
        cursor: pointer;
    }
    .box-announcement{
        padding: 0;
    }
    ul{
        padding-left: 20px;
        margin: 0 0 20px;
        li{
            list-style: none;
            position: relative;
            &::before{
                content: '';
                width: 3px;
                height: 3px;
                background-color: $primary-black;
                border-radius: 50%;
                position: absolute;
                left: -12px;
                top: 7px;
            }
        }
    }
}
.section-offers{
    padding: 20px 24px 40px;
    @media(max-width:$sm){
    padding: 23px 10px 30px;
    }
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.tabs{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 26px;
    .tab{
        border: 4px solid $primary-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        max-width: 96px;
        position: relative;
        .offer-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 16px 3px 6px;
            text-align: center;
            svg{
                margin-bottom: 6px;
                height: 25px;
            }
        }
        .count{
            font-size: 20px;
            line-height: 23px;
            color: $primary-white;
            background-color: $primary-blue;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
        &.active{
            &::after{
                content: '';
                position: absolute;
                display: block;
                top: calc(100% + 10px);
                left: 50%;
                transform: translateX(-50%);
                width: 0; 
                height: 0; 
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid $secondary-blue;
            }
        }
        &.disabled{
            border-color: $disabled-color;
            color: $disabled-text-color;
            pointer-events: none;
            svg{
                path{
                    fill: $disabled-color;
                }
            }
            .count{
                background-color: $disabled-color;
            }
        }
    }
}
.custom-select-input {
    position: relative;
    cursor: pointer;
}
.custom-select-value, .custom-select-options > span{
    font-size: 16px;
    line-height: 19px;
    background: $primary-white;
    border: 2px solid $primary-blue;
    padding: 13px 16px 12px 28px;
    color: $primary-blue;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    .offer-count {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-blue;
        color: $primary-white;
    }
    svg{
        width: 30px;
        height: 25px;
        margin-right: 30px;
        path{
            fill: $secondary-blue;
        }
    }
}
.custom-select-value{
    &::after {
        content: "";
        width: 11px;
        height: 6px;
        background-image: url(/images/grey-arrow.svg);
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 71px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.custom-select-options {
    display: none;
    & > span{
        border: 1px solid $primary-blue;
        border-top: 0;
        display: flex !important;
        align-items: center;
        color: $secondary-black;
        svg{
            visibility: hidden;
        }
        &.disabled{
            pointer-events: none;
            .offer-count{
                background-color: $disabled-color;
            }
        }
    }
    position: absolute;
    width: 100% !important;
    opacity: 1;
    top: 100%;
    left: 0;
    z-index: 5;
    span {
        display: block;
        cursor: pointer;
        &:hover,
        &.selected {
            color: $primary-blue;
        }
    }
}
.tab-content .tab-panel.active {
    display: block;
}
.tab-content .tab-panel {
    display: none;
}
.group{
    margin-bottom: 26px;
}
.sortTab {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 10px;
    background-color: $primary-blue;
    .sortOption {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-white;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        svg{
            margin-left: 10px;
        }
    }
}