.logout-page {
  /* Header start */
  /* Header end */
  /* heading section start */
  /* heading section end */
  /* `Myths & facts section` AND `Stay in the know section` start */
  /* `Myths & facts section` AND `Stay in the know section` end */
  /* Banner section start */
  /* Banner section end */
  /* popup start */
  /* popup end */
}

.logout-page .container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1400px) {
  .logout-page .container {
    max-width: 1220px;
  }
}

@media (max-width: 768px) {
  .logout-page .hide-mob {
    display: none !important;
  }
}

.logout-page .hide-desk {
  display: none;
}

@media (max-width: 768px) {
  .logout-page .hide-desk {
    display: block;
  }
}

.logout-page a {
  outline: none !important;
}

.logout-page .logout-page-header {
  background: #FFFFFF;
  position: relative;
}

.logout-page .logout-page-header__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 16px;
}

.logout-page .logout-page-header__wraper .site-logo {
  width: 91px;
}

.logout-page .logout-page-header__wraper .header-btn {
  background: #FAFDFF;
  border: 2px solid #3EA3CE;
  border-radius: 4px;
  height: 36px;
  padding: 7px 16px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Intro', Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #3EA3CE;
}

.logout-page .logout-page-header__wraper .header-btn .icon {
  margin-right: 12px;
}

@media (min-width: 768px) {
  .logout-page .logout-page-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #FCD833;
    left: 0px;
    bottom: 0px;
  }
}

@media (max-width: 768px) {
  .logout-page .logout-page-header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  }
  .logout-page .logout-page-header__wraper {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .logout-page .logout-page-header__wraper .site-logo {
    width: 70.15px;
  }
}

.logout-page .heading-section {
  background-color: #F6F7FC;
  margin-bottom: 30px;
}

.logout-page .heading-section__wraper {
  padding-top: 28px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.logout-page .heading-section__wraper .left-side {
  display: flex;
}

.logout-page .heading-section__wraper .left-side .icon {
  margin-right: 20px;
}

.logout-page .heading-section__wraper .left-side .logout-msg {
  letter-spacing: 0.02em;
}

.logout-page .heading-section__wraper .left-side .logout-msg .title {
  font-family: 'Intro', Bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2C2C2C;
  margin-bottom: 10px;
}

.logout-page .heading-section__wraper .left-side .logout-msg .subtitle {
  font-family: 'Intro', Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  margin-bottom: 0px;
}

.logout-page .heading-section__wraper .right-side__wraper {
  background-color: #FDFDFD;
  padding: 27px 41px 23px 20px;
  border-radius: 2px;
  display: flex;
}

.logout-page .heading-section__wraper .right-side__wraper .copy {
  width: 3px;
  height: 3px;
  position: absolute;
  border: none !important;
}

.logout-page .heading-section__wraper .right-side__wraper #clipboard {
  position: relative;
  text-decoration: none;
}

.logout-page .heading-section__wraper .right-side__wraper #clipboard::before {
  opacity: 0;
  font-family: 'Intro', Regular;
  font-weight: 600;
  content: 'Copied!';
  background-color: #ACACAC;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -35px;
  left: -14px;
  transition: all 0.3s ease-in-out;
}

.logout-page .heading-section__wraper .right-side__wraper #clipboard.copied:before {
  opacity: 1;
}

.logout-page .heading-section__wraper .right-side__wraper .follow-text {
  font-family: 'Intro', Book;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2C2C2C;
  margin-bottom: 0px;
  max-width: 276px;
  margin-right: 30px;
}

.logout-page .heading-section__wraper .right-side__wraper .social-icons {
  display: flex;
  align-items: center;
}

.logout-page .heading-section__wraper .right-side__wraper .social-icons .social-icon:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .logout-page .heading-section {
    margin-bottom: 60px;
  }
  .logout-page .heading-section__wraper {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .logout-page .heading-section__wraper .left-side {
    flex-direction: column;
    text-align: center;
    margin-bottom: 22px;
  }
  .logout-page .heading-section__wraper .left-side .icon {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .logout-page .heading-section__wraper .left-side .icon img {
    width: 28px;
    height: 28px;
  }
  .logout-page .heading-section__wraper .left-side .logout-msg .title, .logout-page .heading-section__wraper .left-side .logout-msg .subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .logout-page .heading-section__wraper .left-side .logout-msg .subtitle {
    font-family: 'Intro', Book;
  }
  .logout-page .heading-section__wraper .right-side {
    margin-left: -20px;
    margin-right: -20px;
  }
  .logout-page .heading-section__wraper .right-side__wraper {
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  .logout-page .heading-section__wraper .right-side__wraper .follow-text {
    max-width: 100%;
    font-size: 14px;
    max-width: 242px;
    margin: 20px auto 10px;
  }
  .logout-page .heading-section__wraper .right-side__wraper .social-icons {
    justify-content: center;
  }
}

.logout-page .slider-n-blogs {
  margin-bottom: 46px;
}

.logout-page .slider-n-blogs__wraper {
  display: flex;
  column-gap: 20px;
}

.logout-page .slider-n-blogs__wraper .section-title {
  font-family: 'Intro', Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #00A6CA;
  margin-bottom: 0px;
}

.logout-page .slider-n-blogs__wraper .section-subtitle {
  font-family: 'Intro', Book;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2C2C2C;
  margin-bottom: 10px;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts {
  max-width: 580px;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider {
  background: #F9F9F9;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .slick-track {
  display: flex;
  align-items: center;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .slick-dots {
  position: absolute;
  right: 19px;
  bottom: 19px;
  margin: 0px;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .slick-dots li {
  display: inline-flex;
  margin-bottom: 0px;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .slick-dots li:not(:last-child) {
  margin-right: 8px;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .slick-dots li button {
  border: none;
  font-size: 0;
  padding: 0px;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  background-color: #DDDDDD;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .slick-dots li.slick-active button {
  background-color: #ACACAC;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide {
  position: relative;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper {
  display: flex;
  flex-wrap: wrap;
  min-width: 580px;
  min-height: 280px;
  justify-content: center;
  position: relative;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper img {
  object-fit: contain;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper a.youtube-link {
  position: relative;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper a.youtube-link:after {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper a.youtube-link:before {
  content: url(images/play-btn.svg);
  position: absolute;
  z-index: 1;
  left: calc(50% - 37px);
  top: calc(50% - 39.5px);
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper {
  display: flex;
  column-gap: 20px;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog {
  width: calc(100%/2);
  border-radius: 2px;
  overflow: hidden;
  max-width: 280px;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_img {
  width: 100%;
  object-fit: cover;
  max-height: 110px;
  min-height: 110px;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_content {
  background-color: #F9F9F9;
  padding: 10px 20px 19px;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_category {
  font-family: 'Intro', Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_title {
  font-family: 'Intro', Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_link {
  font-family: 'Intro', Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #006685 !important;
  text-underline-offset: 2px;
}

.logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog.blue .blog_category {
  color: #00A6CA;
}

@media (max-width: 768px) {
  .logout-page .slider-n-blogs {
    margin-bottom: 30px;
  }
  .logout-page .slider-n-blogs__wraper {
    flex-direction: column;
  }
  .logout-page .slider-n-blogs__wraper .section-subtitle {
    margin-bottom: 20px;
  }
  .logout-page .slider-n-blogs__wraper .myths-n-facts {
    max-width: 100%;
  }
  .logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider {
    border: none;
  }
  .logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper {
    min-width: 100%;
    min-height: auto;
  }
  .logout-page .slider-n-blogs__wraper .myths-n-facts .myths-n-facts-slider .single-slide__wraper img {
    max-width: 100%;
    height: 100%;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section {
    margin-top: 40px;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section .section-subtitle {
    margin-bottom: 14px;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper {
    flex-direction: column;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog {
    width: 100%;
    max-width: 100%;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog:not(:last-child) {
    margin-bottom: 20px;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_category {
    margin-bottom: 10px;
  }
  .logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_title {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .logout-page .slider-n-blogs__wraper .blogs-section .blog-list__wraper .blog_img {
    max-height: 110px;
  }
}

.logout-page .banner-section {
  padding-bottom: 54px;
}

.logout-page .banner-section__wraper {
  background-color: #F6F7FC;
  border-radius: 4px;
  padding-top: 6px;
  padding-left: 30px;
  display: flex;
}

.logout-page .banner-section__wraper .banner-content {
  width: 60%;
}

.logout-page .banner-section__wraper .banner-content .banner-title {
  font-family: 'Intro', Bold;
  max-width: 470px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2C2C2C;
  margin-bottom: 10px;
  margin-top: 19px;
}

.logout-page .banner-section__wraper .banner-content .banner-title .highlight {
  color: #00A6CA;
}

.logout-page .banner-section__wraper .banner-content .banner-subtitle {
  font-family: 'Intro', Book;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2C2C2C;
  margin-bottom: 20px;
}

.logout-page .banner-section__wraper .banner-content .button-grp {
  display: flex;
  align-items: center;
}

.logout-page .banner-section__wraper .banner-content .button-grp .app-link:not(:last-child) {
  margin-right: 23.41px;
}

@media (max-width: 768px) {
  .logout-page .banner-section {
    padding-bottom: 40px;
  }
  .logout-page .banner-section__wraper {
    padding: 30px 0 20px;
    text-align: center;
  }
  .logout-page .banner-section__wraper .banner-content {
    width: 100%;
  }
  .logout-page .banner-section__wraper .banner-content .banner-title {
    font-size: 16px;
    line-height: 24px;
    max-width: 293px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
    margin-top: 0px;
  }
  .logout-page .banner-section__wraper .banner-content .banner-subtitle {
    margin: 0 auto;
    font-size: 14px;
    max-width: 281px;
    padding: 0 12px;
  }
  .logout-page .banner-section__wraper .banner-content .button-grp {
    justify-content: center;
    z-index: 2;
    position: relative;
    margin-top: -30px;
  }
  .logout-page .banner-section__wraper .banner-content .button-grp .app-link:not(:last-child) {
    margin-right: 20px;
  }
  .logout-page .banner-section__wraper .banner-content .banner-img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .logout-page .banner-section__wraper .banner-content .banner-img:after {
    content: '';
    background: linear-gradient(180deg, rgba(246, 247, 252, 0) 17.94%, #F6F7FC 54.27%);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 141px;
    z-index: 1;
  }
}

.logout-page .modal-popup {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logout-page .modal-popup .bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.3s linear;
}

.logout-page .modal-popup .modal-popup-inner {
  width: 60%;
  height: 70%;
  position: absolute;
  left: 20%;
  top: 15%;
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}

.logout-page .modal-popup__head {
  position: relative;
}

.logout-page .modal-popup__head a.close-btn {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 40px;
  width: 40px;
  padding: 8px;
  background: #00A6CA;
  border-radius: 100px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

.logout-page .modal-popup__body {
  border-radius: 6px;
  background: #F9F9F9;
  height: 100%;
  overflow: hidden;
}

.logout-page .modal-popup__body .youtube-player {
  height: 100%;
}

.logout-page .modal-popup__body .youtube-player iframe {
  height: 100%;
  width: 100%;
}

.logout-page .modal-popup.opened {
  visibility: visible;
  opacity: 1;
}

.logout-page .modal-popup.opened .bg-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.logout-page .modal-popup.opened .modal-popup-inner {
  transform: translateY(0px);
}

@media (max-width: 768px) {
  .logout-page .modal-popup .modal-popup-inner {
    width: calc(100% - 40px);
    left: 20px;
  }
}

@media (max-width: 481px) {
  .logout-page .modal-popup .modal-popup-inner {
    height: 40vh;
  }
}
