.logout-page{
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (min-width: 1400px){
        .container{
            max-width: 1220px;
        }
    }
    .hide-mob{
        @media(max-width:768px){
            display: none !important;
        }
    }
    .hide-desk{
        display: none;
        @media(max-width:768px){
            display: block;
        }
    }
    a{
        outline: none !important;
    }

    /* Header start */
    .logout-page-header{
        background: #FFFFFF;
        position: relative;
        &__wraper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 12px;
            padding-bottom: 16px;
            .site-logo {
                width: 91px;
            }
            .header-btn {
                background: #FAFDFF;
                border: 2px solid #3EA3CE;
                border-radius: 4px;
                height: 36px;
                padding: 7px 16px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-family: 'Intro', Bold;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                color: #3EA3CE;
                .icon{
                    margin-right: 12px;
                }
            }
        }
        @media(min-width:768px){
            &:after{
                content:'';
                position: absolute;
                width:100%;
                height: 5px;
                background: #FCD833;
                left: 0px;
                bottom: 0px;
            }
        }
        @media(max-width:768px){
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
            &__wraper{
                padding-top: 9px;
                padding-bottom: 9px;
                .site-logo{
                    width: 70.15px;
                }
            }
        }
    }
    /* Header end */

    /* heading section start */
    .heading-section{
        background-color: #F6F7FC;
        margin-bottom: 30px;
        &__wraper{
            padding-top: 28px;
            padding-bottom: 36px;
            display: flex;
            justify-content: space-between;
            .left-side{
                display: flex;
                .icon {
                    margin-right: 20px;
                  }
                  .logout-msg{
                    letter-spacing: 0.02em;
                    .title {
                        font-family: 'Intro', Bold;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 30px;
                        color: #2C2C2C;
                        margin-bottom: 10px;
                      }
                      .subtitle {
                        font-family: 'Intro', Regular;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #707070;
                        margin-bottom: 0px;
                      }
                  }
            }
            .right-side{
                &__wraper {
                    background-color: #FDFDFD;
                    padding: 27px 41px 23px 20px;
                    border-radius: 2px;
                    display: flex;
                    .copy {
                        width: 3px;
                        height: 3px;
                        position: absolute;
                        border: none !important;
                    }
                    #clipboard {
                        position: relative;
                        text-decoration: none;
                        &::before {
                            opacity: 0;
                            font-family: 'Intro', Regular;
                            font-weight: 600;
                            content: 'Copied!';
                            background-color: #ACACAC;
                            color: #fff;
                            font-size: 14px;
                            padding: 3px 6px 5px;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: -35px;
                            left: -14px;
                            transition: all 0.3s ease-in-out;
                          }
                          &.copied{
                              &:before{
                                opacity: 1;
                              }
                          }
                    }
                    .follow-text {
                        font-family: 'Intro', Book;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        color: #2C2C2C;
                        margin-bottom: 0px;
                        max-width: 276px;
                        margin-right: 30px;
                      }
                      .social-icons {
                        display: flex;
                        align-items: center;
                        .social-icon{
                            &:not(:last-child){
                                margin-right: 10px;
                            }
                        }
                      }
                  }
            }
        }
        @media(max-width:768px){
            margin-bottom: 60px;
            &__wraper{
                flex-direction: column;
                padding-top: 20px;
                padding-bottom: 0px;
                .left-side{
                    flex-direction: column;
                    text-align: center;
                    margin-bottom: 22px;
                    .icon{
                        margin-right: 0px;
                        margin-bottom: 10px;
                        img{
                            width: 28px;
                            height: 28px;
                        }
                    }
                    .logout-msg{
                        .title, .subtitle{
                            font-size: 16px;
                            line-height: 24px;
                        }
                        .subtitle{
                            font-family: 'Intro', Book;
                        }
                    }
                }
                .right-side{
                    margin-left: -20px;
                    margin-right: -20px;
                    &__wraper{
                        flex-direction: column;
                        padding: 0px;
                        text-align: center;
                        .follow-text{
                            max-width: 100%;
                            font-size: 14px;
                            max-width: 242px;
                            margin: 20px auto 10px;
                        }
                        .social-icons{
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    /* heading section end */

    /* `Myths & facts section` AND `Stay in the know section` start */
    .slider-n-blogs{
        margin-bottom: 46px;
        &__wraper{
            display: flex;
            column-gap: 20px;
            .section-title{
                font-family: 'Intro', Bold;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #00A6CA;
                margin-bottom: 0px;
            }
            .section-subtitle {
                font-family: 'Intro', Book;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #2C2C2C;
                margin-bottom: 10px;
            }
            .myths-n-facts{
                max-width: 580px;
                .myths-n-facts-slider{
                    border: 1px solid #EDEDED;
                    border-radius: 2px;
                    overflow: hidden;
                    position: relative;
                    .slick-dots{
                        position: absolute;
                        right: 19px;
                        bottom: 19px;
                        margin: 0px;
                        li {
                            display: inline-flex;
                            margin-bottom: 0px;
                            &:not(:last-child) {
                                margin-right: 8px;
                            }
                            button{
                                border:none;
                                font-size: 0;
                                padding: 0px;
                                width: 12px;
                                height: 12px;
                                border-radius: 15px;
                                background-color: #DDDDDD;
                            }
                            &.slick-active{
                                button{
                                    background-color: #ACACAC;
                                }
                            }
                        }
                    }
                    .single-slide {
                        background: #F9F9F9;
                        padding: 30px 20px 19px 30px;
                        position: relative;
                        &__wraper {
                            display: flex;
                            flex-wrap: wrap;
                            .cibil-btn {
                                background: #F16E00;
                                border-radius: 25px;
                                display: inline-flex;
                                justify-content: center;
                                height: 40px;
                                padding: 9px 29.86px 7px 29.14px;
                                font-family: 'Intro', Regular;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 24px;
                                align-items: center;
                                color: #2c2c2c !important;
                                text-decoration: none;
                                &.hide-mob{
                                    margin-bottom: 27px;
                                }
                              }
                            .left-side{
                                .slide-title {
                                    font-family: 'Intro', Regular;
                                    font-weight: 600;
                                    font-size: 24px;
                                    line-height: 30px;
                                    color: #2C2C2C;
                                    margin-bottom: 20px;
                                    max-width: 264px;
                                }
                                .slide-text {
                                    font-family: 'Intro', Book;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    letter-spacing: 0.02em;
                                    color: #2C2C2C;
                                    margin-bottom: 30px;
                                    .highlight {
                                        font-weight: 700;
                                        background: #FCD800;
                                        border-radius: 1px;
                                        height: 20px;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 0px 2px;
                                    }
                                }
                            }
                            .bottom-side{
                                width: 100%;
                            }
                            .right-side{
                                .slide-img{
                                    margin-top: 17px;
                                }
                            }
                          }
                    }
                }
            }
            .blogs-section{
                .blog-list{
                    &__wraper{
                        display: flex;
                        column-gap: 20px;
                        .blog{
                            width: calc(100%/2);
                            border-radius: 2px;
                            overflow: hidden;
                            max-width: 280px;
                            &_img{
                                width: 100%;
                                object-fit: cover;
                            }
                            &_content{
                                background-color: #F9F9F9;
                                padding: 10px 20px 19px;
                            }
                            &_category {
                                font-family: 'Intro', Regular;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 24px;
                                text-transform: uppercase;
                                color: #2c2c2c;
                                margin-bottom: 20px;
                            }
                            &_title {
                                font-family: 'Intro', Bold;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.02em;
                                color: #000000;
                                margin-bottom: 25px;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            &_link {
                                font-family: 'Intro', Regular;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.02em;
                                text-decoration-line: underline;
                                color: #006685 !important;
                                text-underline-offset: 2px;
                              }
                            &.blue{
                                .blog_category{
                                    color: #00A6CA;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(max-width:768px){
            margin-bottom: 30px;
            &__wraper{
                flex-direction: column;
                .section-subtitle{
                    margin-bottom: 20px;
                }
                .myths-n-facts{
                    .myths-n-facts-slider{
                        border: none;
                        .single-slide{
                            padding: 16px 16.83px 20px 16px;
                            .left-side{
                                width: 50%;
                                .slide-title{
                                    font-size: 16px;
                                    margin-bottom: 24px;
                                    font-family: 'Intro', Book;
                                    font-weight: 400;
                                    max-width: 100%;
                                }
                                .slide-text{
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                    .highlight{
                                        height: 18px;
                                    }
                                }
                            }
                            .right-side{
                                width: 50%;
                                .slide-img{
                                    max-width: 163.17px;
                                    width: 100%;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                .blogs-section{
                    margin-top: 40px;
                    .section-subtitle{
                        margin-bottom: 14px;
                    }
                    .blog-list{
                        &__wraper{
                            flex-direction: column;
                            .blog{
                                width: 100%;
                                max-width: 100%;
                                &:not(:last-child){
                                    margin-bottom: 20px;
                                }
                                &_category{
                                    margin-bottom: 10px;
                                }
                                &_title{
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(max-width:480px){
            &__wraper{
                .blogs-section{
                    .blog-list{
                        &__wraper{
                            .blog{
                                &_img{
                                    max-height: 110px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* `Myths & facts section` AND `Stay in the know section` end */

    /* Banner section start */
    .banner-section{
        padding-bottom: 54px;
        &__wraper{
            background-color: #F6F7FC;
            border-radius: 4px;
            padding-top: 6px;
            padding-left: 30px;
            display: flex;
            .banner-content{
                width: 60%;
                .banner-title {
                    font-family: 'Intro', Bold;
                    max-width: 470px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 0.02em;
                    color: #2C2C2C;
                    margin-bottom: 10px;
                    margin-top: 19px;
                    .highlight {
                        color: #00A6CA;
                    }
                }
                .banner-subtitle {
                    font-family: 'Intro', Book;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #2C2C2C;
                    margin-bottom: 20px;
                }
                .button-grp {
                    display: flex;
                    align-items: center;
                    .app-link{
                        &:not(:last-child){
                            margin-right: 23.41px;
                        }
                    }
                }
            }
        }
        @media(max-width:768px){
            padding-bottom: 40px;
            &__wraper{
                padding: 30px 0 20px;
                text-align: center;
                .banner-content{
                    width: 100%;
                    .banner-title{
                        font-size: 16px;
                        line-height: 24px;
                        max-width: 293px;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 0 12px;
                        margin-top: 0px;
                    }
                    .banner-subtitle{
                        margin: 0 auto;
                        font-size: 14px;
                        max-width: 281px;
                        padding: 0 12px;
                    }
                    .button-grp{
                        justify-content: center;
                        z-index: 2;
                        position: relative;
                        margin-top: -30px;
                        .app-link{
                            &:not(:last-child){
                                margin-right: 20px;
                            }
                        }
                    }
                    .banner-img{
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        &:after{
                            content:'';
                            background: linear-gradient(180deg, rgba(246, 247, 252, 0) 17.94%, #F6F7FC 54.27%);
                            border-radius: 4px;
                            position: absolute;
                            left: 0;
                            bottom: -20px;
                            width: 100%;
                            height: 141px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    /* Banner section end */

}