* {
  margin: 0;
  padding: 0;
  font-family: "Intro", book;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Intro";
  scroll-behavior: smooth;
}

a {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.font-12 {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}

@media screen and (min-width: 992px) {
  .mr-md-15 {
    margin-right: 15px;
  }

  .mr-md-30 {
    margin-right: 30px;
  }
}
.bg-yellow {
  background-color: #fcd800;
  padding: 0 2px;
}

.text-bold {
  font-weight: bold;
}

.text-color-black {
  color: #000000;
}
.text-color-black-75 {
  color: rgba(0, 0, 0, 0.75);
}
.text-color-blue {
  color: #006685;
}
.text-color-blue:hover {
  color: #006685;
}
.text-color-white {
  color: #ffffff;
}
.text-color-yellow {
  color: #fcd833;
}
.text-color-brown {
  color: #232323;
}
.text-color-green {
  color: #18a160;
}

.text-light-grey {
  color: #acacac;
}

.bg-black {
  background-color: #000000;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-f9 {
  background-color: #f9f9f9 !important;
}
.bg-ed {
  background-color: #ededed;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-05 {
  margin-bottom: 5px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px !important;
}
.mb-5 {
  margin-bottom: 50px !important;
}
.mb-6 {
  margin-bottom: 60px !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mt-4 {
  margin-top: 40px !important;
}
.mt-5 {
  margin-top: 50px !important;
}
.mt-6 {
  margin-top: 60px !important;
}

@media screen and (min-width: 992px) {
  .mt-md-19 {
    margin-top: 19px !important;
  }

  .mt-md-30 {
    margin-top: 30px;
  }
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-2 {
  padding-bottom: 20px !important;
}
.pb-3 {
  padding-bottom: 30px !important;
}
.pb-4 {
  padding-bottom: 40px !important;
}
.pb-5 {
  padding-bottom: 50px !important;
}
.pb-6 {
  padding-bottom: 60px !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-2 {
  padding-top: 20px !important;
}
.pt-3 {
  padding-top: 30px !important;
}
.pt-4 {
  padding-top: 40px !important;
}
.pt-5 {
  padding-top: 50px !important;
}
.pt-6 {
  padding-top: 60px !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.mr-3 {
  margin-right: 30px !important;
}
.mr-4 {
  margin-right: 40px !important;
}
.mr-5 {
  padding-top: 50px !important;
}
.mr-6 {
  padding-top: 60px !important;
}

.p-1 {
  padding: 10px !important;
}
.p-2 {
  padding: 20px !important;
}

.ml-05 {
  margin-left: 5px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-15 {
  margin-left: 15px;
}

.max-width-120 {
  max-width: 120px;
}

.height-auto {
  height: auto;
  height: max-content;
}

.rounded-border {
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 4px;
}

.rounded-border-1 {
  border: 1px solid #dde0ef;
  box-sizing: border-box;
  border-radius: 16px;
}

.border-top-1 {
  border-top: 1px solid #dde0ef !important;
}

.text-black-2c {
  color: #2c2c2c;
}

.border-top-0 {
  border-top: 0;
}

.border-ac {
  border: 1px solid #acacac;
  box-sizing: border-box;
}

.border-ac-section {
  background: #ffffff;
  border: 1px solid #acacac;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px 8px 15px 20px;
  min-height: 62px;
  align-items: center;
  display: flex;
}

.text-button {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  padding: 0 8px;
  color: #2c2c2c;
}

.border-radius-6px {
  border-radius: 6px;
}

.title-light {
  font-family: "Intro", Book;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.para-intro-regular-2c {
  font-family: "Intro", Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.para-intro-book-70 {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
}

@media (min-width: 992px) {
  .m-visible {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .m-hidden {
    display: none !important;
  }
}

.max-width-350 {
  max-width: 350px;
}

.border-1 {
  border: 1px solid #dde0ef;
}

.brand-blue {
  background-color: #006685;
}

.text-intro-bold {
  font-family: "Intro", Bold;
  font-weight: bold;
}

.text-red {
  color: #d74025 !important;
  font-family: "Intro", Regular;
}

.para-intro-book-70 {
  font-family: "Intro", Book;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
}

.text-light {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070 !important;
}

.text-blue {
  font-family: "Intro" Bold;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #00a6ca;
}

.para-intro-regular {
  font-family: "Intro", Regular;
  line-height: 30px;
  text-align: center;
  color: #242424;
}

@media screen and (min-width: 992px) {
  .f-md-24 {
    font-size: 24px;
  }
}
.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.flex-1 {
  flex: 1;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 992px) {
  .px-md-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.p-15 {
  padding: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .pl-40 {
    padding-left: 40px;
  }
}

.border-bottom-1 {
  border-bottom: 1px solid #dde0ef;
}

.button-icon {
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 30px;
  width: auto;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f16e00;
  text-decoration: none;
  border: 1px solid #f16e00;
  box-sizing: border-box;
  border-radius: 25px;
}
.button-icon img {
  margin-right: 15px;
}
.button-icon span {
  font-family: "Intro", Regular;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.logo {
  position: relative;
  z-index: 2;
  width: calc(316px / 2);
  display: block;
  margin: auto;
}

.dashboard {
  position: relative;
}
.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26%;
  height: 100%;
  z-index: 0;
}
.dashboard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 74%;
  height: 80%;
  z-index: 0;
  background: #fff;
}
.dashboard .left-column {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  background-color: #006685;
  width: 20%;
}
@media screen and (max-width: 992px) {
  .dashboard .left-column {
    display: none;
  }
}
.dashboard .right-column {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  background: #f6f7fc;
}
@media screen and (min-width: 992px) {
  .dashboard .right-column {
    padding-left: 60px;
    padding-right: 60px;
    width: 80%;
  }
}
.dashboard .right-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 452px;
  z-index: -1;
}

.tabs {
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
  position: relative;
  padding-left: 0;
}
.tabs .active-tab {
  position: relative;
  color: black;
}
.tabs .active-tab:after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 0;
}
.tabs li {
  height: 60px;
  display: flex;
  align-items: center;
  font-family: "Intro", Regular;
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding-left: 42px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: flex;
}
.tabs li img {
  margin-right: 20px;
}
.tabs li.active-tab {
  background: #006685;
  color: #fcd833;
}

.tabs-content {
  margin: 20px;
  padding: 0;
  list-style: none;
}

.animated-chart-1 {
  height: 477px;
  background: #ffffff;
  box-shadow: 0px 0px 48px rgba(1, 83, 101, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.animated-chart-1 .chart1 {
  width: 292px;
  height: 198px;
  object-fit: contain;
  margin-top: 20px;
}
.animated-chart-1 a.link-16 {
  margin-top: 20px;
  display: block;
}
.animated-chart-1 .f-24-title {
  margin-bottom: 6px;
}
.animated-chart-1 .watch-video {
  margin-top: 35px;
}
@media screen and (min-width: 992px) {
  .animated-chart-1 .watch-video {
    display: flex;
    align-items: center;
  }
}
.animated-chart-1 .watch-video a {
  display: inline-flex;
  font-family: "Intro", Regular;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #2c2c2c;
  margin-left: 14px;
  margin-right: 6px;
}
.animated-chart-1 .watch-video img {
  width: 21px;
  height: 21px;
  object-fit: cover;
}

.f-24-title {
  font-family: "Intro", bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.link-16 {
  font-family: "Intro", Regular;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #2c2c2c;
}

.card-inner {
  background-color: white;
}
@media screen and (min-width: 992px) {
  .card-inner {
    height: 595px;
  }
}

.column-slider .slick-prev {
  display: none !important;
}
.column-slider .slick-list {
  position: relative;
}
.column-slider .slick-list::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 60px;
  background: linear-gradient(270deg, #ffffff 54.64%, rgba(255, 255, 255, 0.0729167) 88.53%, rgba(255, 255, 255, 0) 95.5%);
  right: 0;
  top: 0;
  z-index: 1;
  bottom: 0;
  margin: auto;
}
.column-slider button.slick-next {
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 65px;
  margin: auto;
  height: max-content;
  background: no-repeat;
  border: 0;
  background-image: url(../img/slider-arrow-right.svg);
  background-size: contain;
  color: transparent;
}
.column-slider button.slick-next button {
  display: none;
}
@media screen and (min-width: 992px) {
  .column-slider .slick-dots {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .column-slider .slick-slider {
    margin: 0 -15px;
  }
  .column-slider .slick-slide {
    margin-right: 10px;
    margin-left: 10px;
  }
  .column-slider .slick-list {
    padding: 0 20% 0 0 !important;
  }
}

.for-overlay {
  position: relative;
}
.for-overlay .closeovelay {
  position: absolute;
  right: 4.17%;
  top: 3.2%;
  cursor: pointer;
}
.for-overlay .overlay-card {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay-card {
  background: #ffffff;
  border: 1px solid #dde0ef;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 16px;
  height: 625px;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
.overlay-card h6 {
  font-family: "Intro", Regular;
  font-size: 24px;
  line-height: 30px;
  color: #2c2c2c;
}
.overlay-card p {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 30px;
  color: #000000;
}
.overlay-card a {
  margin-right: auto;
}

.multiple-items-slider {
  /* the slides */
  /* the parent */
}
@media screen and (min-width: 992px) {
  .multiple-items-slider {
    margin-top: 50px;
    margin-left: 66px;
  }
}
.multiple-items-slider .slider-item {
  background: #006685;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.21);
  border-radius: 8px;
  padding: 30px;
  width: 100%;
}
.multiple-items-slider .slider-item h6 {
  font-family: "Intro", Bold;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0;
}
.multiple-items-slider .slider-item p {
  font-family: "Intro", Regular;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 40px;
}
.multiple-items-slider .slider-item a {
  font-family: "Intro", Bold;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #ffffff;
}
.multiple-items-slider .slick-slide {
  margin: 0 10px;
}
.multiple-items-slider .slick-list {
  margin: 0 -10px;
}

.alerts {
  background: #f9f9f9;
  border-radius: 4px;
  padding: 10px;
}
.alerts .date {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.alerts .cibilalert {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.icon-column-box {
  border-top: 3px solid #dddddd;
  background: #fafafa;
  border-radius: 4px;
  padding: 16px;
}
@media screen and (max-width: 992px) {
  .icon-column-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .icon-column-box {
    padding: 30px 23px;
  }
}
.icon-column-box img {
  margin-bottom: 28px;
}
@media screen and (max-width: 992px) {
  .icon-column-box img {
    margin-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .icon-column-box p {
    margin-bottom: 7px;
  }
}
.icon-column-box bold {
  font-family: "Intro", Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}
.icon-column-box .light {
  font-family: "Intro", Regular;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
}

.banner-adds {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
}
.banner-adds .adds-text {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #dddddd;
}

@media screen and (min-width: 992px) {
  .show-col-6-flex .icon-column-box {
    position: relative;
    height: 128px;
  }
  .show-col-6-flex .icon-column-box .text {
    height: 48px;
    position: absolute;
    bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  .show-col-6-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .show-col-6-flex .icon-column-box {
    width: 48%;
    flex: unset;
  }
}
@media screen and (max-width: 992px) and (max-width: 400px) {
  .show-col-6-flex .icon-column-box {
    padding: 5px !important;
  }
  .show-col-6-flex .icon-column-box .light {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .show-col-6-flex .icon-column-box img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 27px;
  }
}
@media screen and (max-width: 992px) {
  .show-col-6-flex .icon-column-box img {
    width: 25px;
  }
}
@media screen and (max-width: 992px) {
  .show-col-6-flex .icon-column-box .light {
    margin: 0;
    line-height: unset;
  }
}
@media screen and (max-width: 992px) {
  .show-col-6-flex .icon-column-box:nth-child(odd) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 992px) {
  .show-col-6-flex .icon-column-box:nth-child(even) {
    margin-left: 5px;
  }
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}
.slick-dots li {
  width: 30px;
  height: 8px;
  background: #dddddd;
  border-radius: 4px;
  display: inline-block;
  margin: 0 5px;
}
.slick-dots li.slick-active {
  background: #006685;
}
.slick-dots li button {
  display: none;
}

.multiple-items-2 .icon-column-box {
  min-height: 240px;
}

.page-type-2 .right-column::before {
  height: 275px;
}
@media screen and (min-width: 992px) {
  .page-type-2 .right-column::before {
    height: 255px;
  }
}
.page-type-2 .tabs-content {
  margin: 0;
}
@media screen and (max-width: 992px) {
  .page-type-2 .list-tab {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navigation-tabs {
  display: flex;
  align-items: center;
}
.navigation-tabs > div {
  background: #f9f9f9;
  padding: 4px 10px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #707070;
}
.navigation-tabs > div.navigation-active-tab {
  color: #2c2c2c;
}
.navigation-tabs img {
  margin: 0 10px;
}

.page-title-with-icon {
  display: flex;
  align-items: center;
}
.page-title-with-icon h3 {
  font-family: "Intro", Regular;
  font-size: 40px;
  line-height: 50px;
  color: #2c2c2c;
  margin-left: 16px;
}

.switching-tabs {
  background-color: #ffffff;
  margin-bottom: 60px;
}
.switching-tabs .benefits-outer {
  padding: 20px;
}
.switching-tabs .benefits-outer .row {
  background: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  background: rebeccapurple;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  border-radius: 8px;
}

.numb {
  width: 34px;
  height: 34px;
  background: #707070;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 15px;
}

.switch-tabs-section {
  display: flex;
  align-items: center;
}
.switch-tabs-section .switch-tab {
  height: 128px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 14px;
  flex: 1;
  border-right: 1px solid #dddddd;
}
.switch-tabs-section .switch-tab p {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.switch-tabs-section .switch-tab.active {
  border-top: 6px solid #00a6ca;
}
.switch-tabs-section .switch-tab.active .numb {
  background-color: #00a6ca;
}

.text-color-70 {
  color: #707070 !important;
}

.blue-dropdown-groups-section {
  background: #006685;
  padding: 22px 0 22px 20px;
  padding-left: 0;
}
.blue-dropdown-groups-section .dropdown {
  display: inline-block;
  position: relative;
  min-width: 121px;
  margin-right: 30px;
}
.blue-dropdown-groups-section .dropdown::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -30px;
}
.blue-dropdown-groups-section .dropdown:last-child::before {
  display: none;
}
.blue-dropdown-groups-section .dd-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Intro", Regular;
  font-size: 14px;
  line-height: 140%;
  padding-left: 20px;
  color: #ffffff;
}
.blue-dropdown-groups-section .dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  background-image: url(../img/downarrow-carret.svg);
  background-size: contain;
}
.blue-dropdown-groups-section .dd-input {
  display: none;
}
.blue-dropdown-groups-section .dd-input + .dd-menu {
  display: none;
}
.blue-dropdown-groups-section .dd-input:checked + .dd-menu {
  display: block;
}
.blue-dropdown-groups-section .dd-menu {
  position: absolute;
  top: 100%;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  list-style-type: none;
  background: #006685;
  box-shadow: 0px 0px 15px -5px #282828;
}
.blue-dropdown-groups-section .dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10px;
}
.blue-dropdown-groups-section .dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}
.blue-dropdown-groups-section .dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.image-column {
  width: 130px;
  padding-right: 30px;
  position: relative;
}
.image-column::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}
.image-column img {
  width: 100%;
}

.compare-row {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  padding: 20px;
  padding-bottom: 10px;
}
.compare-row .button-row {
  margin-left: auto;
}

.limit-column {
  padding-left: 20px;
  position: relative;
  width: 230px;
}
.limit-column::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.interest-column {
  width: 230px;
  padding-left: 30px;
  position: relative;
}
.interest-column::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.annual-fees {
  padding-left: 30px;
  position: relative;
  width: 130px;
}

.checkbox-row {
  padding: 0 20px;
  padding-right: 55px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
}
.checkbox-row a {
  position: relative;
}
.checkbox-row a::after {
  content: "";
  position: absolute;
  top: 0;
  border: 1.6px solid #00a6ca;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  top: -5px;
  bottom: 0;
  margin: auto;
  right: -20px;
  border-top: 0;
  border-left: 0;
}

.benefits-list {
  padding: 0;
  margin: 0;
}
.benefits-list li {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin-top: 20px;
}
.benefits-list li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-image: url(../img/greencheck.svg);
  background-size: contain;
  left: 0;
}

.mobile-switch-container .dropdown-container {
  background: #00a6ca;
  padding: 20px;
}
.mobile-switch-container .dropdown-container .dropdown {
  background: #ffffff;
  width: 100%;
}
.mobile-switch-container .dropdown-container .dropdown .dd-button {
  color: #2c2c2c !important;
  width: 100%;
  display: flex;
  align-items: center;
}
.mobile-switch-container .dropdown-container .dropdown .numb {
  margin: 0;
  margin-left: 10px;
  background-color: #00a6ca;
}
.mobile-switch-container .para-intro-regular-2c {
  margin-left: 10px;
}
.mobile-switch-container .dropdown {
  display: inline-block;
  position: relative;
  min-width: 121px;
  margin-right: 30px;
}
.mobile-switch-container .dropdown::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -30px;
}
.mobile-switch-container .dropdown:last-child::before {
  display: none;
}
.mobile-switch-container .dd-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Intro", Regular;
  font-size: 14px;
  line-height: 140%;
  padding-left: 20px;
  color: #ffffff;
}
.mobile-switch-container .dd-button:after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 12px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border: 1.6px solid #2c2c2c;
  margin: auto;
  border-top: 0;
  border-left: 0;
}
.mobile-switch-container .dd-input {
  display: none;
}
.mobile-switch-container .dd-input + .dd-menu {
  display: none;
}
.mobile-switch-container .dd-input:checked + .dd-menu {
  display: block;
}
.mobile-switch-container .dd-menu {
  position: absolute;
  top: 100%;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  list-style-type: none;
  background: #006685;
  box-shadow: 0px 0px 15px -5px #282828;
}
.mobile-switch-container .dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10px;
}
.mobile-switch-container .dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}
.mobile-switch-container .dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.sort {
  background: #707070;
  padding: 20px 0;
  text-align: center;
}
.sort span {
  position: relative;
  color: #ffffff;
}
.sort span:after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: 0;
  right: -20px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border: 1.6px solid #ffffff;
  margin: auto;
  border-top: 0;
  border-left: 0;
}

.three-column {
  display: flex;
  padding: 10px;
  border-top: 1px solid #DDDDDD;
}
.three-column > div {
  flex: 1;
  position: relative;
}
.three-column > div::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 1px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
}
.three-column > div:last-child::before {
  display: none;
}
.three-column .para-intro-regular-2c {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  /* Accent Black */
  color: #2c2c2c;
}
.three-column p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}/*# sourceMappingURL=custom.css.map */