* {
  margin: 0;
  padding: 0;
  font-family: "Intro", book;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Intro";
  scroll-behavior: smooth;
}

a {
  outline: none !important;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.mt-2 {
  margin-top: 2px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

@media screen and (min-width: 992px) {
  .mt-md-2 {
    margin-top: 2px !important;
  }

  .pt-md-2 {
    padding-top: 2px !important;
  }

  .mb-md-2 {
    margin-bottom: 2px !important;
  }

  .pb-md-2 {
    padding-bottom: 2px !important;
  }

  .ml-md-2 {
    margin-left: 2px !important;
  }

  .pl-md-2 {
    padding-left: 2px !important;
  }

  .mr-md-2 {
    margin-right: 2px !important;
  }

  .pr-md-2 {
    padding-right: 2px !important;
  }

  .mt-md-4 {
    margin-top: 4px !important;
  }

  .pt-md-4 {
    padding-top: 4px !important;
  }

  .mb-md-4 {
    margin-bottom: 4px !important;
  }

  .pb-md-4 {
    padding-bottom: 4px !important;
  }

  .ml-md-4 {
    margin-left: 4px !important;
  }

  .pl-md-4 {
    padding-left: 4px !important;
  }

  .mr-md-4 {
    margin-right: 4px !important;
  }

  .pr-md-4 {
    padding-right: 4px !important;
  }

  .mt-md-5 {
    margin-top: 5px !important;
  }

  .pt-md-5 {
    padding-top: 5px !important;
  }

  .mb-md-5 {
    margin-bottom: 5px !important;
  }

  .pb-md-5 {
    padding-bottom: 5px !important;
  }

  .ml-md-5 {
    margin-left: 5px !important;
  }

  .pl-md-5 {
    padding-left: 5px !important;
  }

  .mr-md-5 {
    margin-right: 5px !important;
  }

  .pr-md-5 {
    padding-right: 5px !important;
  }

  .mt-md-6 {
    margin-top: 6px !important;
  }

  .pt-md-6 {
    padding-top: 6px !important;
  }

  .mb-md-6 {
    margin-bottom: 6px !important;
  }

  .pb-md-6 {
    padding-bottom: 6px !important;
  }

  .ml-md-6 {
    margin-left: 6px !important;
  }

  .pl-md-6 {
    padding-left: 6px !important;
  }

  .mr-md-6 {
    margin-right: 6px !important;
  }

  .pr-md-6 {
    padding-right: 6px !important;
  }

  .mt-md-10 {
    margin-top: 10px !important;
  }

  .pt-md-10 {
    padding-top: 10px !important;
  }

  .mb-md-10 {
    margin-bottom: 10px !important;
  }

  .pb-md-10 {
    padding-bottom: 10px !important;
  }

  .ml-md-10 {
    margin-left: 10px !important;
  }

  .pl-md-10 {
    padding-left: 10px !important;
  }

  .mr-md-10 {
    margin-right: 10px !important;
  }

  .pr-md-10 {
    padding-right: 10px !important;
  }

  .mt-md-15 {
    margin-top: 15px !important;
  }

  .pt-md-15 {
    padding-top: 15px !important;
  }

  .mb-md-15 {
    margin-bottom: 15px !important;
  }

  .pb-md-15 {
    padding-bottom: 15px !important;
  }

  .ml-md-15 {
    margin-left: 15px !important;
  }

  .pl-md-15 {
    padding-left: 15px !important;
  }

  .mr-md-15 {
    margin-right: 15px !important;
  }

  .pr-md-15 {
    padding-right: 15px !important;
  }

  .mt-md-20 {
    margin-top: 20px !important;
  }

  .pt-md-20 {
    padding-top: 20px !important;
  }

  .mb-md-20 {
    margin-bottom: 20px !important;
  }

  .pb-md-20 {
    padding-bottom: 20px !important;
  }

  .ml-md-20 {
    margin-left: 20px !important;
  }

  .pl-md-20 {
    padding-left: 20px !important;
  }

  .mr-md-20 {
    margin-right: 20px !important;
  }

  .pr-md-20 {
    padding-right: 20px !important;
  }

  .mt-md-25 {
    margin-top: 25px !important;
  }

  .pt-md-25 {
    padding-top: 25px !important;
  }

  .mb-md-25 {
    margin-bottom: 25px !important;
  }

  .pb-md-25 {
    padding-bottom: 25px !important;
  }

  .ml-md-25 {
    margin-left: 25px !important;
  }

  .pl-md-25 {
    padding-left: 25px !important;
  }

  .mr-md-25 {
    margin-right: 25px !important;
  }

  .pr-md-25 {
    padding-right: 25px !important;
  }

  .mt-md-30 {
    margin-top: 30px !important;
  }

  .pt-md-30 {
    padding-top: 30px !important;
  }

  .mb-md-30 {
    margin-bottom: 30px !important;
  }

  .pb-md-30 {
    padding-bottom: 30px !important;
  }

  .ml-md-30 {
    margin-left: 30px !important;
  }

  .pl-md-30 {
    padding-left: 30px !important;
  }

  .mr-md-30 {
    margin-right: 30px !important;
  }

  .pr-md-30 {
    padding-right: 30px !important;
  }

  .mt-md-35 {
    margin-top: 35px !important;
  }

  .pt-md-35 {
    padding-top: 35px !important;
  }

  .mb-md-35 {
    margin-bottom: 35px !important;
  }

  .pb-md-35 {
    padding-bottom: 35px !important;
  }

  .ml-md-35 {
    margin-left: 35px !important;
  }

  .pl-md-35 {
    padding-left: 35px !important;
  }

  .mr-md-35 {
    margin-right: 35px !important;
  }

  .pr-md-35 {
    padding-right: 35px !important;
  }

  .mt-md-40 {
    margin-top: 40px !important;
  }

  .pt-md-40 {
    padding-top: 40px !important;
  }

  .mb-md-40 {
    margin-bottom: 40px !important;
  }

  .pb-md-40 {
    padding-bottom: 40px !important;
  }

  .ml-md-40 {
    margin-left: 40px !important;
  }

  .pl-md-40 {
    padding-left: 40px !important;
  }

  .mr-md-40 {
    margin-right: 40px !important;
  }

  .pr-md-40 {
    padding-right: 40px !important;
  }

  .mt-md-45 {
    margin-top: 45px !important;
  }

  .pt-md-45 {
    padding-top: 45px !important;
  }

  .mb-md-45 {
    margin-bottom: 45px !important;
  }

  .pb-md-45 {
    padding-bottom: 45px !important;
  }

  .ml-md-45 {
    margin-left: 45px !important;
  }

  .pl-md-45 {
    padding-left: 45px !important;
  }

  .mr-md-45 {
    margin-right: 45px !important;
  }

  .pr-md-45 {
    padding-right: 45px !important;
  }

  .mt-md-50 {
    margin-top: 50px !important;
  }

  .pt-md-50 {
    padding-top: 50px !important;
  }

  .mb-md-50 {
    margin-bottom: 50px !important;
  }

  .pb-md-50 {
    padding-bottom: 50px !important;
  }

  .ml-md-50 {
    margin-left: 50px !important;
  }

  .pl-md-50 {
    padding-left: 50px !important;
  }

  .mr-md-50 {
    margin-right: 50px !important;
  }

  .pr-md-50 {
    padding-right: 50px !important;
  }

  .mt-md-60 {
    margin-top: 60px !important;
  }

  .pt-md-60 {
    padding-top: 60px !important;
  }

  .mb-md-60 {
    margin-bottom: 60px !important;
  }

  .pb-md-60 {
    padding-bottom: 60px !important;
  }

  .ml-md-60 {
    margin-left: 60px !important;
  }

  .pl-md-60 {
    padding-left: 60px !important;
  }

  .mr-md-60 {
    margin-right: 60px !important;
  }

  .pr-md-60 {
    padding-right: 60px !important;
  }

  .mt-md-75 {
    margin-top: 75px !important;
  }

  .pt-md-75 {
    padding-top: 75px !important;
  }

  .mb-md-75 {
    margin-bottom: 75px !important;
  }

  .pb-md-75 {
    padding-bottom: 75px !important;
  }

  .ml-md-75 {
    margin-left: 75px !important;
  }

  .pl-md-75 {
    padding-left: 75px !important;
  }

  .mr-md-75 {
    margin-right: 75px !important;
  }

  .pr-md-75 {
    padding-right: 75px !important;
  }

  .mt-md-100 {
    margin-top: 100px !important;
  }

  .pt-md-100 {
    padding-top: 100px !important;
  }

  .mb-md-100 {
    margin-bottom: 100px !important;
  }

  .pb-md-100 {
    padding-bottom: 100px !important;
  }

  .ml-md-100 {
    margin-left: 100px !important;
  }

  .pl-md-100 {
    padding-left: 100px !important;
  }

  .mr-md-100 {
    margin-right: 100px !important;
  }

  .pr-md-100 {
    padding-right: 100px !important;
  }
}
.p-10 {
  padding: 20px;
}

.p-20 {
  padding: 20px;
}

.para-intro-regular-2c {
  font-family: "Intro", Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.para-intro-bold-2c {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #2c2c2c;
}

.fw-600 {
  font-weight: 600;
}

.para-book {
  font-family: "Intro", Book;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.color-2c {
  color: #2c2c2c;
}

.color-70 {
  color: #707070;
}

.orange-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background: #f16e00;
  border-radius: 25px;
  font-weight: 600;
  height: 50px;
  border: none !important;
  outline: none;
}
.orange-button.disabled {
  pointer-events: none;
  background: #f9f9f9;
}

input:disabled {
  background: #dddddd !important;
  color: #707070;
  font-weight: 600;
}

.logo {
  position: relative;
  z-index: 2;
  width: calc(316px / 2);
  display: block;
  margin: auto;
  position: fixed;
  top: 20px;
  left: 50px;
}

.dashboard {
  position: relative;
}
.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26%;
  height: 100%;
  z-index: 0;
}
.dashboard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 74%;
  height: 80%;
  z-index: 0;
  background: #fff;
}
.dashboard .left-column {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  background-color: #006685;
  width: 20%;
}
@media screen and (max-width: 992px) {
  .dashboard .left-column {
    display: none;
  }
}
.dashboard .right-column {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  background: #f6f7fc;
}
@media screen and (min-width: 992px) {
  .dashboard .right-column {
    padding-left: 60px;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .pr-60 {
    padding-right: 60px;
  }
}

.pr-20 {
  padding-right: 20px;
}

.tabs {
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
  position: relative;
  padding-left: 0;
}
.tabs .active-tab {
  position: relative;
  color: black;
}
.tabs .active-tab:after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 0;
}
.tabs li {
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding-left: 42px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: flex;
}
.tabs li img {
  margin-right: 20px;
}
.tabs li.active-tab {
  background: #006685;
  color: #fcd833;
}

.header-container {
  padding: 30px 20px;
}
@media screen and (min-width: 992px) {
  .header-container {
    padding: 40px 60px;
  }
}

.tabs-content {
  padding: 0;
  list-style: none;
}

.navigation-tabs {
  display: flex;
  align-items: center;
}
.navigation-tabs > a {
  background: #f9f9f9;
  text-decoration: none;
  padding: 4px 10px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #707070;
  font-family: "Intro", book;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.navigation-tabs > a.navigation-active-tab {
  color: #2c2c2c;
}
.navigation-tabs img {
  margin: 0 10px;
}

.page-title-with-icon {
  display: flex;
  align-items: center;
}
.page-title-with-icon h3 {
  font-family: "Intro", Regular;
  font-size: 24px;
  line-height: 50px;
  color: #2c2c2c;
  margin-left: 16px;
}
@media screen and (min-width: 992px) {
  .page-title-with-icon h3 {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  .ms-md-60 {
    margin-left: 30px;
  }

  .me-md-60 {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .ms-md-60 {
    margin-left: 60px;
  }

  .me-md-60 {
    margin-right: 60px;
  }
}
.d-block {
  display: block;
}

@media screen and (max-width: 992px) {
  .mhide {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .d-md-flex {
    display: flex;
  }

  .dhide {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .pt-sm-0 {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
}
.tag-intabs-current {
  color: #2c2c2c !important;
  font-weight: 600;
  background-color: #dddddd;
}
.tag-intabs-current::after {
  background-color: #dddddd !important;
}

.in-active {
  margin-top: -3px;
}
.in-active .save {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transform: translateY(-3px);
}
.in-active .save::before {
  display: none;
}

.plan-title {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.active .column-footer {
  bottom: 0;
  left: 0;
  width: 100%;
}

.features-mobile-section .top-head {
  min-height: 0;
}

.border-right-0 {
  border-right: 0;
}

@media screen and (max-width: 992px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding-left: 20%;
    position: relative;
  }
  footer::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 110%;
    width: 20%;
    background-color: #006685;
    border-top: 1px solid #006685;
  }
}
footer a {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  margin: 0 0.5em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  footer a {
    margin: 0 15px;
  }
}

.curret-plan {
  position: absolute;
  height: 50px;
  background: #dddddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  border: 1px solid #dddddd !important;
  top: -50px;
  left: -1px;
  width: 101%;
  font-family: "Intro", Regular;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.border-left-0 {
  border-left: none !important;
}

.border-left-1 {
  border-left: 1px solid #dddddd !important;
}

input.orange-button {
  padding-left: 40px !important;
}

.password-tab {
  background-image: url(/img/password-grey.svg);
  height: 30px;
  background-repeat: no-repeat;
  width: 32px;
}

.notification-tab {
  height: 30px;
  background-image: url(/img/notification.svg);
  background-repeat: no-repeat;
  width: 32px;
}

.subscription-tab {
  background-image: url(/img/contact.svg);
  height: 30px;
  background-repeat: no-repeat;
  width: 32px;
}

.password-active.active .password-tab {
  background-repeat: no-repeat;
  background-image: url(/img/password.svg);
}

.notification-active.active .notification-tab {
  background-repeat: no-repeat;
  background-image: url(/img/notification-blue.svg);
}

.subscription-active.active .subscription-tab {
  background-repeat: no-repeat;
  background-image: url(/img/contact-blue.svg);
}

@media screen and (min-width: 992px) {
  .common-type-tabs-section .nav li {
    padding: 0;
  }
  .common-type-tabs-section .nav li a {
    padding: 10px;
    padding-left: 15px;
  }
}
.mobile-navtabs li {
  padding-left: 8px !important;
}

ul.accordion {
  margin: 0 20px;
  list-style: none;
  padding: 0;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  ul.accordion {
    margin: 0 60px;
  }
}
ul.accordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
  border: 1px solid #dde0ef;
}
ul.accordion .inner .row {
  border-bottom: 1px solid #dde0ef;
  align-items: center;
}
ul.accordion .inner .row p {
  margin-bottom: 0;
}
ul.accordion .inner.show {
  /*display: block;*/
}
ul.accordion .inner .col-md-4 {
  border-right: 1px solid #dde0ef;
  padding: 15px 20px;
}
ul.accordion li {
  margin: 0 0 5px 0px;
}
ul.accordion li a.toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ededed;
  padding: 20px;
  border-radius: 0.15em;
  transition: background 0.3s ease;
  text-decoration: none;
}
ul.accordion li a.toggle > div {
  display: flex;
}
ul.accordion li a.toggle > div p {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 0;
  /* Accent Black */
  color: #2c2c2c;
  margin-right: 20px;
}
ul.accordion li a.toggle > div span {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.02em;
  /* Accent Black */
  color: #2c2c2c;
}
ul.accordion li a.toggle:hover {
  background: #b6b6b6;
}
ul.accordion .arrow-rotate {
  transform: rotate(180deg);
}
ul.accordion .active-arrow .arrow-rotate {
  transform: rotate(0);
}/*# sourceMappingURL=style.css.map */