* {
    margin: 0;
    padding: 0;
    font-family: "Intro";
    scroll-behavior: smooth;
}
body {
    font-family: "Intro";
    background: #ffffff;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.text-color-black {
    color: #000000;
}
.text-color-black-75 {
    color: rgba(0, 0, 0, 0.75);
}
.text-color-blue {
    color: #3ea3ce;
}
.text-color-blue:hover {
    color: #3ea3ce;
}
.text-color-white {
    color: #ffffff;
}
.text-color-yellow {
    color: #fcd833;
}
.text-color-brown {
    color: #232323;
}
.text-color-green {
    color: #18a160;
}
.h-100 {
    height: 100%;
}
.w-70 {
    width: 70%;
}
.bg-light-blue {
    background: #eff7fe;
}
.pr-1 {
    padding-right: 10px;
}
.text-decoration-none {
    text-decoration: none;
    outline: 0;
}
.text-decoration-none:hover {
    text-decoration: none;
    outline: 0;
}
.text-decoration-underline {
    text-decoration: underline;
    outline: 0;
}
.text-decoration-underline:hover {
    text-decoration: underline;
    outline: 0;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px !important;
}
.font-17 {
    font-size: 17px;
}
.font-18 {
    font-size: 18px;
    line-height: 22px;
}
.font-19 {
    font-size: 19px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-weight-300 {
    font-weight: 300;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-600 {
    font-weight: 600;
}
.font-weight-700 {
    font-weight: 700;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-30 {
    padding: 30px;
}
.padding-40 {
    padding: 40px;
}
.padding-50 {
    padding: 50px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-05 {
    margin-bottom: 5px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mb-5 {
    margin-bottom: 50px;
}
.mb-6 {
    margin-bottom: 60px;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}
.mt-6 {
    margin-top: 60px;
}
.mh-auto {
    margin-left: auto;
    margin-right: auto;
}
.pt-2 {
    padding-top: 20px;
}
.justify-between {
    display: flex;
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.max-450 {
    max-width: 455px;
    margin-left: auto;
}
@media (max-width: 991px) {
    .max-450 {
        max-width: 100%;
    }
}
.max-480 {
    max-width: 480px;
}
@media (max-width: 991px) {
    .max-480 {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .m-visible {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .m-hidden {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .row-mobile-reverse {
        display: flex;
        flex-direction: column;
    }
    .row-mobile-reverse .order-0 {
        order: 0;
    }
    .row-mobile-reverse .order-1 {
        order: 1;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .custom-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 1400px) {
    .min-container {
        width: 1375px;
        padding-right: 10px;
        padding-left: 10px;
        margin: auto;
    }
}
.grey-sep {
    height: 1px;
    width: 100%;
    background: #b9b9b9;
    margin: 20px 0;
}
@media (min-width: 992px) {
    .w-36 {
        width: 36%;
    }
}
@media (min-width: 992px) {
    .w-64 {
        width: 64%;
        padding-right: 35px;
    }
}
@media (min-width: 992px) {
    .w-70 {
        width: 70%;
        padding-right: 35px;
    }
}
@media (max-width: 991px) {
    .pb-m-2 {
        padding-bottom: 20px;
    }
}
a:focus {
    outline: 0;
}
.d-block {
    display: block;
}
.header {
    padding: 15px;
    background: #ffffff;
    border-bottom: 5px solid #fcd833;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .header {
        padding: 12px 0;
        border-bottom: 0;
    }
}
.button-yellow {
    background: #f16e00;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #f16e00;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 12px 44px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
.button-yellow.disabled {
    background: #ededed;
    border: 1px solid #ededed;
    color: #bfbfbf;
}
.button-yellow img {
    position: relative;
    top: -2px;
    left: 10px;
    object-fit: contain;
}
.button-yellow:focus {
    outline: 0;
}
.button-blue {
    background: #00A6CA;
    border: 2px solid #00A6CA;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    padding: 15px 80px;
    width: 100%;
    color: white;
    text-align: center;
    white-space: nowrap;
}
.button-blue img {
    width: 16px !important;
    height: 16px;
    position: relative;
    top: -1px;
    left: 10px;
    object-fit: contain;
}
.button-blue.disabled {
    background: #ededed;
    border: 1px solid #ededed;
    color: #bfbfbf;
}
.button-blue:focus {
    outline: 0;
}
.dashboard .section-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    opacity: 0.85;
    opacity: 0.9;
}
@media (max-width: 991px) {
    .dashboard .section-title {
        font-size: 24px;
        line-height: 44px;
        opacity: 1;
    }
}
.dashboard .section-title-lg {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    width: auto;
}
.dashboard .section-subtitle {
    font-size: 15px;
    line-height: 20px;
}
.dashboard .section-subtitle.light-grey {
    color: #777777;
}
@media (max-width: 767px) {
    .dashboard .section-subtitle {
        font-size: 12px;
        line-height: 18px;
    }
}
.dashboard .seperator img {
    width: 100%;
    height: 3px;
}
@media (max-width: 991px) {
    .dashboard .seperator {
        display: flex;
    }
}
.login-link {
    font-size: 16px;
    line-height: 28px;
    color: #2c2c2c;
    margin-bottom: 0;
    margin-top: 10px;
}
.login-link a {
    color: #2c2c2c;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}
.login-link a:after {
    content: "";
    background-color: #2c2c2c;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5px;
}
.login-link a:focus {
    outline: 0;
}
.hero-section {
    background-image: url("../resources/cibil/img/new-hp/approve-loan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 80px 0;
    position: relative;
    min-height: 478px;
    display: flex;
    align-items: center;
    background-position: 100% 90%;
}
.hero-section .custom-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media (max-width: 991px) {
    .hero-section .custom-container {
        flex-direction: column;
    }
}
.hero-section .content-block {
    background: rgba(255, 255, 255, 0.91);
    padding: 40px;
}
.hero-section .content-block .title {
    font-family: Intro;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .hero-section .content-block .title {
        font-size: 24px;
        line-height: 30px;
        opacity: 0.8;
        margin-bottom: 10px;
    }
}
.hero-section .content-block .subtitle {
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 34px;
    padding-right: 34px;
}
@media (max-width: 991px) {
    .hero-section .content-block .subtitle {
        padding-right: 0px;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.01em;
        opacity: 0.9;
        margin-bottom: 25px;
    }
}
.hero-section .content-block .button-yellow {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #000000;
    justify-content: center;
    max-width: 342px;
}
@media (max-width: 991px) {
    .hero-section .content-block .button-yellow {
        margin: auto;
        font-size: 16px;
        line-height: 16px;
    }
}
@media (max-width: 375px) {
    .hero-section .content-block .button-yellow {
        padding: 18px 22px;
    }
}
@media (max-width: 991px) {
    .hero-section .content-block {
        padding: 24px 15px;
    }
}
.hero-section .image-block {
    position: absolute;
    right: 0;
    bottom: 0;
}
.hero-section .image-block img {
    width: 100%;
    height: auto;
    max-width: 375px;
}
@media (max-width: 991px) {
    .hero-section .image-block img {
        max-width: 300px;
    }
}
@media (max-width: 991px) {
    .hero-section .image-block {
        left: 0;
        right: 0;
        margin: auto;
    }
}
@media (max-width: 991px) {
    .hero-section {
        min-height: 720px;
        text-align: center;
        align-items: flex-start;
        padding-top: 20px;
    }
}
.features {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 970px;
}
.features .section-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    opacity: 0.9;
    position: relative;
}
@media (max-width: 991px) {
    .features .section-title span:first-child {
        display: block;
    }
}
.features .section-title .sub-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    opacity: 0.9;
}
@media (max-width: 991px) {
    .features .section-title .sub-text {
        font-size: 24px;
        line-height: 32px;
    }
}
.features .section-title:after {
    content: "";
    background-image: url("../resources/cibil/img/new-hp/line-break.svg");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 450px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    margin: auto;
}
@media (min-width: 991px) {
    .features .section-title:after {
        bottom: -25px;
    }
}
@media (max-width: 991px) {
    .features .section-title {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 10px;
    }
}
.features .feature-list {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features .feature-list-item {
    background: rgba(238, 238, 238, 0.4);
    border-radius: 4px;
    padding: 20px 32px 20px 60px;
    margin: 10px 0;
}
@media (min-width: 992px){
    .features .feature-list-item {
        width: calc(50% - 10px) !important;
    }
}
.features .feature-list-item h4 {
    font-weight: bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #2C2C2C;
    margin-bottom: 10px;
    position: relative;
}
.features .feature-list-item h4:after {
    content: "";
    background-image: url("../resources/cibil/img/new-hp/tick.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 2px;
    left: -42px;
    object-fit: contain;
}
@media (max-width: 991px) {
    .features .feature-list-item h4:after {
        width: 18px;
        height: 18px;
        left: -30px;
    }
}
@media (max-width: 991px) {
    .features .feature-list-item h4 {
        font-size: 18px;
        line-height: 22px;
    }
}
.features .feature-list-item p {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
}
@media (max-width: 991px) {
    .features .feature-list-item p {
        font-size: 16px;
        line-height: 20px;
    }
}
.features .feature-list-item:nth-child(1) {
    order: 1;
    width: 48%;
}
@media (max-width: 991px) {
    .features .feature-list-item:nth-child(1) {
        width: 100%;
    }
}
.features .feature-list-item:nth-child(2) {
    order: 2;
    width: 48%;
}
@media (max-width: 991px) {
    .features .feature-list-item:nth-child(2) {
        width: 100%;
    }
}
.features .feature-list-item:nth-child(3) {
    order: 3;
    width: 48%;
}
@media (max-width: 991px) {
    .features .feature-list-item:nth-child(3) {
        width: 100%;
    }
}
.features .feature-list-item:nth-child(4) {
    order: 4;
    width: 48%;
}
@media (max-width: 991px) {
    .features .feature-list-item:nth-child(4) {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .features .feature-list-item {
        background-color: transparent;
        padding: 0 14px 0 28px;
        margin: 0 0 30px 0;
    }
    .features .feature-list-item p{
        font-weight: 400;
    }
}
@media (max-width: 991px) {
    .features .feature-list {
        margin-top: 30px;
    }
}
.features .sub-text {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    font-weight: 400;
}
@media (max-width: 991px) {
    .features .sub-text {
        font-size: 20px;
        line-height: 24px;
        max-width: 285px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
.features .button-yellow {
    max-width: 100%;
    font-weight: 700;
    width: auto
}
@media (max-width: 991px) {
    .features {
        margin-top: 40px;
        max-width: 100%;
    }
    .features .button-yellow{
        color: #000;
        width: 100%;
    }
}
.help-center {
    margin-top: 60px;
    padding-top: 43px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background: #f8f8f8;
}
.help-center-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.help-center-wrapper .content-block {
    text-align: center;
}
.help-center-wrapper .content-block .section-title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}
@media (max-width: 991px) {
    .help-center-wrapper .content-block .section-title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 22px;
    }
}
.help-center-wrapper .content-block .section-subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 0;
}
@media (max-width: 991px) {
    .help-center-wrapper .content-block .section-subtitle {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 26px;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .content-block {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .help-center-wrapper .content-block {
        margin-bottom: 40px;
    }
}
.help-center-wrapper .column-section-w .column-section {
    display: flex;
    position: relative;
    padding: 0;
}
.help-center-wrapper .column-section-w .column-section-block {
    margin-bottom: 20px;
    margin-right: 15px;
    position: relative;
}
@media screen and (min-width: 992px) {
    .help-center-wrapper .column-section-w .column-section-block {
        flex: 1;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-block {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.help-center-wrapper .column-section-w .column-section-block:last-child {
    margin-right: 0;
}
.help-center-wrapper .column-section-w .column-section-block:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    background-color: #3ea3ce;
    width: 100%;
    height: 7px;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-block:after {
        width: 7px;
        height: 100%;
        top: 0;
    }
}
.help-center-wrapper .column-section-w .column-section-blocks {
    background: #ffffff;
    /* border: 1px solid #bcbcbc; */
    box-sizing: border-box;
    padding: 22px 20px;
    position: relative;
    height: 100%;
    text-align: center;
}
.help-center-wrapper .column-section-w .column-section-blocks-container {
    height: 90%;
    padding-bottom: 10px;
}
@media (min-width: 992px) {
    .help-center-wrapper .column-section-w .column-section-blocks-container .image-block {
        margin-bottom: 16px;
        height: 64px;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks-container .image-block .icon {
        width: 50px;
        height: auto;
        object-fit: contain;
        position: relative;
        top: -2px;
    }
}
.help-center-wrapper .column-section-w .column-section-blocks-container .content .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #2c2c2c;
    margin-bottom: 5px;
    min-height: 44px;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks-container .content .title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.01em;
        min-height: 0;
        margin-bottom: 10px;
    }
}
.help-center-wrapper .column-section-w .column-section-blocks-container .content .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    position: relative;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks-container .content .subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
}
@media (min-width: 992px){
    .help-center-wrapper .column-section-w .column-section-blocks-container .content .subtitle {
        max-width: 284px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks-container .content {
        padding-left: 15px;
        text-align: left;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks-container {
        display: flex;
        padding-bottom: 0;
    }
}
.help-center-wrapper .column-section-w .column-section-blocks .link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.help-center-wrapper .column-section-w .column-section-blocks .link a {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #00A6CA;
    text-decoration: none;
    position: relative;
    top: 1.5px;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks .link a {
        margin-left: 65px;
    }
}
.help-center-wrapper .column-section-w .column-section-blocks .link img {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-left: 5px;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks .link {
        justify-content: flex-start;
    }
}
@media (min-width: 992px){
    .help-center-wrapper .column-section-w .column-section-blocks .link img {
        display: none;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-blocks {
        margin-right: 0;
        text-align: left;
        border: 1px solid #EDEDED;
    }
}
.help-center-wrapper .column-section-w .column-section-bar {
    padding: 22px 20px 0;
    position: relative;
    text-align: center;
}
.help-center-wrapper .column-section-w .column-section-bar .links-wrapper {
    display: flex;
    justify-content: center;
}
.help-center-wrapper .column-section-w .column-section-bar .links-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2c2c2c;
    margin-right: 5px;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-bar .links-text {
        margin-right: 0;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2C2C2C;
    }
}
.help-center-wrapper .column-section-w .column-section-bar a {
    font-size: 20px;
    line-height: 30px;
    color: #00A6CA;
    position: relative;
    text-decoration: none;
    padding-right: 14px;
    margin-right: 7px;
    font-weight: 600;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-bar a.report {
        display: inline-flex;
        width: auto;
        line-height: 26px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        letter-spacing: 0.02em;
        font-weight: 400;
    }
}
@media (max-width: 399px) {
    .help-center-wrapper .column-section-w .column-section-bar a.report {
        padding: 0 10px;
    }
}
.help-center-wrapper .column-section-w .column-section-bar a:before {
    content: "";
    color: #000;
    width: 1px;
    height: 78%;
    position: absolute;
    right: 0;
    margin: 0 auto;
    border-right: 1px solid;
}
@media (min-width: 992px) {
    .help-center-wrapper .column-section-w .column-section-bar a:before {
        position: absolute;
        top: -1px;
        right: 0;
        height: 100%;
    }
}
.help-center-wrapper .column-section-w .column-section-bar a:last-child:before {
    display: none;
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-bar a {
        white-space: normal;
        padding-right: 0px;
        margin-right: 0px;
        font-size: 16px;
    }
}
@media (max-width: 1199px) {
    .help-center-wrapper .column-section-w .column-section-bar {
        padding: 15px 20px;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section-bar {
        border: 0;
        padding: 0;
        margin-top: 20px;
        background: transparent;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper .column-section-w .column-section {
        flex-direction: column;
    }
}
@media (max-width: 991px) {
    .help-center-wrapper {
        flex-direction: column;
    }
}
@media (max-width: 991px) {
    .help-center {
        margin-top: 70px;
        margin-bottom: 0;
    }
}
.monitor-credit-health {
    background: rgba(222, 235, 240, 0.3);
    border-radius: 8px;
    padding: 40px 50px;
    margin-bottom: 80px;
}
.monitor-credit-health--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.monitor-credit-health--wrapper img {
    width: 100%;
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .image-block {
        display: none;
    }
}
.monitor-credit-health--wrapper .content-block .title {
    font-size: 32px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.01em;
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .content-block .title {
        font-size: 24px;
        line-height:30px;
    }
}
.monitor-credit-health--wrapper .content-block .subtitle {
    font-size: 20px;
    line-height: 30px;
    color: #006685;
    margin-bottom: 10px;
    font-weight: 600;
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .content-block .subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}
.monitor-credit-health--wrapper .content-block .description {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .content-block .description {
        font-size: 16px;
        line-height: 24px;
        margin-top: 40px;
        margin-bottom: 0;
    }
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .content-block .button-wrapper {
        text-align: center;
    }
}
@media (min-width: 992px){
    .monitor-credit-health--wrapper .image-blck{
        padding-right: 40px;
    }
}
.monitor-credit-health--wrapper .content-block .button-blue {
    max-width: 100%;
    width: auto;
}
@media (min-width: 992px){
    .monitor-credit-health--wrapper .content-block .button-blue img{
        display: none;
    }
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .content-block .button-blue {
        margin-top: 30px;
    }
}
.monitor-credit-health--wrapper .content-block .login-link {
    text-align: center;
}
@media (min-width: 992px) {
    .monitor-credit-health--wrapper .content-block .login-link {
        margin-top: 15px;
        text-align: left;
    }
}
@media (max-width: 991px) {
    .monitor-credit-health--wrapper .content-block {
        margin-left: 0;
    }
    .monitor-credit-health--wrapper .content-block .login-link {
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    .monitor-credit-health {
        margin: 0 -20px 40px;
        border-radius: 0;
        padding: 20px 25px 40px;
        background-color: #f8f8f8;
    }
}
@media (min-width: 1299px) {
    .monitor-credit-health {
        margin: 0 0px 89px;
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}
.other-queries {
    margin-bottom: 60px;
}
.other-queries .section-title {
    opacity: 0.9;
    font-weight: 700;
}
.other-queries p {
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    border-bottom: 1px solid #acacac;
    padding: 20px 0px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.other-queries p a {
    color: #00A6CA;
    font-weight: 600;
}
@media (max-width: 991px) {
    .other-queries p {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        opacity: 0.85;
    }
}
.other-queries p:last-child {
    border-bottom: 1px solid #acacac;
}
@media (max-width: 991px) {
    .other-queries {
        margin-bottom: 20px;
    }
    .other-queries p:last-child{
        border-bottom: 0;
    }
}
.dashboard-cta {
    position: relative;
}
.dashboard-cta-bg {
    background-image: url("../resources/cibil/img/new-hp/report_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 460px;
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
}
.dashboard-cta-bg .call-to-action {
    background: rgba(255, 255, 255, 0.95);
    width: 565px;
    height: 250px;
    padding: 42px 44px;
    display: table-cell;
    z-index: 2;
    position: relative;
}
.dashboard-cta-bg .call-to-action .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 20px;
    width: 420px;
}
@media (max-width: 991px) {
    .dashboard-cta-bg .call-to-action .title {
        width: 100%;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 28px;
    }
}
.dashboard-cta-bg .call-to-action .button-yellow {
    max-width: 350px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    padding: 18px 56px 14px;
    width: auto;
}
@media (max-width: 991px) {
    .dashboard-cta-bg .call-to-action .button-yellow {
        font-size: 16px;
        line-height: 16px;
        max-width: 224px;
        padding: 18px 28px;
    }
}
@media (min-width: 992px) {
    .dashboard-cta-bg .call-to-action .login-link {
        max-width: 342px;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .dashboard-cta-bg .call-to-action {
        text-align: center;
        padding: 20px 20px 30px;
        width: calc(100% - 40px);
        margin: auto;
        height: auto;
        position: absolute;
        top: 17%;
        left: 0;
        right: 0;
    }
}
@media (max-width: 991px) {
    .dashboard-cta-bg {
        background-image: url("../resources/cibil/img/new-hp/report_bg_mob.jpg");
        height: 320px;
    }
}
@media (min-width: 1800px) {
    .dashboard-cta-bg {
        height: 500px;
    }
}
.dashboard-cta-bg:after {
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#globalFooter #socialLinksSVG li {
    margin: 15px 10px 25px;
}
@media (max-width: 991px) {
    #footerRight ul {
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;
    }
    #footerRight a img {
        width: 32px;
        height: 32px;
    }
}
.playstore {
    background-color: #dcedf9;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playstore p {
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000;
}
.playstore.mobile{
    justify-content: center;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}
.playstore.mobile p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}
@media screen and (min-width: 992px) {
    .playstore p {
        margin-bottom: 0;
        margin-right: 22px;
    }
}
.playstore .store-link {
    max-width: 165px;
}
.playstore img {
    width: 100%;
}
.playstore > .store-link:first-of-type  {
    margin-right: 20px;
}
@media screen and (max-width: 992px) {
    .desktop {
        display: none;
    }
}
.mobile {
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 992px) {
    .mobile {
        display: none;
    }
}
.mobile p {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
}
.mobile .open-app {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    background: #00A6CA;
    border: 2px solid #00A6CA;
    box-sizing: border-box;
    padding: 0;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: auto;
    padding: 15px 65px;
    font-weight: bold;
    max-width: 100%;
}
