.help-center-wrapper .column-section-w .column-section-bar a {
    font-weight: 400;
}
.other-queries p a {
    font-weight: 400;
}
.features .feature-list-item p {
    font-weight: 400;
}
.monitor-credit-health--wrapper .content-block .description{
    font-weight: 400;
}
.monitor-credit-health--wrapper .content-block .subtitle{
    font-weight: 400;
}
.banner .text-block .title{
    width: 100%;
}