* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 767px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.banner {
    background-image: url(../resources/cibil/img/new-hp/mobilebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex !important;
}
.banner .d-block {
    display: block;
}
@media screen and (min-width: 992px) {
    .banner .d-md-flex {
        display: flex;
    }
}
.banner .align-items-center {
    align-items: center;
}
.banner .d-none {
    display: none;
}
@media screen and (min-width: 992px) {
    .banner .d-md-block {
        display: block;
    }
}
.banner .img-fluid {
    max-width: 100%;
}
.banner .container {
    width: 100%;
    max-width: 1200px;
}
@media screen and (max-width: 992px) {
    .banner {
        text-align: center;
        padding: 40px 0 20px;
    }
}
@media screen and (min-width: 992px) {
    .banner {
        background-size: 100% 100%;
        padding: 40px 0 18px;
        background-image: url(../resources/cibil/img/new-hp/bgbanner.png);
    }
}
.banner img {
    width: 100%;
}
@media screen and (max-width: 992px) {
    .banner img {
        margin-top: 30px;
    }
}
@media screen and (min-width: 992px) {
    .banner img {
        max-width: 728px;
    }
}
.banner .text-block .title {
    font-family: "Intro", Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 11px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
    color: #2c2c2c;
}
@media screen and (min-width: 992px) {
    .banner .text-block .title {
        width: 600px;
        margin-bottom: 23px;
    }
}
.banner .text-block .description {
    font-size: 16px;
}
@media screen and (max-width: 992px) {
    .banner .text-block .description {
        margin-top: 12px;
    }
}
.banner .text-block .offer-code {
    margin-bottom: 30px;
    margin-top: 20px;
    border: 0 !important;
}
@media screen and (min-width: 992px) {
    .banner .text-block .offer-code {
        margin-bottom: 40px;
    }
}
@media (max-width: 991px){
    .banner .text-block .offer-code {
        padding: 0;
        margin-top: 30px;
        margin-bottom: 40px;
        flex-flow: wrap;
    }
    .banner .description{
        margin-top: 20px;
    }
    .banner .description span{
        font-weight: 700;
    }
}
.banner p {
    font-family: "Intro", Book;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.02em;
    color: #2c2c2c;
}
.banner p strong {
    font-weight: bold;
    margin-left: 10px;
}
.banner p strong a {
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #2c2c2c;
}
.banner p span {
    font-weight: 600;
}
.banner p .discount {
    font-weight: 700;
    background-color: #fcd800;
}
@media screen and (max-width: 992px) {
    .banner .mhide {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .banner .dhide {
        display: none;
    }
}
.banner .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 50px;
    background: #f16e00;
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #2c2c2c !important;
    text-decoration: none !important;
}
@media screen and (min-width: 992px) {
    .banner .button {
        width: 401px;
    }
}
@media screen and (max-width: 992px) {
    .banner .button {
        margin: auto;
        width: 100%;
        padding: 0 14px;
    }
}
.banner .button:hover {
    background-color: #db6402;
} /*# sourceMappingURL=style.css.map */

.playstore.desktop > .container{
    display: flex;
    align-items: center;
    justify-content: center;
}