* {
    margin: 0;
    padding: 0;
    font-family: "Intro";
}

body {
    font-family: "Intro";
    background: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.header {
    padding: 30px;
}

.bg {
    &-white {

    }
    &-grey {

    }
}

.text-color{
    &-black{
        color: #000000;
    }
    &-blue{
        color: #3EA3CE;
    }
}

.text-decoration{
    &-none{
        text-decoration: none;
        outline: 0;
        &:hover{
            text-decoration: none;
            outline: 0;
        }
    }
}

.font{
    &-12{
        font-size: 12px;
    }
    &-14{
        font-size: 14px;
    }
    &-15{
        font-size: 15px;
    }
    &-16{
        font-size: 16px;
    }
    &-17{
        font-size: 17px;
    }
    &-18{
        font-size: 18px;
        line-height: 22px;
    }
    &-19{
        font-size: 19px;
    }
    &-20{
        font-size: 20px;
    }
}

.font-weight{
    &-300{
        font-weight: 300;
    }
    &-400{
        font-weight: 400;
    }
    &-600{
        font-weight: 600;
    }
    &-700{
        font-weight: 700;
    }
}

.padding {
    &-10 {
        padding: 10px;
    }
    &-20 {
        padding: 20px;
    }
    &-30 {
        padding: 30px;
    }
    &-40 {
        padding: 40px;
    }
    &-50 {
        padding: 50px;
    }
}

.mb{
    &-0{
        margin-bottom: 0;
    }
    &-05{
        margin-bottom: 5px;
    }
    &-1{
        margin-bottom: 10px;
    }
    &-15{
        margin-bottom: 15px;
    }
    &-2{
        margin-bottom: 20px;
    }
    &-3{
        margin-bottom: 30px;
    }
    &-4{
        margin-bottom: 40px;
    }
    &-5{
        margin-bottom: 50px;
    }
    &-6{
        margin-bottom: 60px;
    }
}
.mt{
    &-0{
        margin-top: 0;
    }
    &-1{
        margin-top: 10px;
    }
    &-2{
        margin-top: 20px;
    }
    &-3{
        margin-top: 30px;
    }
    &-4{
        margin-top: 40px;
    }
    &-5{
        margin-top: 50px;
    }
    &-6{
        margin-top: 60px;
    }
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.row-mobile-reverse{
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        .order-0{
            order: 0;
        }
        .order-1{
            order: 1;
        }
    }
    
}

.header{
    @media (max-width: 767px) {
        background: #ffffff;
        padding: 20px 0;
    }
}

.section-title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #000000;
    &-blue {
        color: #3ea3ce;
    }
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.section-title-lg {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #000000;
}

.signup-block {
    background: #ffffff;
    padding: 25px;
    @media (max-width: 767px) {
        margin: 0 -16px;
        padding: 20px;
    }
}

.signup-form{
    margin-bottom: 40px;
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
}
.report-form{
    margin-bottom: 35px;
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
}

.plans-block{
    background: #ffffff;
    padding: 20px;
    .card {
        border-top: 1px solid #DBDBDB;
        padding-top: 18px;
    }
    @media (max-width: 767px) {
        background: #F5F7FB;        
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        margin: 0 -16px;
    }
}

.feature-list{
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 17px;
    margin-bottom: 17px;
    &-item{
        position: relative;
        margin-bottom: 12px;
        &-icon{
            position: absolute;
            left: 0;
            top: 3px;
        }
        &-text{
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            font-weight: 300;
            padding-left: 25px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.trust-card{
    margin-top: 35px;
    margin-bottom: 35px;
    background: #F5F7FB;
    padding: 15px 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-text{
        text-align: center;
        padding-left: 20px;
        h5{
            font-weight: 700;
            color: rgba(0, 0, 0, 0.75);
            margin-bottom: 4px;
            line-height: 22px;
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}

.plans-radio {
    &-row {
        display: flex;
        justify-content: space-between;
    }
    &-col {
        width: 32%;
        position: relative;
        label {
            background: #ffffff;
            border: 2px solid #E5E5E5;
            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 10px 8px;
            height: 100%;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 100%;
            width: 100%;
            z-index: 1;
            margin: 0;
            &:checked {
                ~ {
                    .checkmark {
                        background-color: #2196f3;
                        border: 1px solid #2196f3;
                        &:after {
                            display: block;
                        }
                    }
                    label {
                        background: #eaf1ff;
                        border: 2px solid #3EA3CE;
                        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                    }
                }
            }
        }
        .checkmark {
            &:after {
                left: 7px;
                top: 3px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                @media (max-width: 480px) {
                    left: 5px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                }
            }
        }
        .checkmark {
            position: absolute;
            top: 12px;
            right: 12px;
            height: 16px;
            width: 16px;
            background-color: #ffffff;
            border: 1px solid #969696;
            border-radius: 50%;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
    }
    &-price {
        // font-size: 18px;
        font-size: 16px;
        font-weight: 600;
        color: rgba(43, 43, 43, 0.7);        
        margin-bottom: 10px;
    }
    &-title {
        // font-size: 22px;
        font-size: 18px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 2px;
    }
    &-sub-title {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 2px;
    }
    &-offer-text {
        background-image: url("https://www.cibil.com/resources/cibil/img/popup/offer-text-bg-mb.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-size: 12px;
        color: #000000;
        font-size: 12px;
        line-height: 1.2;
        padding-left: 0;
        background-position: left;
        padding: 2px 4px;
    }
}

.form-group{
    margin-bottom: 20px;
    position: relative;
    .show-password{
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       right: 15px; 
       cursor: pointer;
    }
    &-floating{
        label{
            position: absolute;
            top: -10px;
            left: 10px;
            background: #ffffff;
            font-size: 11px;
            line-height: 21px;
            color: #999999;
            padding: 2px;
        }        
    }
    .form-control{
        height: 46px;
        font-size: 16px;        
        padding-left: 11px;
        padding-right: 11px;
        border: 1px solid #DBDBDB;
        color: #000000;
        &::-webkit-input-placeholder { /* Edge */
            color: #777777;
        }        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #777777;
        }        
        &::placeholder {
            color: #777777;
        }
        &:focus{
            border: 1px solid #3EA3CE;
            +label{
                color: #3EA3CE;
            }
        }
    }
}

.button-yellow{
    background: #FCD833;
    border: 1px solid #FCD833;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 999px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    min-width: 100%;
    text-align: center;
    @media (min-width: 768px) {
        min-width: 360px;
    }
}
