.score-simulator-page-v2 {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1400px) {
      max-width: 1120px;
    }
  }
  .highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
    &:before {
      content: "";
      z-index: -1;
      height: 3px;
      width: 100%;
      background: #fcd800;
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
  div {
    &:focus-visible {
      outline: none !important;
    }
  }
  .carousel-section {
    &__wraper {
      display: flex;
      .left-side {
        padding-top: 66px;
        padding-bottom: 60px;
        width: 50%;
        .queries-carousel {
          max-height: 260px;
          overflow: hidden;
          position: relative;
          width: 100%;
          /* &:before,
          &:after {
            content: "";
            height: 25%;
            width: 100%;
            position: absolute;
            left: 0;
            z-index: 1;
          }
          &:before {
            top: 0;
            background: linear-gradient(
              360deg,
              rgba(255, 255, 255, 0) 0%,
              #ffffff 100%
            );
          }
          &:after {
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              #ffffff 100%
            );
          } */
          .slick-list {
            background-image: url(../images/active-query.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: auto 100px;
            overflow: visible;
          }
          .query {
            height: 100px;
            user-select: none;
            &__wraper {
              display: flex;
              align-items: center;
              height: 100%;
              padding: 20px 36px;
              transform: scale(0.65);
              transform-origin: left center;
              max-width: 430px;
            }
            &__text {
              font-weight: 600;
              letter-spacing: 0.02em;
              color: #acacac;
              margin-bottom: 0px;
              font-size: 24px;
              line-height: 38px;
            }
            &__text,
            &__wraper,
            &-prev .query__wraper,
            &-next .query__wraper,
            &-current .query__wraper {
              transition: color 0.1s ease-in, transform 0.15s ease-in;
            }
            &-prev,
            &-next {
              .query__wraper {
                max-width: 100%;
                transform: scale(0.65);
              }
            }
            &-prev {
              .query__wraper {
                align-items: flex-end;
                transform-origin: left bottom;
                position: relative;
              }
              .query__text {
                background: linear-gradient(
                  360deg,
                  #acacac 16.67%,
                  rgba(172, 172, 172, 0) 117.71%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }
            }
            &-next {
              .query__wraper {
                align-items: flex-start;
                transform-origin: left top;
              }
              .query__text {
                background: linear-gradient(
                  180deg,
                  #000000 -81.25%,
                  rgba(172, 172, 172, 0) 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }
            }
            &-current {
              .query__wraper {
                transform: scale(1);
                transform-origin: left center;
                padding-left: 22px;
                padding-right: 22px;
                .query__text {
                  color: #2c2c2c;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
      .right-side {
        width: 50%;
        .score-bar-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-image: url(../images/circle-bg.svg);
          background-repeat: no-repeat;
          background-position: center;
          .score-bar {
            position: relative;
            margin: 0px;
            float: left;
            text-align: center;
            &:before,
            &:after {
              position: absolute;
              z-index: 1;
              top: 155px;
              font-weight: 600;
              font-size: 24px;
              line-height: 30px;
              text-align: center;
              color: #acacac;
            }
            &:before {
              content: "300";
              left: 0;
            }
            &:after {
              content: "900";
              right: 0;
            }
            .score-pointer {
              position: absolute;
              top: 125px;
              left: calc(50% - 100px);
              img {
                transform-origin: right;
              }
            }
            span.cibil-score {
              font-weight: 700;
              font-size: 40px;
              line-height: 44px;
              text-align: center;
              letter-spacing: -0.01em;
              color: #2c2c2c;
            }
            .score-details {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: #707070;
              margin-top: 2px;
              margin-bottom: 0px;
            }
          }
          .barOverflow {
            position: relative;
            overflow: hidden;
            width: 300px;
            height: 150px;
            .bar {
              position: absolute;
              top: 0;
              left: 0;
              width: 300px;
              height: 300px;
              border-radius: 50%;
              box-sizing: border-box;
              border: 30px solid #fff;
              border-bottom-color: #3bb012;
              border-right-color: #3bb012;
            }
          }
        }
      }
    }
    @media (max-width: 1100px) {
      &__wraper {
        .left-side {
          width: 55%;
        }
        .right-side {
          width: 45%;
          .score-bar-container {
            background-size: cover;
          }
        }
      }
    }
    @media (max-width: 992px) {
      &__wraper {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column-reverse;
        &:before {
          content: "";
          background-image: url(../images/halfcircle-bg.svg);
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: cover;
          position: absolute;
          width: 100%;
          height: 378px;
          left: 0;
          top: 0;
        }
        .left-side,
        .right-side {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
        }
        .right-side {
          padding-top: 40px;
          .score-bar-container {
            background: none;
            .barOverflow {
              .bar {
                border-color: #eeeeee;
                border-bottom-color: #3bb012;
                border-right-color: #3bb012;
              }
            }
          }
        }
        .left-side {
          padding-top: 142px;
          padding-bottom: 0px;
          background: linear-gradient(
            0deg,
            #fcd800 0%,
            rgba(252, 216, 0, 0) 105.36%
          );
          .queries-carousel {
            max-height: 170px;
            .query {
              &__wraper {
                margin: auto;
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
              }
              &__text {
                text-align: center;
              }
              &-current {
                .query__wraper {
                  padding-left: 17px;
                  padding-right: 17px;
                }
              }
              &-current .query__wraper,
              &__wraper {
                padding-top: 0px;
                justify-content: center;
                transform-origin: center;
              }
              &-prev {
                .query__wraper {
                  transform-origin: center bottom;
                }
              }
              &-next {
                .query__wraper {
                  transform-origin: center top;
                }
              }
            }
            &:before,
            &:after {
              background: none;
            }
            .slick-list {
              background-image: none;
            }
          }
        }
      }
    }
    @media(max-width:576px){
      &__wraper{
        &:before{
          height: 325px;
        }
        .left-side{
          padding-top: 110px;
        }
      }
    }
    @media(max-width:395px){
      &__wraper{
        .left-side{
          .queries-carousel{
            max-height: 190px;
          }
        }
      }
    }
  }
}
