.score-simulator-page-v2 {
  //base
  .container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1400px) {
      max-width: 1120px;
    }
  }
  .highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
    &:before {
      content: "";
      z-index: -1;
      height: 3px;
      width: 100%;
      background: #fcd800;
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
  div {
    &:focus-visible {
      outline: none !important;
    }
  }
  .cibil-btn {
    height: 50px;
    background: #fcd800;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 19px 20px 15px;
    min-width: 180px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2c2c2c;
    text-decoration: none !important;
    outline: none !important;
    &-orange {
      background-color: #f16e00;
    }
  }
  .hide-mob {
    @media (max-width: 992px) {
      display: none !important;
    }
  }
  .hide-desk {
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
  }
  .remove-psudo {
    &:before,
    &:after {
      display: none;
    }
  }
  .bottom-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2c2c2c;
    max-width: 760px;
    margin: 60px auto 0px;
  }
  // carousel & score bar
  .carousel-section {
    &__wraper {
      display: flex;
      .left-side {
        padding-top: 66px;
        padding-bottom: 60px;
        width: 50%;
        .queries-carousel {
          max-height: 260px;
          overflow: hidden;
          position: relative;
          width: 100%;
          &:before,
          &:after {
            content: "";
            height: 25%;
            width: 100%;
            position: absolute;
            left: 0;
            z-index: 1;
          }
          &:before {
            top: 0;
            background: linear-gradient(
              360deg,
              rgba(255, 255, 255, 0) 0%,
              #ffffff 100%
            );
          }
          &:after {
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              #ffffff 100%
            );
          }
          .slick-list {
            background-image: url(../images/active-query.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: auto 100px;
            overflow: visible;
          }
          .query {
            height: 100px;
            user-select: none;
            &__wraper {
              display: flex;
              align-items: center;
              height: 100%;
              padding: 20px 36px;
              transform: scale(0.65);
              transform-origin: left center;
              max-width: 430px;
            }
            &__text {
              font-weight: 600;
              letter-spacing: 0.02em;
              color: #acacac;
              margin-bottom: 0px;
              font-size: 24px;
              line-height: 38px;
            }
            &__text,
            &__wraper,
            &-prev .query__wraper,
            &-next .query__wraper,
            &-current .query__wraper {
              transition: color 0.1s ease-in, transform 0.15s ease-in;
            }
            &-prev,
            &-next {
              .query__wraper {
                max-width: 100%;
                transform: scale(0.65);
              }
            }
            &-prev {
              .query__wraper {
                align-items: flex-end;
                transform-origin: left bottom;
                position: relative;
              }
              /* .query__text {
                background: linear-gradient(
                  360deg,
                  #acacac 16.67%,
                  rgba(172, 172, 172, 0) 117.71%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              } */
            }
            &-next {
              .query__wraper {
                align-items: flex-start;
                transform-origin: left top;
              }
              /* .query__text {
                background: linear-gradient(
                  180deg,
                  #000000 -81.25%,
                  rgba(172, 172, 172, 0) 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              } */
            }
            &-current {
              .query__wraper {
                transform: scale(1);
                transform-origin: left center;
                padding-left: 22px;
                padding-right: 22px;
                .query__text {
                  color: #2c2c2c;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
      .right-side {
        width: 50%;
        .score-bar-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-image: url(../images/circle-bg.svg);
          background-repeat: no-repeat;
          background-position: center;
          .score-bar {
            position: relative;
            margin: 0px;
            float: left;
            text-align: center;
            &:before,
            &:after {
              position: absolute;
              z-index: 1;
              top: 155px;
              font-weight: 600;
              font-size: 24px;
              line-height: 30px;
              text-align: center;
              color: #acacac;
            }
            &:before {
              content: "300";
              left: 0;
            }
            &:after {
              content: "900";
              right: 0;
            }
            .score-pointer {
              position: absolute;
              top: 125px;
              left: calc(50% - 100px);
              img {
                transform-origin: right;
              }
            }
            span.cibil-score {
              font-weight: 700;
              font-size: 40px;
              line-height: 44px;
              text-align: center;
              letter-spacing: -0.01em;
              color: #2c2c2c;
            }
            .score-details {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: #707070;
              margin-top: 2px;
              margin-bottom: 0px;
            }
          }
          .barOverflow {
            position: relative;
            overflow: hidden;
            width: 300px;
            height: 150px;
            .bar {
              position: absolute;
              top: 0;
              left: 0;
              width: 300px;
              height: 300px;
              border-radius: 50%;
              box-sizing: border-box;
              border: 30px solid #fff;
              border-bottom-color: #3bb012;
              border-right-color: #3bb012;
            }
          }
        }
      }
    }
    @media (max-width: 1100px) {
      &__wraper {
        .left-side {
          width: 55%;
          &:before {
            content: "";
            width: 100%;
            height: 118px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(
              360deg,
              #fcd800 30%,
              rgba(252, 216, 0, 0) 100%
            );
            z-index: 1;
          }
        }
        .right-side {
          width: 45%;
          .score-bar-container {
            background-size: cover;
          }
        }
      }
    }
    @media (max-width: 992px) {
      &__wraper {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column-reverse;
        &:before {
          content: "";
          background-image: url(../images/halfcircle-bg.svg);
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: cover;
          position: absolute;
          width: 100%;
          height: 378px;
          left: 0;
          top: 0;
        }
        .left-side,
        .right-side {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
        }
        .right-side {
          padding-top: 40px;
          .score-bar-container {
            background: none;
            .barOverflow {
              .bar {
                border-color: #eeeeee;
                border-bottom-color: #3bb012;
                border-right-color: #3bb012;
              }
            }
          }
        }
        .left-side {
          padding-top: 142px;
          padding-bottom: 0px;
          background: linear-gradient(
            0deg,
            #fcd800 0%,
            rgba(252, 216, 0, 0) 105.36%
          );
          .queries-carousel {
            max-height: 170px;
            .query {
              &__wraper {
                margin: auto;
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
              }
              &__text {
                text-align: center;
                color: #2c2c2c;
              }
              &-current {
                .query__wraper {
                  padding-left: 17px;
                  padding-right: 17px;
                }
              }
              &-current .query__wraper,
              &__wraper {
                padding-top: 0px;
                justify-content: center;
                transform-origin: center;
              }
              &-prev {
                .query__wraper {
                  transform-origin: center bottom;
                }
              }
              &-next {
                .query__wraper {
                  transform-origin: center top;
                }
              }
            }
            &:before,
            &:after {
              background: none;
            }
            .slick-list {
              background-image: none;
            }
          }
        }
      }
    }
    @media (max-width: 576px) {
      &__wraper {
        &:before {
          height: 325px;
        }
        .left-side {
          padding-top: 110px;
          &:before {
            height: 85px;
          }
        }
      }
    }
    @media (max-width: 395px) {
      &__wraper {
        .left-side {
          .queries-carousel {
            max-height: 190px;
          }
        }
      }
    }
  }
  // CTA
  .cta-section {
    background: #00a6ca;
    padding-top: 50px;
    padding-bottom: 50px;
    &__wraper {
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      .heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
      }
      .subheading {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .cibil-btn {
        min-width: 300px;
      }
    }
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
      &__wraper {
        .heading {
          margin-bottom: 20px;
          padding-left: 5px;
          padding-right: 5px;
        }
        .subheading {
          margin-bottom: 30px;
          padding-left: 46px;
          padding-right: 46px;
          font-weight: 400;
        }
      }
    }
  }
  // gif section
  .gif-section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    &__wraper {
      display: flex;
      justify-content: space-between;
      .left-side {
        width: 45%;
        .heading {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0.02em;
          color: #2c2c2c;
          margin-bottom: 30px;
        }
        .desc {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #2c2c2c;
          margin-bottom: 0;
        }
      }
      .right-side {
        width: 52%;
        .gif-container {
          background-color: #fff;
          overflow: hidden;
          width: 100%;
          height: 421px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-radius: 20px;
          &:before {
            content: "";
            background-image: url(../images/tablet-screen.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 101%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
    @media (min-width: 992px) {
      background-image: url(../images/circles-bg.svg);
      background-repeat: no-repeat;
      background-position: right center;
      &:before {
        content: "";
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(60px);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;
      }
      &__wraper {
        z-index: 2;
        position: relative;
      }
    }
    @media (max-width: 992px) {
      padding-top: 40px;
      padding-bottom: 0px;
      &__wraper {
        flex-direction: column;
        .left-side {
          text-align: center;
          .heading {
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
        .left-side,
        .right-side {
          width: 100%;
        }
      }
    }
  }
  // subscription plans section
  .subscription-plans-section {
    background-color: #f6f7fc;
    padding-top: 60px;
    padding-bottom: 30px;
    &__wraper {
      display: flex;
      justify-content: space-between;
      .subscription-features {
        position: relative;
        &__wraper {
          background: #ffffff;
          border: 1px solid #dde0ef;
          border-radius: 8px;
          padding: 30px 30px 0px;
          margin-top: 30px;
          min-height: calc(100% - 99px);
          .heading {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #00a6ca;
            margin-bottom: 20px;
          }
          .subheading {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #2c2c2c;
            margin-bottom: 30px;
          }
          .features {
            .feature {
              margin-bottom: 0px;
              border-top: 1px solid #dddddd;
              padding: 15px 0;
              display: flex;
              align-items: center;
              .icon {
                margin-right: 25px;
              }
              .desc {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #2c2c2c;
                margin-bottom: 0px;
                max-width: 393px;
                b {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      .subscription-features,
      .subscription-plans {
        width: calc(50% - 10px);
      }
      .subscription-plans {
        .subscription-plan {
          width: calc(33.33% - 10px);
          color: #2c2c2c;
          &__wraper {
            background: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 8px;
            overflow: hidden;
          }
          &__header {
            text-align: center;
            letter-spacing: 0.02em;
            p {
              margin-bottom: 0;
            }
            .save {
              background: #fcd800;
              padding: 4px 30px 2px;
            }
            .save,
            .tag {
              font-size: 14px;
              line-height: 24px;
            }
            .tag {
              background: #00a6ca;
              padding: 5px 30px 1px;
              font-weight: 600;
              color: #ffffff;
            }
            .plan-name,
            .price {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #707070;
              padding: 0px 30px;
            }
            .plan-name {
              margin: 20px 0px 10px;
            }
            .plan-duration {
              font-weight: 700;
              font-size: 24px;
              line-height: 30px;
              margin: 10px 0;
            }
            .price {
              margin: 10px 0 28px;
              font-weight: 600;
            }
          }
          &__body {
            padding-left: 30px;
            padding-right: 30px;
            .features {
              padding-left: 0px;
              margin-bottom: 0px;
              .feature {
                margin-bottom: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 31px 0 33px;
                border-top: 1px solid #ededed;
                max-height: 79px;
              }
            }
          }
          &__footer {
            background: #f9f9f9;
            padding: 8px 30px 7px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #707070;
          }
          .cibil-btn {
            margin-top: 19px;
            width: 100%;
            min-width: 100%;
          }
          &.recommended {
            .subscription-plan__wraper {
              border-color: #00a6ca;
            }
          }
          &.no-tags {
            .subscription-plan__header {
              .plan-name {
                margin-top: 50px;
              }
            }
          }
        }
        &-cards {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
    @media (max-width: 992px) {
      padding-top: 40px;
      padding-bottom: 40px;
      &__wraper {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        .subscription-plans,
        .subscription-features {
          width: 100%;
        }
        .subscription-features {
          padding-left: 20px;
          padding-right: 20px;
          &__wraper {
            margin-top: 0px;
            background: transparent;
            border: none;
            text-align: center;
            padding: 0;
            min-height: 1px;
            .subheading {
              margin-bottom: 50px;
            }
            .features {
              display: none;
            }
          }
        }
        .subscription-plans {
          &-tabs {
            .nav-tabs {
              border-bottom: none;
              display: flex;
              justify-content: space-between;
              .nav-item {
                background: #f9f9f9;
                border-width: 1px;
                border-style: solid;
                border-color: #acacac;
                padding: 15px 14px 34px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: left;
                letter-spacing: 0.02em;
                color: #2c2c2c;
                width: 100%;
                position: relative;
                &:last-child {
                  border-right-width: 0px;
                }
                &:first-child {
                  border-left-width: 0px;
                }
                &.active {
                  background: #fff;
                  position: relative;
                  border-bottom-width: 0px;
                }
                .plan-name {
                  font-weight: 600;
                  color: #707070;
                  text-transform: capitalize;
                  margin-bottom: 5px;
                }
                .plan-duration {
                  font-weight: 700;
                  text-transform: uppercase;
                  color: #333333;
                  margin-bottom: 10px;
                }
                .price {
                  margin-bottom: 0px;
                }
                .save {
                  background: #fcd800;
                  display: inline-flex;
                  margin-bottom: 0px;
                  height: 24px;
                  padding: 0 10px;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  left: 0px;
                  bottom: 0px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 24px;
                }
                .tag {
                  background: #00a6ca;
                  position: absolute;
                  height: 30px;
                  width: calc(100% + 2px);
                  left: -1px;
                  top: -31px;
                  font-size: 14px;
                  line-height: 24px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #ffffff;
                  border-top-right-radius: 8px;
                  border-top-left-radius: 8px;
                }
              }
            }
            .subscription-plan__body {
              text-align: center;
              background: #ffffff;
              padding: 20px 20px 16px;
              .cibil-btn {
                width: calc(100% - 13px);
                margin-bottom: 40px;
              }
              .subheading {
                font-size: 16px;
                line-height: 24px;
                text-align: left;
                font-weight: 600;
                margin-bottom: 23px;
              }
              .features {
                .feature {
                  border: none;
                  text-align: left;
                  align-items: center;
                  min-height: 1px;
                  max-height: 100%;
                  margin-bottom: 0px;
                  justify-content: flex-start;
                  column-gap: 15px;
                  padding: 0;
                  &:not(:last-child) {
                    margin-bottom: 20px;
                  }
                  .icon {
                    width: 20px;
                  }
                  .desc {
                    margin-bottom: 0px;
                    font-size: 14px;
                    line-height: 24px;
                    max-width: calc(100% - 35px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
