@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.score-simulator-lp .row {
  margin-left: 0px;
  margin-right: 0px;
}

.score-simulator-lp .d-block {
  display: block;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .mhide {
    display: none !important;
  }
}

@media screen and (min-width: 993px) {
  .score-simulator-lp .d-md-flex {
    display: flex;
  }
  .score-simulator-lp .dhide {
    display: none !important;
  }
}

.score-simulator-lp .align-items-center {
  align-items: center;
}

.score-simulator-lp .d-none {
  display: none;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .d-md-block {
    display: block;
  }
}

.score-simulator-lp .img-fluid {
  max-width: 100%;
}

.score-simulator-lp .container {
  width: 100%;
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
}

.score-simulator-lp .container.containerwide {
  max-width: calc(980px + 40px);
}

.score-simulator-lp .button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  padding: 0 30px;
  background: #f16e00;
  border-radius: 25px;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c !important;
  text-decoration: none !important;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .button {
    margin: auto;
  }
}

.score-simulator-lp .button:hover {
  background-color: #db6402;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .pt-sm-0 {
    padding-top: 0 !important;
  }
}

.score-simulator-lp .button-yellow {
  background: #fcd800;
  width: auto;
  max-width: 308px;
}

.score-simulator-lp .button-yellow:hover {
  background-color: #fcd800;
}

.score-simulator-lp .button-outline-yellow {
  background: #ffffff !important;
  border: 1px solid #fcd800 !important;
  box-sizing: border-box;
  border-radius: 25px;
}

.score-simulator-lp .button-outline {
  background: #ffffff !important;
  /* Secondary Orange */
  border: 1px solid #f16e00;
  box-sizing: border-box;
  border-radius: 25px;
}

.score-simulator-lp .blue-title {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #00a6ca;
}

.score-simulator-lp .banner {
  position: relative;
  background-image: url(/resources/cibil/img/lp/alerts/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.score-simulator-lp .banner .banner-content, .score-simulator-lp .banner .mobile-banner {
  padding-left: 0px;
  padding-right: 0px;
}

.score-simulator-lp .banner .button-yellow {
  min-width: 246px;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .banner .position-float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: max-content;
  }
  .score-simulator-lp .banner .alert-mobile-img {
    margin-top: 27px;
  }
}

.score-simulator-lp .banner .banner-image {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1300px) {
  .score-simulator-lp .banner .banner-image {
    height: 450px;
  }
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .banner {
    padding-top: 30px;
  }
}

.score-simulator-lp .banner .title {
  font-family: "Intro", Bold italic;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #000;
}

.score-simulator-lp .banner .source {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 14px;
  color: #2c2c2c;
}

.score-simulator-lp .banner .description {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  max-width: 526px;
  color: #2c2c2c;
  margin: 30px 0 40px;
}

.score-simulator-lp .banner .row {
  /* height: 100%; */
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .banner {
    background-image: none;
  }
  .score-simulator-lp .banner .container {
    padding-left: 0;
    padding-right: 0;
  }
  .score-simulator-lp .banner .row-reverse {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 40px;
    text-align: center;
  }
  .score-simulator-lp .banner .row-reverse .mobile-banner {
    width: 100%;
    background-image: url(/resources/cibil/img/lp/alerts/banner-bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .score-simulator-lp .banner .row-reverse .mobile-banner img {
    height: 198px;
  }
  .score-simulator-lp .banner .row-reverse .banner-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .score-simulator-lp .banner .row-reverse .title {
    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 992px) and (max-width: 575.98px) {
  .score-simulator-lp .banner .row-reverse .title {
    max-width: 356px;
  }
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .banner .row-reverse .description {
    font-family: "Intro", Book;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 280px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 992px) and (max-width: 575.98px) {
  .score-simulator-lp .banner .row-reverse .description {
    max-width: 306px;
  }
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .banner .row-reverse .button {
    padding: 0 31px;
    min-width: 212px;
  }
}

.score-simulator-lp .section-title {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .section-title {
    font-size: 24px;
    line-height: 30px;
  }
}

.score-simulator-lp .col-grid {
  padding: 40px 0 20px;
}

.score-simulator-lp .col-grid .section-title {
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .col-grid .section-title {
    text-transform: uppercase;
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .col-grid .section-title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .col-grid {
    padding: 60px 0;
  }
}

.score-simulator-lp .col-grid .grid {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .col-grid .grid {
    margin-bottom: 20px;
    height: 111px;
  }
}

.score-simulator-lp .col-grid .grid img {
  margin-right: 20px;
  height: auto;
}

.score-simulator-lp .col-grid .grid p {
  max-width: 260px;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .col-grid .grid p {
    margin-top: 7px;
  }
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

.score-simulator-lp .column-outer {
  width: 160px;
  flex: unset;
}

.score-simulator-lp .equal-column {
  width: auto;
}

.score-simulator-lp .score-simulator-row {
  display: flex;
  justify-content: center;
}

.score-simulator-lp .interstial-container {
  padding-bottom: 30px;
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .interstial-container {
    padding-bottom: 110px !important;
    padding-top: 60px;
  }
  .score-simulator-lp .interstial-container .section-title {
    margin-bottom: 80px;
  }
}

.score-simulator-lp .interstial-container .column-inner {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .interstial-container .col-md-7.equal-column {
    padding-right: 5px;
  }
}

.score-simulator-lp .interstial-container .right-coulumn-section {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .interstial-container .right-coulumn-section {
    height: 100%;
  }
}

.score-simulator-lp .interstial-container .top-head {
  height: 130px;
}

.score-simulator-lp .interstial-container .column-outer {
  background-color: white;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  flex: 1;
  border-radius: 6px;
  margin-right: 20px;
}

.score-simulator-lp .interstial-container .column-outer.active {
  margin-top: -1;
  margin-top: -34px;
  border: 2px solid #00a6ca;
}

.score-simulator-lp .interstial-container .column-outer:last-child {
  margin-right: 0;
}

.score-simulator-lp .interstial-container .column-outer .button {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: unset;
}

.score-simulator-lp .interstial-container .column {
  position: relative;
  flex: 1;
  padding: 0 15px 0;
  padding-bottom: 0;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.score-simulator-lp .interstial-container .column.active {
  border: 0px solid #00a6ca;
}

.score-simulator-lp .interstial-container .column .coumn-head {
  padding-bottom: 28px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-simulator-lp .interstial-container .column .coumn-head .plan-name {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
}

.score-simulator-lp .interstial-container .column .coumn-head .plan-duration {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 24px;
  margin: 10px 0 10px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.score-simulator-lp .interstial-container .column .coumn-head .plan-price {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
}

.score-simulator-lp .interstial-container .column .infinite {
  width: 35px;
  height: 16px;
}

.score-simulator-lp .interstial-container .column .column-body {
  text-align: center;
}

.score-simulator-lp .interstial-container .coulumn-image {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dddddd;
}

.score-simulator-lp .interstial-container .wrong-marks {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.score-simulator-lp .interstial-container .right-marks {
  width: 21px !important;
  height: 14px !important;
  object-fit: contain;
}

.score-simulator-lp .interstial-container .most-popular {
  background: #00a6ca;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 30px;
  font-family: "Intro", Regular;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
}

.score-simulator-lp .interstial-container .most-popular > div {
  position: relative;
  z-index: 2;
}

.score-simulator-lp .interstial-container .most-popular::after {
  content: "";
  position: absolute;
  width: 102%;
  height: 101%;
  left: -2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 2px;
  top: -2%;
  background: #00a6ca;
}

.score-simulator-lp .interstial-container .save {
  background: #fcd800;
  height: 30px;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  position: relative;
}

.score-simulator-lp .interstial-container .save span {
  position: relative;
  z-index: 2;
}

.score-simulator-lp .interstial-container .save::before {
  content: "";
  position: absolute;
  width: 102.5%;
  height: 101%;
  left: -2px;
  top: 0;
  background: #fcd800;
  bottom: 0;
  transform: translateY(0px);
}

.score-simulator-lp .interstial-container .column-footer {
  height: 39px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  color: #707070;
  width: 100%;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  line-height: 24px;
  position: absolute;
  bottom: 0;
}

.score-simulator-lp .interstial-container .column-footer span {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 30px;
  bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-simulator-lp .in-active {
  margin-top: -3px;
}

.score-simulator-lp .in-active .save {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transform: translateY(-3px);
}

.score-simulator-lp .in-active .save::before {
  display: none;
}

.score-simulator-lp .plan-title {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.score-simulator-lp .active .column-footer {
  bottom: 0;
  left: 0;
  width: 100%;
}

.score-simulator-lp .features-mobile-section .top-head {
  min-height: 0;
}

.score-simulator-lp .col-1-link {
  font-family: "Intro", Regular;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #2c2c2c;
  font-weight: 600;
  padding: 0px 23px;
  display: block;
}

.score-simulator-lp .verify-card {
  background: #ffffff;
  border: 1px solid #dde0ef;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 30px;
  margin-top: -3px;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .verify-card {
    width: 463px;
  }
}

.score-simulator-lp .verify-card-text h3 {
  font-weight: bold;
  font-size: 16px;
  font-family: "Intro", Bold;
  text-transform: uppercase;
  color: #00a6ca;
  margin-bottom: 20px;
  margin-top: 0;
}

.score-simulator-lp .verify-card-text p {
  font-family: "Intro", Book;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}

.score-simulator-lp .description-bold {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.score-simulator-lp .features-grid .feature {
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 15px 0;
  min-height: 78px;
}

@media screen and (min-width: 992px) {
  .score-simulator-lp .features-grid .feature.first-feature {
    padding-top: 25px;
  }
}

.score-simulator-lp .features-grid .feature img {
  width: 27px;
  height: 27px;
  object-fit: contain;
  margin-right: 23px;
}

.score-simulator-lp .interstial-container, .score-simulator-lp .stay-notify-section, .score-simulator-lp .link-box-container {
  background: #f9f9f9;
}

.score-simulator-lp .nav {
  display: flex;
  margin-top: 50px;
}

.score-simulator-lp .nav li {
  position: relative;
  padding-left: 16px;
  padding-top: 15px;
  background: #f9f9f9;
  border: 1px solid #acacac;
  box-sizing: border-box;
  border-bottom: 0;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .nav li {
    flex: 1;
  }
}

.score-simulator-lp .nav li.base-plan {
  border-right: 0;
}

.score-simulator-lp .nav li.base-standard {
  border-left: 0;
  border-top-right-radius: 6px;
}

.score-simulator-lp .nav li.base-standard.active::after {
  width: 100.5%;
  left: -0.5px;
}

.score-simulator-lp .nav li.base-standard.active span {
  margin-left: -16.3px;
}

.score-simulator-lp .nav li.active {
  background-color: #fff;
  border: 2px solid #00a6ca;
  border-bottom: 0;
  position: relative;
}

.score-simulator-lp .nav li.active::after {
  content: "";
  position: absolute;
  height: 9px;
  bottom: -6px;
  left: 0;
  background: #fff;
  width: 100%;
}

.score-simulator-lp .nav li .tag-intabs {
  position: absolute;
  top: -31px;
  width: 100%;
  left: 0;
}

.score-simulator-lp .nav li .plan-name {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
  margin-bottom: 10px;
}

.score-simulator-lp .nav li h3 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #2c2c2c;
  margin-top: 0;
}

.score-simulator-lp .nav li h4 {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-top: 0;
}

.score-simulator-lp .nav li h6 {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 9px;
  color: #707070;
  margin-top: 0;
}

.score-simulator-lp .nav li span {
  background: #fcd800;
  width: 84px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -16.1px;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: -0.5px;
  position: relative;
  z-index: 2;
}

.score-simulator-lp .nav .most-popular::after {
  top: 0;
}

.score-simulator-lp .tab-content button.button.full-width-button {
  width: 100%;
  margin-bottom: 30px;
  border: 0;
}

.score-simulator-lp .tab-content .tab-pane {
  padding: 20px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.score-simulator-lp .tab-content .tab-pane.active {
  background-color: #fff;
  border: 2px solid #00a6ca;
}

.score-simulator-lp .tab-content .small-right {
  width: 21px !important;
  height: 12px !important;
  margin-top: 5px;
}

.score-simulator-lp .tab-content .feature {
  border: 0;
  padding: 0;
  min-height: 0;
  margin-bottom: 14px;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  align-items: flex-start;
}

.score-simulator-lp .tab-content .feature p {
  margin-bottom: 0;
}

.score-simulator-lp .save.bg-white {
  background-color: white;
}

.score-simulator-lp .save.bg-white::before {
  background-color: white;
  width: 0;
}

.score-simulator-lp .nav li.base-plan {
  border-right: 1px solid #acacac;
  border-top-left-radius: 5px;
}

.score-simulator-lp .nav li.base-plan.active {
  border: 2px solid #00a6ca;
}

.score-simulator-lp .nav li.base-standard {
  border-left: 0;
  border-top-right-radius: 0;
}

.score-simulator-lp .nav li.base-standard.active {
  border: 2px solid #00a6ca;
}

.score-simulator-lp .nav li.base-premium {
  border-left: 0;
}

.score-simulator-lp .nav li.base-premium.active {
  border: 2px solid #00a6ca;
}

.score-simulator-lp .border-right-0 {
  border-right: 0 !important;
}

@media screen and (max-width: 400px) {
  .score-simulator-lp .nav li span {
    margin-left: -7px;
    margin-bottom: 0px;
  }
  .score-simulator-lp .nav li.active span {
    margin-left: -7.1px;
    margin-bottom: -3px;
  }
  .score-simulator-lp .base-standard.active span {
    margin-left: -7.1px !important;
  }
  .score-simulator-lp .nav li h6 {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .score-simulator-lp .nav li {
    padding-left: 7px;
    flex: 1;
  }
}

.score-simulator-lp .interstial-container .most-popular::after {
  left: -1 px;
}

.score-simulator-lp .interstial-container .base-plan.active .most-popular::after {
  width: 104%;
}

@media screen and (max-width: 992px) {
  .score-simulator-lp .banner .row-reverse {
    padding-left: 0;
    padding-right: 0;
  }
}

.score-simulator-lp.yellow-theme .button-orange {
  display: none;
}

.score-simulator-lp.yellow-theme .orange-section {
  display: none;
}

.score-simulator-lp .orange-theme .button-outline-yellow,
.score-simulator-lp .orange-theme .button-yellow {
  display: none;
}

.score-simulator-lp .orange-theme .yellow-section {
  display: none;
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .score-simulator-lp .banner .container .banner-content .title {
    max-width: 657px;
  }
  .score-simulator-lp .banner .container .banner-content .description {
    max-width: 526px;
  }
  .score-simulator-lp .banner .container .mobile-banner img {
    width: 100%;
  }
}

.score-simulator-lp .stay-notify-section {
  padding-top: 60px;
}

.score-simulator-lp .stay-notify-section .wraper .section-title {
  margin-bottom: 30px;
}

.score-simulator-lp .stay-notify-section .wraper .alerts-list {
  display: flex;
  justify-content: space-between;
}

.score-simulator-lp .stay-notify-section .wraper .alerts-list:not(:last-child) {
  margin-bottom: 20px;
}

.score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item {
  display: flex;
  align-items: flex-start;
  background: #FFFFFF;
  border: 1px solid #DDE0EF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px 30px;
}

.score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item:not(:last-child) {
  margin-right: 20px;
}

.score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item .icon {
  margin-right: 30px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}

.score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2C2C2C;
  font-family: "Intro", book;
}

@media (min-width: 992px) {
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item p.min-height4 {
    min-height: 96px;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item p.min-height3 {
    min-height: 72px;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item p.min-height2 {
    max-width: 207px;
  }
}

@media (min-width: 769px) {
  .score-simulator-lp .stay-notify-section .wraper .alerts-list {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 768px) {
  .score-simulator-lp .stay-notify-section {
    padding-top: 40px;
  }
  .score-simulator-lp .stay-notify-section .wraper .section-title {
    font-size: 24px;
    line-height: 30px;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list {
    flex-direction: column;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item {
    max-width: 100%;
    width: 100%;
    padding: 20px 20px 20px 18px;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item br {
    display: none;
  }
  .score-simulator-lp .stay-notify-section .wraper .alerts-list .alert-item .icon {
    margin-right: 26px;
  }
}

.score-simulator-lp .interstial-container .score-simulator-row .verify-card-text h3 {
  line-height: 24px;
  letter-spacing: 0.02em;
}

.score-simulator-lp .interstial-container .score-simulator-row .verify-card-text p {
  line-height: 24px;
}

.score-simulator-lp .interstial-container .score-simulator-row .top-head {
  height: auto;
}

.score-simulator-lp .interstial-container .score-simulator-row .top-head p {
  margin-bottom: 30px;
  font-family: "Intro", Regular;
}

.score-simulator-lp .interstial-container .score-simulator-row .right-side, .score-simulator-lp .interstial-container .score-simulator-row .left-side {
  padding-left: 0;
  padding-right: 0;
}

.score-simulator-lp .interstial-container .score-simulator-row .left-side {
  width: 100%;
}

.score-simulator-lp .interstial-container .score-simulator-row .most-popular::after {
  border-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.score-simulator-lp .interstial-container .score-simulator-row .save::before {
  border-radius: 0;
  border-left: 2px solid #00A6CA;
  border-right: 2px solid #00A6CA;
}

@media (max-width: 992px) {
  .score-simulator-lp .interstial-container .score-simulator-row .blue-title {
    margin-top: 18px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .nav li.base-standard {
    border-left: 1px solid #ACACAC;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .nav li.base-standard.active {
    border: 2px solid #00A6CA;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .tab-content .tab-pane.active {
    border-radius: 0;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .nav li h4 {
    font-weight: 600;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .button-yellow {
    max-width: 100%;
    margin-top: 8px;
    display: flex;
    margin-bottom: 30px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .tab-content .feature {
    line-height: 24px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .features-grid .feature img {
    margin-right: 16px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .tab-content .small-right {
    width: 18px !important;
  }
}

@media (min-width: 992px) {
  .score-simulator-lp .interstial-container {
    padding-top: calc(60px + 34px);
    padding-bottom: 118px !important;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .left-side {
    margin-right: 20px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .left-side .verify-card {
    width: auto;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .right-side .most-popular {
    border-radius: 0;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .button {
    font-size: 16px;
    line-height: 16px;
    padding: 19px 20px 15px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .features-grid .feature.first-feature {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .score-simulator-lp .interstial-container .score-simulator-row .features-grid .feature:last-child {
    padding-top: 22px;
    padding-bottom: 47px;
  }
}

@media (min-width: 1200px) {
  .score-simulator-lp .interstial-container .score-simulator-row {
    margin-left: -12px;
    margin-right: -11px;
  }
}

.score-simulator-lp .link-box-container {
  padding-bottom: 40px;
  text-align: center;
}

.score-simulator-lp .link-box-container .link-box {
  background: #FFFFFF;
  border: 1px solid #DDE0EF;
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-flex;
  padding: 13px 29px;
  justify-content: center;
  align-items: flex-start;
}

.score-simulator-lp .link-box-container .link-box .icon {
  margin-top: 5px;
}

.score-simulator-lp .link-box-container .link-box p {
  margin-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2C2C2C;
  font-family: "Intro", Bold;
  text-align: left;
}

.score-simulator-lp .link-box-container .link-box p a {
  text-decoration-line: underline;
  font-weight: 600;
  color: #2C2C2C;
}

@media (max-width: 768px) {
  .score-simulator-lp .link-box-container {
    padding-bottom: 30px;
  }
  .score-simulator-lp .link-box-container .link-box {
    padding: 17px 20px 24px;
  }
}

@media (min-width: 992px) {
  .score-simulator-lp .stay-notify-section {
    padding-bottom: 40px;
  }
  .score-simulator-lp .interstial-container {
    padding-top: 69px;
  }
  .score-simulator-lp .interstial-container, .score-simulator-lp .link-box-container {
    background-color: #fff;
  }
}
