body {
  font-family: "Intro";
}

.spap-content .container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1200px) {
  .spap-content .container {
    width: 1220px;
  }
}

/* banner */
.spap-banner {
  background: radial-gradient(28.95% 153.83% at 73.44% 90.17%, #41CEF7 0%, #00A6CA 77.97%);
  max-height: 300px;
  position: relative;
}

.spap-banner:before, .spap-banner:after {
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.spap-banner:before {
  content: "";
  left: 0;
  top: 0;
  width: 480.57px;
  background-image: url(../images/left-top-dots.png);
}

.spap-banner:after {
  content: "";
  background-image: url(../images/right-top-dots.png);
  right: 27px;
  top: 22px;
  width: 96.57px;
}

.spap-banner__wraper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spap-banner__wraper::before, .spap-banner__wraper::after {
  content: none;
}

.spap-banner__wraper .spap-banner-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0;
}

.spap-banner__wraper .highlight {
  color: #FCD800;
}

.spap-banner__wraper .spap-banner-img {
  max-width: 507.83px;
  margin-top: 43px;
}
