body {
  font-family: "Intro";
}
.spap-content {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1200px) {
      width: 1220px;
    }
  }
  .button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    padding: 0 30px;
    background: #f16e00;
    border-radius: 25px;
    font-family: "Intro", Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2c2c2c !important;
    text-decoration: none !important;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      margin: auto;
    }

    &:hover {
      background-color: #db6402;
    }
    &-yellow {
      background: #fcd800;
      width: auto;
      max-width: 308px;
      &:hover {
        background-color: #fcd800;
      }
    }
    &-outline-yellow {
      background: #ffffff !important;

      border: 1px solid #fcd800 !important;
      box-sizing: border-box;
      border-radius: 25px;
    }
    &-outline {
      background: #ffffff !important;
      /* Secondary Orange */

      border: 1px solid #f16e00;
      box-sizing: border-box;
      border-radius: 25px;
    }
  }
  .section-title {
    font-size: 36px;
    font-weight: 600 !important;
    font-family: "Intro";
    line-height: 48px;
    color: #000000;
    margin: 0;
    &-blue {
      color: #3ea3ce;
    }
  }
  .margin-left-1 {
    margin-left: 10px !important;
  }
  .f-14 {
    font-size: 14px;
  }
  .text-color-black {
    color: #000000 !important;
  }
  .fw-300 {
    font-weight: 300 !important;
    font-family: "Intro";
  }
  .fw-400 {
    font-weight: 400 !important;
    font-family: "Intro";
  }
  .fw-600 {
    font-family: "Intro" !important;
    font-weight: 700 !important;
  }
  @media screen and (max-width: 992px) {
    .mhide {
      display: none !important;
    }
  }
  @media screen and (min-width: 993px) {
    .dhide {
      display: none !important;
    }
  }
  /* banner */
  .spap-banner {
    margin-bottom: 60px;
    background: radial-gradient(
      28.95% 153.83% at 73.44% 90.17%,
      #41cef7 0%,
      #00a6ca 77.97%
    );
    max-height: 300px;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:before {
      content: "";
      left: 0;
      top: 0;
      width: 480.57px;
      background-image: url(../images/left-top-dots.png);
    }
    &:after {
      content: "";
      background-image: url(../images/right-top-dots.png);
      right: 27px;
      top: 22px;
      width: 96.57px;
    }
    &__wraper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::before,
      &::after {
        content: none;
      }
      .spap-banner-heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin: 0;
      }
      .highlight {
        color: #fcd800;
      }
      .spap-banner-img {
        max-width: 507.83px;
        margin-top: 43px;
      }
    }
    @media (max-width: 768px) {
      max-height: 100%;
      margin-bottom: 30px;
      background: radial-gradient(
        67.85% 100% at 49.38% 100%,
        #41cef7 0%,
        #00a6ca 77.97%
      );
      &:before,
      &:after {
        display: none;
      }
      &__wraper {
        .left-panel {
          padding: 60px 9px 60px 8px;
        }
        .spap-banner-heading {
          text-align: center;
          font-size: 32px;
          line-height: 44px;
        }
        .right-panel {
          display: none;
        }
      }
    }
  }

  /* plans */
  .yellow-theme .button-orange {
    display: none;
  }
  .spap-plans {
    padding-top: 34px;
    padding-bottom: 140px;
    &__wraper {
      .column-inner {
        height: 100%;
      }
      .col-md-7.equal-column {
        @media screen and (min-width: 992px) {
          padding-right: 5px;
        }
      }
      .right-coulumn-section {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 992px) {
          height: 100%;
        }
      }
      .top-head {
        height: 130px;
      }
      .column-outer {
        background-color: white;
        border: 1px solid #dddddd;
        box-sizing: border-box;
        position: relative;
        border-radius: 8px;
        min-width: 165px;
        flex: 1;
        &.active {
          margin-top: -1;
          margin-top: -34px;
          border: 2px solid #00a6ca;
        }
        border-radius: 6px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        .button {
          position: absolute;
          bottom: -80px;
          left: 0;
          right: 0;
          width: unset;
        }
      }
      .column {
        position: relative;
        flex: 1;
        padding: 0 20px 0px;
        border: 1px solid #dddddd;
        border-bottom: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        &.active {
          border: 0px solid #00a6ca;
        }
        // border-radius: 6px;
        .coumn-head {
          padding-bottom: 28px;
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .plan-name {
            font-family: "Intro", Book;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #707070;
          }
          .plan-duration {
            font-family: "Intro", Bold;
            font-style: normal;
            font-weight: bold;
            line-height: 30px;
            font-size: 24px;
            margin: 10px 0 10px;
            letter-spacing: 0.02em;
            color: #2c2c2c;
          }
          .plan-price {
            font-family: "Intro", Regular;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #707070;
          }
        }
        .infinite {
          width: 35px;
          height: 16px;
        }
        .column-body {
          text-align: center;
        }
      }
      .coulumn-image {
        padding: 32px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #dddddd;
      }
      .wrong-marks {
        width: 14px;
        height: 14px;
        object-fit: contain;
      }
      .right-marks {
        width: 21px !important;
        height: 14px !important;
        object-fit: contain;
      }
      .most-popular {
        background: #00a6ca;

        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 30px;
        font-family: "Intro", Regular;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #ffffff;
        position: relative;
        > div {
          position: relative;
          z-index: 2;
        }
        &::after {
          content: "";
          position: absolute;
          width: 102%;
          height: 101%;
          left: -2px;
          border-top-left-radius: 7px;
          border-top-right-radius: 2px;
          top: -2%;
          background: #00a6ca;
        }
      }
      .save {
        background: #fcd800;
        height: 30px;
        font-family: "Intro", Book;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2c2c2c;
        position: relative;
        span {
          position: relative;
          z-index: 2;
        }
        &::before {
          content: "";
          position: absolute;
          width: 102.5%;
          height: 101%;
          left: -2px;
          top: 0;
          background: #fcd800;
          bottom: 0;
          transform: translateY(0px);
        }
      }
      .column-footer {
        height: 39px;
        background: #f9f9f9;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: "Intro", Regular;
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        width: 100%;
        border-top: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        line-height: 24px;
        position: absolute;
        bottom: 0;
        span {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 30px;
          bottom: -1px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .save.bg-white {
        background-color: white;
        &::before {
          background-color: white;
          width: 0;
        }
      }
      .nav {
        display: flex;
        margin-top: 50px;
        li {
          position: relative;
          padding-left: 16px;
          padding-top: 15px;
          background: #f9f9f9;
          @media screen and (max-width: 992px) {
            flex: 1;
          }

          border: 1px solid #acacac;
          box-sizing: border-box;
          border-bottom: 0;
          &.base-plan {
            border-right: 0;
          }
          &.base-standard {
            border-left: 0;
            &.active {
              &::after {
                width: 100.5%;
                left: -0.5px;
              }
              span {
                margin-left: -16.3px;
              }
            }
            border-top-right-radius: 6px;
          }
          &.active {
            background-color: #fff;
            border: 2px solid #00a6ca;
            border-bottom: 0;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              height: 9px;
              bottom: -6px;
              left: 0;
              background: #fff;
              width: 100%;
            }
          }
          .tag-intabs {
            position: absolute;
            top: -31px;
            width: 100%;
            left: 0;
          }
          .plan-name {
            font-family: "Intro", Book;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;

            color: #707070;
            margin-bottom: 10px;
          }
          h3 {
            font-family: "Intro", Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-bottom: 10px;

            color: #2c2c2c;
            margin-top: 0;
          }
          h4 {
            font-family: "Intro", Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 24px;

            letter-spacing: 0.02em;

            color: #2c2c2c;
            margin-top: 0;
          }
          h6 {
            font-family: "Intro", Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 9px;

            color: #707070;
            margin-top: 0;
          }
          span {
            background: #fcd800;
            width: 84px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -16.1px;
            font-family: "Intro", Book;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2c2c2c;
            margin-bottom: -0.5px;
            position: relative;
            z-index: 2;
          }
        }
        .most-popular::after {
          top: 0;
        }
      }
      .nav li.base-plan {
        border-right: 1px solid #acacac;
        border-top-left-radius: 5px;

        &.active {
          border: 2px solid #00a6ca;
        }
      }
      .nav li.base-standard {
        border-left: 0;
        border-top-right-radius: 0;
        &.active {
          border: 2px solid #00a6ca;
        }
      }
      .nav li.base-premium {
        border-left: 0;
        &.active {
          border: 2px solid #00a6ca;
        }
      }
      .border-right-0 {
        border-right: 0 !important;
      }
      @media screen and (max-width: 400px) {
        .nav li span {
          margin-left: -7px;
          margin-bottom: 0px;
        }

        .nav li.active span {
          margin-left: -7.1px;
          margin-bottom: -3px;
        }
        .base-standard.active span {
          margin-left: -7.1px !important;
        }
        .nav li h6 {
          font-size: 14px;
        }
      }
      .nav li {
        @media screen and (max-width: 400px) {
          padding-left: 7px;
          flex: 1;
        }
      }
      .most-popular::after {
        @media screen and (max-width: 992px) {
          /*width: 103.5%;*/
        }

        left: -1 px;
      }
      .base-plan.active .most-popular::after {
        width: 104%;
      }
      .verify-card {
        background: #ffffff;
        border: 1px solid #dde0ef;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 30px 30px 50px;
      }
      .verify-card-text h3 {
        font-weight: bold;
        font-size: 16px;
        font-family: "Intro", Bold;
        text-transform: uppercase;
        color: #00a6ca;
        margin-bottom: 20px;
        margin-top: 0;
      }
      .verify-card-text p {
        font-family: "Intro", Book;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2c2c2c;
        margin-bottom: 0;
        max-width: 76%;
      }
      .features-grid {
        .feature {
          display: flex;
          align-items: center;
          b {
            font-family: "Intro" Bold;
            font-weight: 700;
          }

          border-top: 1px solid #dddddd;
          padding: 15px 0;
          min-height: 78px;
          img {
            width: 27px;
            height: 27px;
            object-fit: contain;
            margin-right: 23px;
          }
        }
      }
      .tab-content {
        button.button.full-width-button {
          width: 100%;
          margin-bottom: 30px;
          border: 0;
        }
        .tab-pane {
          padding: 20px;
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          &.active {
            background-color: #fff;
            border: 2px solid #00a6ca;
          }
        }
        .small-right {
          width: 21px !important;
          height: 12px !important;
          margin-top: 5px;
        }
        .feature {
          border: 0;
          padding: 0;
          min-height: 0;
          margin-bottom: 14px;
          font-family: "Intro", Book;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;

          letter-spacing: 0.02em;
          color: #2c2c2c;
          align-items: flex-start;
          p {
            margin-bottom: 0;
          }
        }
      }
      .score-simulator-row {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        &:before,
        &:after {
          display: none;
        }
        .left-panel,
        .right-panel {
          padding-left: 0px;
          padding-right: 0px;
        }
        @media (min-width: 992px) {
          .left-panel {
            max-width: 43.221%;
            padding-right: 10px;
            margin-top: -5px;
          }
          .right-panel {
            width: auto;
          }
          .button.button-yellow {
            padding: 19px 20px 15px 20px;
            font-size: 16px;
            line-height: 16px;
          }
        }
        .verify-card-text h3 {
          line-height: 24px;
          letter-spacing: 0.02em;
        }
        .verify-card-text p {
          line-height: 24px;
        }
        .top-head {
          height: auto;
          p {
            margin-bottom: 30px;
            font-family: "Intro", Regular;
          }
        }
        .right-side,
        .left-side {
          padding-left: 0;
          padding-right: 0;
        }
        .left-side {
          width: 100%;
        }
        .most-popular {
          &::after {
            border-radius: 0;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
        }
        .save::before {
          border-radius: 0;
          border-left: 2px solid #00a6ca;
          border-right: 2px solid #00a6ca;
        }
        .in-active {
          margin-top: -3px;
          .save {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            transform: translateY(-3px);
          }
          .save::before {
            display: none;
          }
        }
      }
      @media (max-width: 992px) {
        .score-simulator-row {
          .blue-title {
            margin-top: 18px;
          }
          .nav li.base-standard {
            border-left: 1px solid #acacac;
            &.active {
              border: 2px solid #00a6ca;
            }
          }
          .tab-content .tab-pane.active {
            border-radius: 0;
          }
          .nav li h4 {
            font-weight: 600;
          }
          .button-yellow {
            max-width: 100%;
            margin-top: 8px;
            display: flex;
            margin-bottom: 30px;
          }
          .tab-content .feature {
            line-height: 24px;
          }
          .features-grid .feature img {
            margin-right: 16px;
          }
          .tab-content .small-right {
            width: 18px !important;
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding-top: 0px;
      &__wraper {
        .top-head {
          padding-left: 17px;
          padding-right: 16px;
          text-align: center;
        }
        .blue-title {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0.02em;
          color: #2c2c2c;
          margin: 0px auto 14px;
        }
        .description-bold {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #2c2c2c;
          margin-bottom: 0;
        }
      }
    }
  }

  /* CIBIL Report */
  .spap-cibil-report {
    background: #f6f7fc;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 71px;
    &__wraper {
      max-width: 988px;
    }
    .section-title {
      text-align: center;
      margin-bottom: 86px;
    }
    .cibil-report-image {
      width: 234px;
      margin-top: -111px;
    }
    .cibil-report-content {
      width: 53%;
    }
    .col-md-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      justify-content: center;
      margin-left: 0;
      margin-right: 0;
      justify-content: space-between;
      &::before,
      &::after {
        display: none;
      }
    }
    .report-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 24px 25px;
      background: #ffffff;
      -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.06);
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      margin-bottom: 30px;
      position: relative;
      &-bm {
        position: absolute;
        top: 0;
        right: 100%;
        &.bt {
          top: auto;
          bottom: 0;
        }
      }
      &-text {
        margin-left: 15px;
        h3 {
          font-size: 20px;
          line-height: 38px;
          color: #3ea3ce;
          margin: 0;
        }
        p {
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          margin: 0;
        }
      }
      &-img {
        padding-top: 10px;
        min-width: 64px;
        text-align: center;
      }
    }
    @media (min-width: 992px) {
      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
  }

  /* steps section */
  .steps-section {
    margin-bottom: 92px;
    .section-title {
      margin-bottom: 42px;
      max-width: 588px;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .left-panel,
    .right-panel {
      padding: 0px;
    }
    .left-panel {
      .steps {
        .steps-row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: flex-start;
          margin-bottom: 49px;
          .steps-icon {
            width: 51px;
            height: 51px;
            min-width: 51px;
            border: 3px solid #ffffff;
            background: #3ea3ce;
            -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.35),
              inset 0px 4px 4px rgba(0, 0, 0, 0.41);
            box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.35),
              inset 0px 4px 4px rgba(0, 0, 0, 0.41);
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #ffffff;
            font-size: 24px;
            font-family: "Intro";
            position: relative;
            padding-top: 3px;
          }
          &:not(:last-child) {
            .steps-icon {
              &:after {
                content: "";
                position: absolute;
                width: 2px;
                color: #ffffff;
                background: rgba(62, 163, 206, 0.4);
                height: 100%;
                top: 51px;
              }
            }
          }
          .steps-text {
            font-size: 22px;
            font-weight: 600;
            line-height: 26px;
            color: #000000;
            margin-left: 15px;
            max-width: 388px;
            margin-top: 12px;
          }
        }
      }
      .steps-action {
        button {
          min-width: 260px;
          font-size: 14px;
          padding-top: 14px;
          padding-bottom: 14px;
          margin-bottom: 12px;
          &.btnarrow {
            background: #f16e33;
            border: none;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1px;
            border-radius: 2px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;
            min-width: 260px;
            line-height: 16px;
            color: #fff;
            height: 45px;
          }
          .icon {
            margin-left: 6px;
            height: 16.88px;
            width: 16.88px;
          }
          .note-text {
            line-height: 14px;
          }
        }
        .no-shadow {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
    .right-panel {
      .img-responsive {
        margin-top: 81px;
      }
    }
    @media (min-width: 769px) {
      .left-panel {
        .steps {
          .steps-row {
            .mobile-icon {
              display: none;
            }
          }
        }
      }
    }
  }

  /* FAQ section */
  .faq-section {
    background: #f6f7fc;
    padding-top: 66.89px;
    padding-bottom: 79px;
    .section-title {
      text-align: center;
      line-height: 36px;
      margin-bottom: 15px;
    }
    .section-sub-title {
      text-align: center;
      font-size: 20px;
      line-height: 38px;
      margin-bottom: 28px;
    }
    .panel-group {
      margin-bottom: 0px;
      .panel {
        border: none;
        box-shadow: none;
        .panel-title{
          display: flex;
          align-items: center;
          font-weight:600;
          font-size: 20px;
          line-height: 20px;
          color: #000000;
          .faq-icon{
            margin-right: 22.19px;
            margin-left: 23.23px;
          }
        }
        .faq-content{
          border-bottom: 6px solid #fcd833;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
        }
        .panel-default {
          &.faq {
            box-shadow: none;
            border: none;
          }
        }
        & + .panel {
          margin-top: 23px;
        }
        .faq-icon {
          &.openI {
            display: none;
          }
          &.closeI {
            display: block;
          }
        }
        .faq-title[aria-expanded="false"]{
          height: 70px;
          display: flex;
        }
        .faq-title[aria-expanded="true"]{
          height: 60px;
          display: flex;
        }
        .faq-title[aria-expanded="false"] .openI {
          display: block;
        }
        .faq-title[aria-expanded="false"] .closeI {
          display: none;
        }
      }
      .panel-default>.panel-heading+.panel-collapse .panel-body{
        border-top: none;
        padding: 0px 24px 16px 20px;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
      }
      .panel-default > .panel-heading {
        color: #000000;
        border: none !important;
        background: #ffffff;
        border-radius: 4px;
        padding: 0;
      }
    }
  }
}
