* {
  padding: 0;
  margin: 0;
}

.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}

@media screen and (min-width: 992px) {
  .pt-md-5 {
    margin-top: 90px;
  }
}
.d-flex {
  display: flex;
}

.app-page .row {
  display: flex !important;
}
@media screen and (max-width: 992px) {
  .app-page .row {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 992px) {
  .app-page .row .col-md-6 img {
    width: 95% !important;
  }
  .app-page .row .col-md-5 {
    padding-left: 50px;
  }
}
.app-page .align-items-center {
  align-items: center;
}
.app-page .justify-content-center {
  justify-content: center;
}
.app-page .d-block.w-100 {
  display: block;
  width: 100%;
}
.app-page .d-none {
  display: none !important;
}
@media screen and (min-width: 992px) {
  .app-page .d-md-block {
    display: block !important;
  }
  .app-page .d-md-none {
    display: none !important;
  }
  .app-page .d-md-flex {
    display: flex !important;
  }
}
.app-page .banner {
  background-image: url(img/bannerbg.png);
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .app-page .banner {
    background-image: url(img/bg-desktop.png);
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner {
    padding-bottom: 70px;
  }
}
.app-page .banner .banner-text h3 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #2c2c2c;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text h3 {
    font-size: 40px;
    line-height: 44px;
  }
}
.app-page .banner .banner-text p {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text p {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text-block {
    min-height: 308px;
  }
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 270px;
  }
}
.app-page .banner .banner-text-block h4 {
  font-style: normal;
  font-size: 24px;
  font-family: "Intro", Regular;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #2c2c2c;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block h4 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text-block h4 {
    font-family: "Intro", Bold;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
  }
}
.app-page .banner .banner-text-block p {
  font-family: "Intro", book;
  font-style: normal;
  font-weight: normal;
  margin: 10px 0 0;
  color: #2c2c2c;
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block p {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text-block p {
    font-family: "Intro", Regular;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 30px;
  }
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block img {
    margin: auto;
  }
}
.app-page .banner .container {
  position: relative;
}
.app-page .app-store {
  display: flex;
}
@media screen and (max-width: 992px) {
  .app-page .app-store {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 25px;
  }
}
.app-page .app-store img {
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .app-page .app-store img {
    max-width: 156px;
    height: 52px;
  }
}
.app-page .app-store a {
  max-width: 168px;
  height: 53px;
  display: block;
}
.app-page .app-store a:first-child {
  margin-right: 25px;
}
@media screen and (max-width: 992px) {
  .app-page .notify {
    max-width: 70px;
  }
}

.appstore-container {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.white-block {
  padding: 20px;
  background-color: white;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
}
@media screen and (min-width: 992px) {
  .white-block {
    text-align: center;
  }
}

.myslider .item {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15%;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 20px;
  }
  .slider-controls .slick-dots {
    display: none !important;
  }
  .slider-controls .slick-arrow {
    all: unset;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slider-controls .slide-m-prev {
    background-image: url(img/arrow-left.svg);
    background-position: left;
  }
  .slider-controls .slide-m-next {
    background-image: url(img/arrow-right.svg);
    background-position: right;
  }
}
@media screen and (min-width: 992px) {
  .slider-controls {
    position: absolute;
    top: 60%;
    transform: translateY(-35%);
    right: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slider-controls .slick-dots {
    margin: 40px 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slider-controls .slick-dots li {
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
  }
  .slider-controls .slick-dots button {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: none;
    background: #acacac;
    text-indent: -9999px;
    outline: 0;
  }
  .slider-controls .slick-dots button:hover {
    background-color: #00a6ca;
  }
  .slider-controls .slick-arrow {
    all: unset;
    color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slider-controls .slick-arrow.slide-m-prev {
    background-image: url(img/uparrowblue.svg);
    transform: rotate(180deg);
    width: 27.64px;
    cursor: pointer;
    height: 24px;
  }
  .slider-controls .slick-arrow.slide-m-next {
    width: 27.64px;
    background-image: url(img/uparrowblue.svg);
    cursor: pointer;
    height: 24px;
  }
}

.slick-dots .slick-active button {
  background: #00a6ca;
}

.fading-text {
  transition: opacity 5s ease-in;
}

.fade-image {
  transition: opacity 5s ease-in;
}

@keyframes opacity {
  0% {
    transition: opacity 1s ease-in;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.progress {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 200px;
  margin: 20px;
  background-color: #e0f4fc;
  margin-left: 0;
}
.progress::after {
  width: 55px;
  height: 55px;
  content: "";
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  top: 0px;
  right: 0px;
  z-index: 9;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 992px) {
  .progress::after {
    top: 0;
    right: 0;
  }
}

.item-1.slick-slide .progress::after {
  background-image: url(img/icon1.png);
}

.item-2.slick-slide .progress::after {
  background-image: url(img/icon2.svg);
}

.item-3.slick-slide .progress::after {
  background-image: url(img/icon3.svg);
}

.item-4.slick-slide .progress::after {
  background-image: url(img/icon4.svg);
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #e7f4fa;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #00a6ca;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.slick-active .progress .left {
  animation: load1 4s linear forwards;
}

.slick-active .progress:nth-of-type(2) .right,
.slick-active .progress:nth-of-type(3) .right {
  animation: load2 4s linear forwards 4s;
}

.slick-active .progress:last-of-type .right,
.slick-active .progress:first-of-type .right {
  animation: load3 4s linear forwards 4s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }
  100% {
    z-index: 100;
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }
  100% {
    z-index: 100;
    transform: rotate(360deg);
  }
}
/* Standard syntax *//*# sourceMappingURL=style.css.map */