* {
  padding: 0;
  margin: 0;
}

.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}

@media screen and (min-width: 992px) {
  .pt-md-5 {
    margin-top: 90px;
  }
}
.app-page .row {
  display: flex !important;
}
@media screen and (max-width: 992px) {
  .app-page .row {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 992px) {
  .app-page .row .col-md-6 img {
    width: 95% !important;
  }
  .app-page .row .col-md-5 {
    padding-left: 50px;
  }
}
.app-page .align-items-center {
  align-items: center;
}
.app-page .d-block.w-100 {
  display: block;
  width: 100%;
}
.app-page .d-none {
  display: none !important;
}
@media screen and (min-width: 992px) {
  .app-page .d-md-block {
    display: block !important;
  }
  .app-page .d-md-none {
    display: none !important;
  }
  .app-page .d-md-flex {
    display: flex !important;
  }
}
.app-page .banner {
  background-image: url(img/bg-desktop.png);
  background-position: center;
  background-size: cover;
  padding-top: 40px;
}
@media screen and (min-width: 992px) {
  .app-page .banner {
    padding-bottom: 70px;
  }
}
.app-page .banner .banner-text h3 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #2c2c2c;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text h3 {
    font-size: 40px;
    line-height: 44px;
  }
}
.app-page .banner .banner-text p {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text p {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text-block {
    min-height: 308px;
  }
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block {
    display: flex;
    flex-direction: column;
  }
}
.app-page .banner .banner-text-block h4 {
  font-style: normal;
  font-size: 24px;
  font-family: "Intro", Regular;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #2c2c2c;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block h4 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text-block h4 {
    font-family: "Intro", Bold;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
  }
}
.app-page .banner .banner-text-block p {
  font-family: "Intro", book;
  font-style: normal;
  font-weight: normal;
  margin: 10px 0 0;
  color: #2c2c2c;
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block p {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .app-page .banner .banner-text-block p {
    font-family: "Intro", Regular;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 30px;
  }
}
@media screen and (max-width: 992px) {
  .app-page .banner .banner-text-block img {
    margin: auto;
  }
}
.app-page .banner .container {
  position: relative;
}
.app-page .app-store {
  display: flex;
}
@media screen and (max-width: 992px) {
  .app-page .app-store {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 25px;
  }
}
.app-page .app-store img {
  max-width: 100%;
}
.app-page .app-store a:first-child {
  margin-right: 25px;
}
@media screen and (max-width: 992px) {
  .app-page .notify {
    max-width: 70px;
  }
}

.appstore-container {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.white-block {
  padding: 20px;
  background-color: white;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
}
@media screen and (min-width: 992px) {
  .white-block {
    text-align: center;
  }
}

.myslider .item {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15%;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 20px;
  }
  .slider-controls .slick-dots {
    display: none !important;
  }
  .slider-controls .slick-arrow {
    all: unset;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slider-controls .slide-m-prev {
    background-image: url(img/arrow-left.svg);
    background-position: left;
  }
  .slider-controls .slide-m-next {
    background-image: url(img/arrow-right.svg);
    background-position: right;
  }
}
@media screen and (min-width: 992px) {
  .slider-controls {
    position: absolute;
    top: 60%;
    transform: translateY(-35%);
    right: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slider-controls .slick-dots {
    margin: 55px 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slider-controls .slick-dots li {
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
  }
  .slider-controls .slick-dots button {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: none;
    background: #acacac;
    text-indent: -9999px;
    outline: 0;
  }
  .slider-controls .slick-dots button:hover {
    background-color: #00a6ca;
  }
  .slider-controls .slick-arrow {
    all: unset;
    color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slider-controls .slick-arrow.slide-m-prev {
    background-image: url(img/uparrow.svg);
    width: 27.64px;
    cursor: pointer;
    height: 24px;
  }
  .slider-controls .slick-arrow.slide-m-prev:hover {
    background-image: url(img/uparrowblue.svg);
    transform: rotate(180deg);
  }
  .slider-controls .slick-arrow.slide-m-next {
    width: 27.64px;
    background-image: url(img/uparrow.svg);
    transform: rotate(180deg);
    cursor: pointer;
    height: 24px;
  }
  .slider-controls .slick-arrow.slide-m-next:hover {
    background-image: url(img/uparrowblue.svg);
    transform: rotate(0deg);
  }
}

.slick-dots .slick-active button {
  background: #00a6ca;
}

.circle1 {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.slick-active .zonecircle {
  animation: myfirst 2s infinite;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
  animation-iteration-count: 8;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 50%;
  background: #00a6ca;
  height: 50%;
  border: solid 1px #00a6ca;
  transform-origin: 100% 0%;
  transform: rotate(180deg);
}

.avatarcircle {
  position: absolute;
  /* left: 0; */
  top: 50%;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  overflow: hidden;
  background-image: url(img/notify.svg);
  background-position: 0px -3px;
  left: 50%;
  /* right: 0; */
  margin: auto;
  background-repeat: no-repeat;
  background-color: #e6f3f9;
  transform: translate(-50%, -50%);
}

.fading-text {
  transition: opacity 5s ease-in;
  opacity: 0;
}

.fade-image {
  transition: opacity 5s ease-in;
  opacity: 0;
}

.slick-active .fade-image {
  animation: opacity 2s 2s forwards;
}

.slick-active .fading-text {
  animation: opacity 2s 1s forwards;
}

/* Standard syntax */
@keyframes opacity {
  0% {
    transition: opacity 5s ease-in;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myfirst {
  0% {
    background: #00a6ca;
    transform: rotate(180deg);
  }
  25% {
    background: #00a6ca;
    transform: rotate(270deg);
  }
  50% {
    background: #00a6ca;
    transform: rotate(360deg);
  }
  75% {
    background: #00a6ca;
    transform: rotate(450deg);
  }
  100% {
    background: #00a6ca;
    transform: rotate(540deg);
  }
}/*# sourceMappingURL=style.css.map */