* {
    padding: 0;
    margin: 0;
}

.order- {
    &0 {
        order: 0;
    }
    &1 {
        order: 1;
    }
    &2 {
        order: 2;
    }
    &3 {
        order: 3;
    }
}

@media screen and (min-width: 992px) {
    .pt-md-5 {
        margin-top: 90px;
    }
}
.d-flex {
    display: flex;
}
.app-page {
    .row {
        display: flex !important;
        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
        }
        @media screen and (min-width: 992px) {
            .col-md-6 {
                img {
                    width: 95% !important;
                }
            }
            .col-md-5 {
                padding-left: 50px;
            }
        }
    }
    .align-items-center {
        align-items: center;
    }
    .justify-content-center {
        justify-content: center;
    }
    .d-block.w-100 {
        display: block;
        width: 100%;
    }
    .d-none {
        display: none !important;
    }
    @media screen and (min-width: 992px) {
        .d-md-block {
            display: block !important;
        }
        .d-md-none {
            display: none !important;
        }
        .d-md-flex {
            display: flex !important;
        }
    }
    .banner {
        background-image: url(img/bg-desktop.png);
        background-position: center;
        background-size: cover;
        padding-top: 40px;
        position: relative;
        &::before {
            // @media screen and (max-width: 992px) {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-image: url(img/circlebg.svg);
            //     bottom: 0;
            //     background-size: 130%;
            //     background-repeat: no-repeat;
            //     background-position: 50% 115%;
             
            // }
        }
        @media screen and (min-width: 992px) {
            padding-bottom: 70px;
        }
        .banner-text {
            h3 {
                font-family: "Intro", Bold;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                @media screen and (min-width: 992px) {
                    font-size: 40px;
                    line-height: 44px;
                }
                text-align: center;
                letter-spacing: -0.01em;
                color: #2c2c2c;
                margin-bottom: 20px;
            }
            p {
                font-family: "Intro", Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                @media screen and (min-width: 992px) {
                    font-size: 24px;
                    line-height: 30px;
                }
                text-align: center;
                color: #2c2c2c;
            }
        }
        .banner-text-block {
            @media screen and (min-width: 992px) {
                min-height: 308px;
            }
            @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 270px;
            }
            h4 {
                font-style: normal;
                font-size: 24px;
                font-family: "Intro", Regular;
                line-height: 30px;
                @media screen and (max-width: 992px) {
                    text-align: center;
                }
                @media screen and (min-width: 992px) {
                    font-family: "Intro", Bold;
                    font-size: 40px;
                    line-height: 44px;
                    font-weight: bold;
                }
                letter-spacing: -0.01em;
                color: #2c2c2c;
                margin-bottom: 0;
            }
            p {
                font-family: "Intro", book;
                font-style: normal;
                font-weight: normal;
                margin: 10px 0 0;
                @media screen and (max-width: 992px) {
                    text-align: center;
                }
                @media screen and (min-width: 992px) {
                    font-family: "Intro", Regular;
                    font-size: 24px;
                    line-height: 30px;
                    margin: 20px 0 30px;
                }
                color: #2c2c2c;
            }
            img {
                @media screen and (max-width: 992px) {
                    margin: auto;
                }
            }
        }
        .container {
            position: relative;
        }
    }
    .app-store {
        display: flex;
        @media screen and (max-width: 992px) {
            margin-bottom: 30px;
            margin-top: 30px;
            padding: 0 25px;
        }
        img {
            max-width: 100%;
        }
        a {
            &:first-child {
                margin-right: 25px;
            }
        }
    }
    .notify {
        @media screen and (max-width: 992px) {
            max-width: 70px;
        }
    }
}

.appstore-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.white-block {
    padding: 20px;
    background-color: white;
    font-family: "Intro", Book;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    @media screen and (min-width: 992px) {
        text-align: center;
    }
    letter-spacing: 0.02em;
    color: #707070;
}

.myslider {
    .item {
        width: 100%;
        position: relative;
    }
}

.slider-controls {
    @media screen and (max-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 15%;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 20px;
        .slick-dots {
            display: none !important;
        }
        .slick-arrow {
            all: unset;
            color: transparent;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .slide-m-prev {
            background-image: url(img/arrow-left.svg);
            background-position: left;
        }
        .slide-m-next {
            background-image: url(img/arrow-right.svg);
            background-position: right;
        }
    }
    @media screen and (min-width: 992px) {
        position: absolute;
        top: 60%;
        transform: translateY(-35%);
        right: 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .slick-dots {
            margin: 40px 0;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                margin: 15px 0;
                cursor: pointer;
            }
            button {
                border-radius: 50%;
                width: 12px;
                height: 12px;
                border: none;
                background: #acacac;
                text-indent: -9999px;
                outline: 0;
                &:hover {
                    background-color: #00a6ca;
                }
            }
        }
        .slick-arrow {
            all: unset;
            color: transparent;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            &.slide-m-prev {
                background-image: url(img/uparrow.svg);
                width: 27.64px;
                cursor: pointer;
                height: 24px;
                &:hover {
                    background-image: url(img/uparrowblue.svg);
                    transform: rotate(180deg);
                }
            }
            &.slide-m-next {
                width: 27.64px;
                background-image: url(img/uparrowblue.svg);
                cursor: pointer;
                height: 24px;
            }
        }
    }
}

.slick-dots .slick-active button {
    background: #00a6ca;
}

// .circle1 {
//     position: relative;
//     border-radius: 50%;
//     width: 100px;
//     height: 100px;
//     overflow: hidden;
// }

// .slick-active .zonecircle {
//     // animation: myfirst 2s infinite;
//     -webkit-animation-timing-function: linear;
//     /* Chrome, Safari, Opera */
//     animation-timing-function: linear;
//     animation-iteration-count: 8;
//     position: absolute;
//     top: 50%;
//     left: 0px;
//     width: 50%;
//     background: #00a6ca;
//     height: 50%;
//     border: solid 1px #00a6ca;
//     transform-origin: 100% 0%;
//     transform: rotate(180deg);
// }

// .avatarcircle {
//     position: absolute;
//     /* left: 0; */
//     top: 50%;
//     border-radius: 50%;
//     width: 95px;
//     height: 95px;
//     overflow: hidden;
//     // background-image: url(img/notify.svg);
//     background-position: 0px -3px;
//     left: 50%;
//     /* right: 0; */
//     margin: auto;
//     background-repeat: no-repeat;
//     // background-color: #e6f3f9;
//     transform: translate(-50%, -50%);
// }

.fading-text {
    transition: opacity 5s ease-in;
    // opacity: 0;
}

.fade-image {
    transition: opacity 5s ease-in;
    // opacity: 0;
}

// .slick-active .fade-image {
//     animation: opacity 1s 1s forwards;
// }
// .slick-active .fading-text {
//     animation: opacity 1s 1s forwards;
// }

/* Standard syntax */

@keyframes opacity {
    0% {
        transition: opacity 1s ease-in;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// @keyframes myfirst {
//     0% {
//         background: #00a6ca;
//         transform: rotate(180deg);
//     }
//     25% {
//         background: #00a6ca;
//         transform: rotate(270deg);
//     }
//     50% {
//         background: #00a6ca;
//         transform: rotate(360deg);
//     }
//     75% {
//         background: #00a6ca;
//         transform: rotate(450deg);
//     }
//     100% {
//         background: #00a6ca;
//         transform: rotate(540deg);
//     }
// }
.progress {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 200px;
    margin: 20px;
    background-color: #e0f4fc;
    &::after {
        width: 55px;
        height: 55px;
        content: "";
        position: absolute;

        bottom: 0;
        margin: auto;
        left: 0;
        top: 0px;
        right: 0px;
        @media screen and (min-width: 992px) {
            top: 0.5px;
            right: -2px;
        }

        z-index: 9;
        background-position: center;
        background-size: contain;
    }
}

.item-1.slick-slide {
    .progress {
        &::after {
            background-image: url(img/icon1.png);
        }
    }
}

.item-2.slick-slide {
    .progress {
        &::after {
            background-image: url(img/icon2.svg);
        }
    }
}

.item-3.slick-slide {
    .progress {
        &::after {
            background-image: url(img/icon3.svg);
        }
    }
}

.item-4.slick-slide {
    .progress {
        &::after {
            background-image: url(img/icon4.svg);
        }
    }
}

.progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #e7f4fa;
}

.progress .left,
.progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #00a6ca;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.slick-active .progress .left {
    animation: load1 4s linear forwards;
}

.slick-active .progress:nth-of-type(2) .right,
.slick-active .progress:nth-of-type(3) .right {
    animation: load2 4s linear forwards 4s;
}

.slick-active .progress:last-of-type .right,
.slick-active .progress:first-of-type .right {
    animation: load3 4s linear forwards 4s;
}

@keyframes load1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes load2 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }
    100% {
        z-index: 100;
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }
    100% {
        z-index: 100;
        transform: rotate(360deg);
    }
}
