* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-block {
  display: block;
}

@media screen and (max-width: 992px) {
  .mhide {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .d-md-flex {
    display: flex;
  }

  .dhide {
    display: none !important;
  }
}
.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
}

@media screen and (min-width: 992px) {
  .d-md-block {
    display: block;
  }
}

.img-fluid {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  background: #f16e00;
  border-radius: 25px;
  font-family: "Intro", Regular;

  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c !important;
  text-decoration: none !important;
}
@media screen and (max-width: 992px) {
  .button {
    margin: auto;
  }
}
.button:hover {
  background-color: #db6402;
}

@media screen and (max-width: 992px) {
  .pt-sm-0 {
    padding-top: 0 !important;
  }
}
.button-yellow {
  background: #fcd800;
  width: auto;
  max-width: 308px;
  font-weight: 600;
}
.button-yellow:hover {
  background-color: #fcd800;
}

.button-outline-yellow {
  background: #ffffff !important;
  border: 1px solid #fcd800 !important;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 25px;
}

.button-outline {
  background: #ffffff !important;
  /* Secondary Orange */
  border: 1px solid #f16e00;
  box-sizing: border-box;
  border-radius: 25px;
}

.blue-title {
  font-family: "Intro", Bold;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #00a6ca;
}

.banner {
  position: relative;
  padding-top: 20px;
  background: #f9f9f9;
}
@media screen and (min-width: 992px) {
  .banner {
    padding-top: 43px;
  }
  .banner .position-float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1366px) {
  .banner .col-md-7 {
    transform: translateY(-35px);
  }
}
.banner .banner-image {
  width: 100%;
  display: block;
}
.banner .title {
  font-family: "Intro", Bold;

  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}
@media screen and (max-width: 1200px) {
  .banner .title {
    font-size: 25px;
    line-height: 30px;
  }
}
.banner .description {
  font-family: "Intro", Regular;

  font-size: 24px;
  line-height: 30px;
  color: #2c2c2c;
  margin: 30px 0 40px;
}
@media screen and (max-width: 1200px) {
  .banner .description {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 20px;
  }
}
.banner .row {
  height: 100%;
}
@media screen and (max-width: 992px) {
  .banner .row-reverse {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner .row-reverse .title {
    font-size: 32px;
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .banner .row-reverse .description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.section-title {
  font-family: "Intro", Bold;

  font-weight: bold;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .section-title {
    font-size: 32px;
    line-height: 30px;
  }
}

.col-grid {
  padding: 40px 0 20px;
}
.col-grid .section-title {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .col-grid .section-title {
    text-transform: uppercase;
    padding: 0 20px;
  }
}
@media screen and (min-width: 992px) {
  .col-grid .section-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 992px) {
  .col-grid {
    padding: 40px 0;
  }
}
.col-grid .grid {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .col-grid .grid {
    margin-bottom: 20px;
    min-height: 111px;
  }
}
.col-grid .grid img {
  margin-right: 20px;
  height: auto;
}
.col-grid .grid p {
  max-width: 400px;
  font-family: "Intro", Book;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .row.d-md-flex.flex-wrap .col-md-6 {
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .row2 {
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
}
.score-simulator-lp .column-outer {
  width: 160px;
  flex: unset;
}
.score-simulator-lp .equal-column {
  width: auto;
}
.score-simulator-lp .score-simulator-row {
  display: flex;
  justify-content: center;
}

.interstial-container {
  padding-bottom: 30px;
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  .interstial-container {
    padding-bottom: 110px !important;
    padding-top: 70px;
  }
}
@media screen and (min-width: 992px) {
  .interstial-container .col-md-7.equal-column {
    padding-right: 5px;
  }
}
.interstial-container .right-coulumn-section {
  display: flex;
  justify-content: space-between;
}
.interstial-container .top-head {
  height: 130px;
}
.interstial-container .column-outer {
  background-color: white;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  flex: 1;
  border-radius: 6px;
  margin-right: 20px;
}
.interstial-container .column-outer.active {
  margin-top: -1;
  margin-top: -34px;
  border: 2px solid #00a6ca;
}
.interstial-container .column-outer:last-child {
  margin-right: 0;
}
.interstial-container .column-outer .button {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: unset;
}
.interstial-container .column {
  position: relative;
  flex: 1;
  padding: 0 15px 0;
  padding-bottom: 0;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.interstial-container .column.active {
  border: 0px solid #00a6ca;
}
.interstial-container .column .coumn-head {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interstial-container .column .coumn-head .plan-name {
  font-family: "Intro", Regular;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
}
.interstial-container .column .coumn-head .plan-duration {
  font-family: "Intro", Bold;

  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 10px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.interstial-container .column .coumn-head .plan-price {
  font-family: "Intro", Regular;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
}
.interstial-container .column .infinite {
  width: 35px;
  height: 16px;
}
.interstial-container .column .column-body {
  text-align: center;
}
.interstial-container .coulumn-image {
  min-height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dddddd;
}
.interstial-container .wrong-marks {
  width: 14px;
  height: 14px;
  object-fit: contain;
}
.interstial-container .right-marks {
  width: 21px !important;
  height: 14px !important;
  object-fit: contain;
}
.interstial-container .most-popular {
  background: #00a6ca;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 30px;
  font-family: "Intro", Regular;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
}
.interstial-container .most-popular > div {
  position: relative;
  z-index: 2;
}
.interstial-container .most-popular::after {
  content: "";
  position: absolute;
  width: 102%;
  height: 101%;
  left: -2px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  top: -2%;
  background: #00a6ca;
}
@media screen and (min-width: 992px) {
  .interstial-container .most-popular::after {
    border-top-right-radius: 0;
  }
}
.interstial-container .save {
  background: #fcd800;
  height: 30px;
  font-family: "Intro", Book;

  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  position: relative;
}
.interstial-container .save span {
  position: relative;
  z-index: 2;
}
.interstial-container .save::before {
  content: "";
  position: absolute;
  width: 102%;
  height: 101%;
  left: -2px;
  top: 0;
  background: #fcd800;
  bottom: 0;
  transform: translateY(0px);
}
.interstial-container .column-footer {
  height: 30px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  color: #707070;
  width: 100%;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  line-height: 30px;
}
.interstial-container .column-footer span {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 30px;
  bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.in-active {
  margin-top: -3px;
}
.in-active .save {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transform: translateY(-3px);
}
.in-active .save::before {
  display: none;
}

.plan-title {
  font-family: "Intro", Regular;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.active .column-footer {
  bottom: 0;
  left: 0;
  width: 100%;
}

.features-mobile-section .top-head {
  min-height: 0;
}

.col-1-link {
  font-family: "Intro", Regular;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #2c2c2c;
  font-weight: 600;
  padding: 0px 23px;
  display: block;
}

.verify-card {
  background: #ffffff;
  border: 1px solid #dde0ef;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 30px;
  margin-top: -3px;
}
@media screen and (min-width: 992px) {
  .verify-card {
    width: 463px;
  }
}

.verify-card-text h3 {
  font-weight: bold;
  font-size: 16px;
  font-family: "Intro", Bold;
  text-transform: uppercase;
  color: #00a6ca;
  margin-bottom: 20px;
  margin-top: 0;
}

.verify-card-text p {
  font-family: "Intro", Book;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}

.description-bold {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.features-grid .feature {
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 15px 0;
  min-height: 78px;
}
@media screen and (min-width: 992px) {
  .features-grid .feature.first-feature {
    padding-top: 25px;
  }
}
.features-grid .feature img {
  width: 27px;
  height: 27px;
  object-fit: contain;
  margin-right: 23px;
}

.interstial-container {
  background: #f9f9f9;
}

.nav {
  display: flex;
  margin-top: 50px;
}
.nav li {
  position: relative;
  padding-left: 16px;
  padding-top: 15px;
  background: #f9f9f9;
  border: 1px solid #acacac;
  box-sizing: border-box;
  border-bottom: 0;
}
@media screen and (max-width: 992px) {
  .nav li {
    flex: 1;
  }
}
.nav li.base-plan {
  border-right: 0;
}
.nav li.base-plan.active::after {
  width: 100.5%;
}
.nav li.base-standard {
  border-left: 0;
  border-top-right-radius: 6px;
}
.nav li.base-standard.active::after {
  width: 100.5%;
  left: -0.5px;
}
.nav li.base-standard.active span {
  margin-left: -16.3px;
}
.nav li.active {
  background-color: #fff;
  border: 2px solid #00a6ca;
  border-bottom: 0;
  position: relative;
}
.nav li.active::after {
  content: "";
  position: absolute;
  height: 5px;
  bottom: -5px;
  left: 0;
  background: #fff;
  width: 100%;
}
.nav li .tag-intabs {
  position: absolute;
  top: -31px;
  width: 100%;
  left: 0;
}
.nav li .plan-name {
  font-family: "Intro", Book;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
  margin-bottom: 10px;
}
.nav li h3 {
  font-family: "Intro", Bold;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #2c2c2c;
  margin-top: 0;
}
.nav li h4 {
  font-family: "Intro", Regular;

  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-top: 0;
}
.nav li h6 {
  font-family: "Intro", Regular;

  font-size: 14px;
  line-height: 24px;
  margin-bottom: 9px;
  color: #707070;
  margin-top: 0;
}
.nav li span {
  background: #fcd800;
  width: 84px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -16.1px;
  font-family: "Intro", Book;

  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: -0.5px;
  position: relative;
  z-index: 2;
}
.nav .most-popular::after {
  top: 0;
}

.tab-content button.button.full-width-button {
  width: 100%;
  margin-bottom: 30px;
  border: 0;
}
.tab-content .tab-pane {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tab-content .tab-pane.active {
  background-color: #fff;
  border: 2px solid #00a6ca;
}
.tab-content .small-right {
  width: 21px !important;
  height: 12px !important;
  margin-top: 5px;
}
.tab-content .feature {
  border: 0;
  padding: 0;
  min-height: 0;
  margin-bottom: 14px;
  font-family: "Intro", Book;

  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  align-items: flex-start;
}
.tab-content .feature p {
  margin-bottom: 0;
}

.score-simulator-lp .save.bg-white {
  background-color: white;
}
.score-simulator-lp .save.bg-white::before {
  background-color: white;
  width: 0;
}
.score-simulator-lp .nav li.base-plan {
  border-right: 1px solid #acacac;
}
.score-simulator-lp .nav li.base-plan.active {
  border: 2px solid #00a6ca;
}
.score-simulator-lp .nav li.base-standard {
  border-left: 0;
  border-top-right-radius: 0;
}
.score-simulator-lp .nav li.base-standard.active {
  border: 2px solid #00a6ca;
}
.score-simulator-lp .nav li.base-premium {
  border-left: 0;
  border-top-right-radius: 6px;
}
.score-simulator-lp .nav li.base-premium.active {
  border: 2px solid #00a6ca;
}
.score-simulator-lp .border-right-0 {
  border-right: 0 !important;
}
@media screen and (max-width: 400px) {
  .score-simulator-lp .nav li span {
    margin-left: -7px;
    margin-bottom: 0px;
  }
  .score-simulator-lp .nav li.active span {
    margin-left: -7.1px;
    margin-bottom: -3px;
  }
  .score-simulator-lp .base-standard.active span {
    margin-left: -7.1px !important;
  }
  .score-simulator-lp .nav li h6 {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .score-simulator-lp .nav li {
    padding-left: 7px;
    flex: 1;
  }
}
.score-simulator-lp .interstial-container .most-popular::after {
  width: 101%;
  left: -1px;
}
.score-simulator-lp .interstial-container .base-plan.active .most-popular::after {
  width: 103%;
  left: -2px;
}
@media screen and (max-width: 992px) {
  .score-simulator-lp .banner .row-reverse {
    padding-left: 0;
    padding-right: 0;
  }
}

.yellow-theme .button-orange {
  display: none;
}
.yellow-theme .orange-section {
  display: none;
}

.orange-theme .button-outline-yellow,
.orange-theme .button-yellow {
  display: none;
}
.orange-theme .yellow-section {
  display: none;
} /*# sourceMappingURL=style-2.css.map */
.disclaimer {
  padding: 40px 30px;
  text-align: center;
  max-width: 875px;
  font-family: "Intro", Book;
margin: auto;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: center;
  letter-spacing: 0.02em;

  /* Accent Black */

  color: #2c2c2c;
}
