/* colors */
$light-blue: #F6F7FC;
$black: #2C2C2C;
$gray: #ACACAC;
$border-color2:#EBEBEB;

.container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1200px){
        width: 1020px;
    }
}

a{
    text-decoration: none;
    outline: none !important;
    &:hover{
        text-decoration: none;
    }
}

.hide-mob{
    @media(max-width:768px){
        display: none;
    }
}

.hide-desk{
    @media(min-width:769px){
        display: none;
    }
}

/* breadcrumb */
.breadcrumb-bar{
    background-color: $light-blue;
    &__wraper{
        padding-top: 20px;
        padding-bottom: 20px;
        ul{
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $gray;
            &.breadcrumb-menu{
                li{
                    display: inline;
                    a{
                        font-family: "Intro", Book;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        color: $black;
                    }
                    &:not(:last-child){
                        margin-right: 10px;
                        a{
                            &:after{
                                content: url(images/arrow-right.svg);
                                margin-left: 6px;
                            }
                        }
                    }
                    &.active{
                        a{
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:768px){
        &__wraper{
            ul{
                &.breadcrumb-menu{
                    li{
                        &:not(:last-child){
                            margin-right: 6px;
                            a{
                                &:after{
                                    margin-left: 4px;
                                }
                            }
                        }
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

/* page heading */
.page-heading{
    &__Wraper{
        padding-top: 20px;
        .link{
            font-family: "Intro", Regular;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            text-decoration-line: underline;
            text-underline-offset: 0.1rem;
            text-decoration-thickness: 0.1rem;
            color: $black;
            .icon{
                margin-right: 10px;
            }
        }
    }
}

/* dispute details */
.dispute-details-section{
    &__wraper{
        padding-top: 30px;
        padding-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        .tables{
            padding: 20px;
            border: 1px solid $border-color2;
            border-radius: 6px;
            display: flex;
            table{
                &:not(:last-child){
                    margin-right: 80px;
                }
                .details-row{
                    a{
                        text-decoration-style: dashed;
                        text-decoration-line: underline;
                        text-decoration-thickness: 1.4px;
                        text-underline-offset: 0.5rem;
                        color: $black;
                    }
                    &:not(:last-child){
                        .title, .content{
                            padding-bottom: 20px;
                        }
                    }
                    .title{
                        font-family: "Intro", Book;
                        color: $black;
                        padding-right: 60px;
                        font-weight: 400;
                    }
                    .content{
                        font-family: "Intro", Regular;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    @media(max-width:768px){
        &__wraper{
            padding-top: 20px;
            padding-bottom: 30px;
            .tables{
                flex-direction: column;
                border: none;
                padding: 0px;
                table{
                    width: 100%;
                    &:not(:last-child){
                        margin-right: 0px;
                        margin-bottom: 20px;
                    }
                    .details-row{
                        display: flex;
                        justify-content: space-between;
                        .title, .content{
                            display: block;
                            padding-right: 0px !important;
                        }
                        &:not(:last-child){
                            .title, .content{
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}