* {
  margin: 0;
  padding: 0;
  font-family: "Intro";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Intro";
  scroll-behavior: smooth;
}

a {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.font-12 {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}

.text-color-black {
  color: #000000;
}
.text-color-black-75 {
  color: rgba(0, 0, 0, 0.75);
}
.text-color-blue {
  color: #3ea3ce;
}
.text-color-blue:hover {
  color: #3ea3ce;
}
.text-color-white {
  color: #ffffff;
}
.text-color-yellow {
  color: #fcd833;
}
.text-color-brown {
  color: #232323;
}
.text-color-green {
  color: #18a160;
}

.bg-black {
  background-color: #000000;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-f9 {
  background-color: #f9f9f9 !important;
}
.bg-ed {
  background-color: #ededed;
}

.h-100 {
  height: 100%;
}

.w-70 {
  width: 70%;
}

.bg-light-blue {
  background: #eff7fe;
}

.pr-1 {
  padding-right: 10px;
}

.text-decoration-none {
  text-decoration: none;
  outline: 0;
}
.text-decoration-none:hover {
  text-decoration: none;
  outline: 0;
}
.text-decoration-underline {
  text-decoration: underline;
  outline: 0;
}
.text-decoration-underline:hover {
  text-decoration: underline;
  outline: 0;
}

.text-left {
  text-align: left;
}

@media screen and (min-width: 992px) {
  .text-center {
    text-align: center;
  }
}
.mb-0 {
  margin-bottom: 0;
}

.p-2 {
  padding: 20px;
}

.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}

.pb-2 {
  padding-bottom: 20px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid #707070;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-05 {
  margin-bottom: 5px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px !important;
}
.mb-5 {
  margin-bottom: 50px !important;
}
.mb-6 {
  margin-bottom: 60px !important;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-6 {
  margin-top: 60px;
}

.mr-3 {
  margin-right: 30px;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.title-light {
  font-family: Intro Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.pt-2 {
  padding-top: 20px;
}

.yellow-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.yellow-title .bg-yellow {
  margin-right: 5px;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.display-vertical-center {
  display: flex;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

@media (min-width: 992px) {
  .m-visible {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .m-hidden {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mx-410 {
  max-width: 410px;
}

.mx-580 {
  max-width: 580px;
}

@media (min-width: 992px) {
  .w-36 {
    width: 36%;
  }
}
@media (min-width: 992px) {
  .w-64 {
    width: 64%;
    padding-right: 35px;
  }
}
@media (min-width: 992px) {
  .w-70 {
    width: 70%;
    padding-right: 35px;
  }
}

.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-flex {
  display: flex !important;
}

.header {
  background: #ffffff;
  border-bottom: 5px solid #fcd833;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .header {
    padding: 12px 0;
    border-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .header {
    padding: 15px 0;
  }
}

@media (max-width: 991px) {
  .content {
    padding-bottom: 0;
  }
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.section-title-blue {
  color: #3ea3ce;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 16px;
  }
}

.section-title-lg {
  font-size: 22px;
  font-weight: 700;
  width: auto;
}

.section-title-25 {
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .section-title-25 {
    font-size: 22px;
  }
}

.section-title-40 {
  font-weight: 600;
  font-size: 24px;
  font-family: "Intro", Regular;
  letter-spacing: -0.01em;
  color: #2c2c2c;
}
@media screen and (min-width: 992px) {
  .section-title-40 {
    font-size: 40px;
  }
}

p {
  font-family: "Intro", Regular;
}

.section-subtitle {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  font-family: "Intro", Regular;
}

.section-subtitle-1 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}

.plans-radio-row {
  display: flex;
  justify-content: space-between;
}
.plans-radio-col {
  width: 32%;
  position: relative;
}
.plans-radio-col label {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 10px 8px;
  height: 100%;
}
.plans-radio-col input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0;
}
.plans-radio-col input:checked ~ .checkmark {
  background-color: #2196f3;
  border: 1px solid #2196f3;
}
.plans-radio-col input:checked ~ .checkmark:after {
  display: block;
}
.plans-radio-col input:checked ~ label {
  background: #fef6ce;
}
.plans-radio-col .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.plans-radio-col .checkmark {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #969696;
  border-radius: 50%;
}
.plans-radio-col .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.plans-radio-price {
  font-size: 18px;
  font-weight: 600;
  color: rgba(43, 43, 43, 0.7);
  margin-bottom: 10px;
}
@media (max-width: 380px) {
  .plans-radio-price {
    font-size: 14px;
  }
}
.plans-radio-title {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
@media (max-width: 380px) {
  .plans-radio-title {
    font-size: 14px;
  }
}
.plans-radio-sub-title {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 2px;
}
@media (max-width: 380px) {
  .plans-radio-sub-title {
    font-size: 12px;
  }
}
.plans-radio-offer-text {
  background-image: url("https://www.cibil.com/resources/cibil/img/popup/offer-text-bg-mb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 12px;
  color: #000000;
  font-size: 12px;
  padding-left: 0;
  background-position: left;
  padding: 4px;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}
.form-group .country-placeholder {
  position: absolute;
  top: 11px;
  left: 36px;
  color: #959799;
  display: none;
}
.form-group .show-password {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
  display: inline-block;
  display: none;
}
.form-group .form-label {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 16px;
  color: #777777;
  transition: all 0.3s ease;
  pointer-events: none;
}
.form-group .input-error {
  display: none;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.34px;
  color: #d74025;
  margin-top: 8px;
  margin-bottom: 0;
  transition: all 0.3s ease;
}
.form-group.error .input-error {
  display: block;
}
.form-group .form-control {
  height: 46px;
  font-size: 16px;
  padding-left: 11px;
  padding-right: 11px;
  border: 1px solid #dbdbdb;
  color: #000000;
  background-color: #ffffff;
}
.form-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 400;
}
.form-group .form-control::-moz-placeholder {
  color: #777777;
  font-weight: 400;
}
.form-group .form-control::placeholder {
  color: #777777;
  font-weight: 400;
}
.form-group .form-control:focus + .form-label {
  top: -10px;
  background: #ffffff;
  font-size: 11px;
  color: #3ea3ce;
  padding: 0 3px;
}
.form-group .form-control:focus {
  border: 1px solid #3ea3ce;
}
.form-group .form-control-otp {
  letter-spacing: 15px;
  height: 60px;
  font-size: 30px;
}
.form-group .form-control-otp:focus + .form-label {
  display: none;
}
.form-group .edit-text {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #f16e33;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
}
.form-group .placeholder-icon {
  display: none;
}
.form-group.prefilled .form-label {
  display: none;
}
.form-group.prefilled .placeholder-icon {
  display: block;
  position: absolute;
  left: 11px;
  top: 14px;
}
.form-group.prefilled .placeholder-icon.mobile {
  top: 10px;
}
.form-group.prefilled .country-placeholder {
  display: block;
}
.form-group.prefilled input {
  background-color: #f0f4f7;
  padding-left: 43px;
  color: #959799;
  font-weight: 400;
}
.form-group.prefilled .show-password {
  display: block;
}
.form-group.prefilled .mobile-input {
  padding-left: 65px;
}
.form-group.valid .form-label {
  top: -10px;
  background: #ffffff;
  font-size: 11px;
  color: #999999;
  padding: 0 3px;
}
.form-group-10 {
  margin-bottom: 10px;
}
.form-group-otp.valid .form-label {
  display: none;
}
.form-group-otp .form-label {
  top: 18px;
}

.button-orange {
  background: #eb7500;
  border: 1px solid #eb7500;
  font-family: "Intro", Regular;
  border-radius: 50px;
  color: #2c2c2c;
  font-size: 14px !important;
  font-weight: 600;
  padding: 13px 30px;
  text-align: center;
  min-width: 206px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .button-orange {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 992px) {
  .button-orange {
    margin-bottom: 60px;
  }
}
.button-orange.disabled {
  background: #ededed;
  border: 1px solid #ededed;
  color: #bfbfbf;
}
.button-orange.disabled:hover {
  color: #bfbfbf;
  cursor: unset;
}
.button-orange:focus {
  outline: 0;
}
.button-orange:hover {
  color: #000000;
  text-decoration: none;
}

.button-orange-outline {
  font-family: "Intro", Regular;
  background: #fff;
  border: 1px solid #f16e00;
  border-radius: 50px;
  color: #2c2c2c;
  font-size: 14px !important;
  text-decoration: none;
  font-weight: 600;
  padding: 13px 30px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}
@media screen and (min-width: 992px) {
  .button-orange-outline {
    font-size: 16px !important;
  }
}
.button-orange-outline:hover {
  color: #f16e00;
  text-decoration: none;
}

.login-button {
  padding: 10px 45px;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 40px;
}

.language-switcher {
  position: relative;
  padding: 10px 0;
}
.language-switcher-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.language-switcher-trigger span {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  display: inline-block;
  margin-left: 8px;
  margin-right: 7px;
}
.language-switcher-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  width: 240px;
}
.language-switcher-list {
  padding: 15px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #dbdbdb;
  position: relative;
}
.language-switcher-item {
  display: block;
  padding-bottom: 7px;
  font-size: 13px;
  color: #000000;
  outline: 0;
  text-decoration: none !important;
  position: relative;
  padding-left: 27px;
}
.language-switcher-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #ffffff;
}
.language-switcher-item::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #3ea3ce;
  border-radius: 50%;
  opacity: 0;
  transition: all ease-in 0.3s;
}
.language-switcher-item:hover, .language-switcher-item:focus {
  color: #3ea3ce;
  text-decoration: underline;
  outline: 0;
}
.language-switcher-item:hover::before, .language-switcher-item:focus::before {
  border-color: #3ea3ce;
}
.language-switcher-item:hover::after, .language-switcher-item:focus::after {
  opacity: 1;
}
.language-switcher-item:last-child {
  padding-bottom: 0;
}
.language-switcher-item.active {
  color: #3ea3ce;
  text-decoration: underline;
  outline: 0;
}
.language-switcher-item.active::before {
  border-color: #3ea3ce;
}
.language-switcher-item.active::after {
  opacity: 1;
}
.language-switcher:hover .language-switcher-options {
  display: block;
}

@media screen and (max-width: 992px) {
  .content {
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .content {
    min-height: calc(100% - 178px);
  }
}
.content .min-container {
  min-height: 100%;
}
.content .min-container .min-row {
  min-height: 100%;
  display: flex;
}
.content .min-container .min-row .signup-block {
  min-height: 100%;
}
@media (max-width: 991px) {
  .content {
    min-height: calc(100% - 64px);
    flex-direction: column;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pl-0 {
  padding-left: 0 !important;
}

.custom-control-label {
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 22px;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.custom-radio {
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .custom-radio {
    margin-bottom: 50px;
  }
}

.fw--600 {
  font-weight: 600;
}

.password-eye {
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fa-eye-slashed::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 2px;
  background-color: #999999;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 22px;
  transform: rotateZ(45deg);
}

.disabled-input,
.disabled-input-1 {
  opacity: 0.5;
  pointer-events: none;
}

.mt-0 {
  margin-top: 0 !important;
}

.align-items-center {
  align-items: center;
}

.label-blue {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #00a6ca;
  margin-bottom: 12px;
  font-family: "Intro", bold;
}

h3.section-title-40 {
  line-height: 30px;
}
@media screen and (min-width: 992px) {
  h3.section-title-40 {
    line-height: 50px;
  }
}

.content-duplicate {
  margin-bottom: 9px;
}
@media screen and (min-width: 992px) {
  .content-duplicate {
    margin-bottom: 298px;
  }
}

.verify-card {
  background: #f9f9f9;
  border-top: 4px solid #DDDDDD;
}
.verify-card .verify-card-inner {
  display: inline-flex;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .verify-card .verify-card-inner {
    padding: 30px;
  }
}
.verify-card .verify-card-inner .verify-card-icon {
  margin-right: 15px;
}
@media screen and (min-width: 992px) {
  .verify-card .verify-card-inner .verify-card-icon {
    margin-right: 30px;
  }
}
.verify-card .verify-card-inner .verify-card-icon img {
  width: 52px;
  height: 52px;
}
@media screen and (min-width: 992px) {
  .verify-card .verify-card-inner .verify-card-icon img {
    width: 62px;
    height: 62px;
  }
}
.verify-card .verify-card-inner .verify-card-text h3 {
  font-weight: bold;
  font-size: 16px;
  font-family: "Intro", Bold;
  text-transform: uppercase;
  color: #00a6ca;
  margin-bottom: 5px;
}
@media screen and (min-width: 992px) {
  .verify-card .verify-card-inner .verify-card-text h3 {
    margin-bottom: 35px;
  }
}
.verify-card .verify-card-inner .verify-card-text p {
  font-family: "Intro", Book;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}

.question-answer-list.pair-device .custom-control-label {
  font-family: "Intro", regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.span-quest {
  font-family: "Intro", regular;
  font-weight: 600;
  font-size: 14px;
  color: #2c2c2c;
}

.span-link {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00a6ca;
}

.container-top {
  padding: 40px 0 30px;
}
@media screen and (min-width: 992px) {
  .container-top {
    padding: 40px 0;
  }
}
.container-top .section-title-40 {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .container-top .section-title-40 {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media screen and (min-width: 992px) {
  .loan-cont-margin {
    margin-bottom: 107px;
  }
}

.pair-device {
  min-height: unset;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .pair-device-cont {
    margin-bottom: 246px;
  }
}

@media screen and (max-width: 992px) {
  .content-otp #otp-btn {
    margin-bottom: 60px;
  }
}
.content-otp .container-2 {
  padding: 30px 0;
}
@media screen and (max-width: 992px) {
  .content-otp .container-2 {
    padding: 30px 0 0;
  }
}
.content-otp .flex-otp-label {
  display: flex;
  margin-bottom: 6px;
  justify-content: space-between;
}
.content-otp .otp-form {
  margin-bottom: 20px;
}
.content-otp .otp-form form input {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #acacac;
}
@media screen and (min-width: 992px) {
  .content-otp .otp-form form input {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .content-otp .otp-form form input {
    margin-right: 20px;
  }
}
.content-otp .otp-form form input:last-child {
  margin-right: 0;
}
.content-otp .otp-form form input::-moz-placeholder {
  color: #acacac;
}
.content-otp .otp-form form input:-ms-input-placeholder {
  color: #acacac;
}
.content-otp .otp-form form input::placeholder {
  color: #acacac;
}
.content-otp .button-orange {
  margin-top: 34px;
}

.mobile-pre::after {
  content: "+91";
  position: absolute;
  left: 10px;
  bottom: 13px;
  margin: auto;
}

.mobile-input {
  padding-left: 40px !important;
}

@media screen and (max-width: 992px) {
  form.otp-form {
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  background: #f9f9f9;
  padding: 20px 0;
}
.footer .copyright {
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .footer .copyright {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
}
.footer .footer-links {
  text-align: center;
  display: flex;
  padding-left: 0;
  justify-content: center;
  padding: 0 36px;
}
@media screen and (min-width: 992px) {
  .footer .footer-links li {
    margin: 0 15px;
  }
}
.footer .footer-links li a {
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2c2c2c;
  position: relative;
  display: block;
}
.footer .footer-links li a span:focus {
  outline: 0;
}
.footer .footer-links li a:focus {
  outline: 0;
}
@media (max-width: 767px) {
  .footer .footer-links li a {
    margin: 0 15px;
    white-space: nowrap;
  }
}
@media (max-width: 425px) {
  .footer .footer-links li a {
    margin: 0 9px;
    white-space: nowrap;
  }
}
@media (max-width: 991px) {
  .footer-mobile.verify-payemnt .footerLinks a:first-child {
    margin: 0 auto 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 991px) {
  .footer-mobile {
    padding-bottom: 94px;
  }
}

.menu-toggle {
  height: 36px;
}

.text-bold {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
}

.text-light {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
}

.loan-input,
.dp-user {
  width: 100%;
  max-width: 580px;
  height: 50px;
  border: 1px solid #acacac;
  padding-left: 14px;
}

.account-info .question-answer-list li .custom-radio.cibil-radio-tick {
  margin-top: 12px;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:checked {
  position: absolute;
  left: -9999px;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:checked + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #000;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 0.8px solid #b6b6b6;
  border-radius: 100%;
  background: #fff;
  border: 0.8px solid #3ea3ce;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:checked + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #3ea3ce;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  transition: all 0.2s ease;
  opacity: 1;
  transform: scale(1);
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #000;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 0.8px solid #b6b6b6;
  border-radius: 100%;
  background: #fff;
}
.account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #3ea3ce;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  transition: all 0.2s ease;
  opacity: 0;
  transform: scale(0);
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.option {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  font-family: inherit;
  padding-left: 28px;
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.custom-radio {
  margin-bottom: 25px;
}

@media (max-width: 991px) {
  .signup-block-inner {
    max-width: 100%;
  }

  .signup-block {
    margin: 0 -16px;
    padding: 20px;
    padding-bottom: 20px;
  }

  .signup-form-wrapper {
    margin-bottom: 20px !important;
  }
  .signup-form-wrapper p {
    font-size: 14px;
  }

  .signup-form {
    margin-bottom: 50px;
  }

  .content {
    min-height: calc(100% - 64px);
    flex-direction: column;
  }

  .account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:checked + label {
    font-size: 14px;
  }
  .account-info .question-answer-list li .custom-radio.cibil-radio-tick [type=radio]:not(:checked) + label {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .signup-block {
    position: relative;
    padding-left: 0;
  }
  .signup-block::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: 100%;
    background: #fff;
  }
}
@media screen and (max-width: 992px) {
  .content {
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .option {
    font-size: 16px;
  }

  .custom-control-label {
    margin-bottom: 10px;
  }

  .custom-radio {
    margin-bottom: 50px;
  }
}
.verification-questions-form .section-subtitle-1 {
  max-width: 410px;
}

.verification-questions .custom-radio {
  margin-bottom: 0;
}

.dash {
  background-image: url(../img/plcaehoder-dash.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center !important;
}

input {
  border-radius: 0 !important;
}

.mx-580 {
  max-width: 580px !important;
}

.add-container {
  margin-bottom: 8px;
}

.justify-content-center {
  justify-content: center;
}

.error-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .error-img {
    flex-direction: column;
  }
}
.error-img img {
  height: 63px;
  width: 62px;
  margin-right: 16px;
}
@media screen and (max-width: 992px) {
  .error-img img {
    margin-bottom: 20px;
  }
}
.error-img h3 {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {
  .mob-top {
    margin-top: 20px;
  }
}

.error-page-outer {
  min-height: 0;
  margin-bottom: 30px;
}

.error-page .login-button {
  margin: auto;
  margin-top: 40px;
  display: inline-block;
  padding: 15px 48px;
}

.try-again {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-top: 40px;
}

.sign-out {
  color: #00a6ca;
}

@media screen and (max-width: 992px) {
  .success-page .button-orange {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 992px) {
  .success-page {
    min-height: 0;
  }
}
.success-page .success-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 992px) {
  .success-page .success-img {
    margin-left: -75px;
  }
  .success-page .success-img h3 {
    padding-left: 12px;
    margin-bottom: 0 !important;
    transform: translateY(5px);
  }
}
.success-page .success-img .section-subtitle-1 {
  margin-top: 24px;
}
@media screen and (max-width: 992px) {
  .success-page .success-img .section-subtitle-1 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .success-page .success-img .section-subtitle-1 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .success-page .success-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.success-page .success-img img {
  height: 63px;
  width: 62px;
}
@media screen and (max-width: 992px) {
  .success-page .success-img img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .success-page .success-img img {
    margin-right: 16px;
  }
}
.success-page .success-img h3 {
  margin-bottom: 0 !important;
}

.invoice-outer {
  width: 92%;
}

.invoice-details {
  padding: 15px;
  background: #f9f9f9;
  border-radius: 3px;
}
@media screen and (min-width: 992px) {
  .invoice-details {
    width: 380px;
    padding: 20px 28px;
    margin: auto;
  }
}
.invoice-details .invoice-title {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  text-align: left;
}
.invoice-details .column-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}
.invoice-details .column-flex::after {
  content: "";
  position: absolute;
  top: 7px;
  bottom: 0;
  margin: auto;
  border-top: 2px dashed #e1e1e1;
  height: 1px;
  width: 100%;
  right: 0;
  left: 0;
}
.invoice-details .column-flex p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}
.invoice-details .column-flex .column-left {
  text-align: left;
}
.invoice-details .column-flex .column-left p {
  padding-right: 8px;
}
.invoice-details .column-flex .column-right {
  text-align: right;
}
.invoice-details .column-flex .column-right p {
  padding-left: 8px;
}

.select-field {
  position: relative;
}

.extra select {
  height: 46px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #dbdbdb;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  color: #777777;
  font-weight: 400;
  padding-left: 10px;
}
.extra select {
  -webkit-appearance: menulist-button;
  color: black;
  font-weight: 400;
}
.extra select:invalid {
  color: #777777;
}
.extra .select-field {
  position: relative;
}
.extra select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 18px;
  background-size: 15px;
  cursor: pointer;
}

option:disabled {
  display: none;
}

@media screen and (min-width: 992px) {
  .mt-60 {
    margin-top: 60px;
  }
}
.braces {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin: 10px 0 30px;
}

.password-eye {
  height: 16px;
}

.password-relative {
  position: relative;
}

.terms-and-condition {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.terms-and-condition .tnc-link {
  color: #00a6ca;
  font-weight: 600;
}

.mx-646 {
  max-width: 646px;
}

.flex {
  flex: 1;
}

.enrollment .flex-box-container .slick-list {
  padding: 0 20% 0 0;
}

.enrollment-button button {
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .paright {
    padding-right: 0;
    margin-right: 0;
  }
}

.bg-yellow {
  background: #fcd800;
  padding: 0 7px;
  margin-right: -5px;
}

.flex-box-container {
  margin-bottom: 40px;
  flex: 1;
}
@media screen and (min-width: 992px) {
  .flex-box-container {
    display: flex;
  }
}
@media screen and (max-width: 992px) {
  .flex-box-container .flex {
    margin-right: 28px;
    margin-left: 20px;
    padding: 10px 0px;
  }
}
@media screen and (min-width: 992px) {
  .flex-box-container .flex {
    margin-right: 20px;
  }
}
.flex-box-container .flex:last-child {
  margin-right: 0;
}
.flex-box-container .flex-inner {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px 1px;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .flex-box-container .flex-inner {
    transform: translateX(20px);
  }
}
.flex-box-container .flex-inner:last-child {
  margin-right: 0;
}
.flex-box-container .flex-inner h6 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
  margin-bottom: 8px;
}
.flex-box-container .flex-inner p {
  font-family: "Intro", Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .additional-verification {
    margin-bottom: 126px;
  }
}

.plan-outer-blue {
  background: #00a6ca;
}
@media screen and (min-width: 992px) {
  .plan-outer-blue {
    border-radius: 5px;
    padding: 3px;
  }
}
.plan-outer-blue .plan-type {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.plan-outer-blue .plan-type p {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.plan-outer-blue .plan-type span,
.plan-outer-blue .plan-type a {
  font-family: "Intro", Regular;
  font-style: 400;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}
.plan-outer-blue .plan-type a {
  font-weight: 700;
}
.plan-outer-blue .plan-type .plan-value {
  text-align: right;
}
.plan-outer-blue .plan-includes .yellow-header {
  padding: 16px;
  background: #fcd800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.plan-outer-blue .plan-includes .yellow-header h6 {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c2c2c;
}
.plan-outer-blue .features-grid {
  background-color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
}
.plan-outer-blue .features-grid .feature {
  width: 50%;
  padding-right: 20px;
}
.plan-outer-blue .features-grid .feature img {
  width: 40px;
  margin-bottom: 20px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
.plan-outer-blue .features-grid .feature p {
  font-family: "Intro", Book;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

@media screen and (max-width: 992px) {
  .interstial-container {
    padding-top: 0 !important;
  }
}
@media screen and (min-width: 992px) {
  .interstial-container {
    margin-top: 50px;
  }
}

.customer-testimonial {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .customer-testimonial {
    margin-top: 30px;
  }
}
.customer-testimonial .label-blue {
  margin-bottom: 30px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  background: #dddddd;
  border-radius: 50px;
  margin: 0 5px;
}
.slick-dots li.slick-active {
  background: #707070;
}
.slick-dots li button {
  display: none;
}

.testimonial-1 {
  display: flex;
}
.testimonial-1 .image img {
  width: 60px;
  margin-right: 20px;
}
@media screen and (min-width: 992px) {
  .testimonial-1 .image img {
    width: 80px;
  }
}
.testimonial-1 .testimonial-title {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 0;
}
.testimonial-1 .stars {
  margin: 10px 0 14px;
}
.testimonial-1 .stars img {
  height: 16px;
}
.testimonial-1 p {
  font-family: "Intro", Book;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.play-store img {
  width: 24px;
}

.plans-list {
  background: #0092b1;
  border-radius: 6px 6px 0px 0px;
}

.subscription-plan .grid {
  background: #0092b1;
  display: flex;
}
.subscription-plan .grid .plan-type {
  padding: 8px 10px;
}
.subscription-plan .grid .card {
  position: relative;
  flex: 1;
}
.subscription-plan .grid .plan-details {
  background: #ffffff;
  width: 100%;
  display: block;
  border-radius: 6px;
  padding: 20px 10px;
}
.subscription-plan .grid .plan-details .plan-duration {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #333333;
}
.subscription-plan .grid .plan-details .plan-price {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #707070;
  margin-top: 8px;
}

.interstial {
  background: #f9f9f9;
  border-top: 0;
  border-radius: 6px;
}
.interstial .description-bold {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.interstial .features-grid .feature {
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 15px 0;
  min-height: 105px;
}
.interstial .features-grid .feature img {
  width: 27px;
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 23px;
}

.interstial-container .col-md-5.equal-column {
  max-width: 457px;
}
.interstial-container .col-md-7.equal-column {
  max-width: 730px;
}
.interstial-container .right-coulumn-section {
  display: flex;
  justify-content: space-between;
}
.interstial-container .top-head {
  height: 150px;
}
.interstial-container .column-outer {
  flex: 1;
  border-radius: 6px;
  margin-right: 20px;
}
.interstial-container .column-outer.active {
  margin-top: -1;
  border: 3px solid #00a6ca;
  margin-top: -34px;
}
.interstial-container .column-outer:last-child {
  margin-right: 0;
}
.interstial-container .column {
  position: relative;
  flex: 1;
  padding: 30px 15px 0;
  padding-bottom: 0;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.interstial-container .column.active {
  border: 0px solid #00a6ca;
}
.interstial-container .column .coumn-head {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interstial-container .column .coumn-head .plan-name {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
}
.interstial-container .column .coumn-head .plan-duration {
  font-family: "Intro", Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
  letter-spacing: 0.02em;
}
.interstial-container .column .coumn-head .plan-price {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #707070;
}
.interstial-container .column .infinite {
  width: 35px;
  height: 16px;
}
.interstial-container .column .column-body {
  text-align: center;
}
.interstial-container .coulumn-image {
  min-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dddddd;
}
.interstial-container .coulumn-image .marks {
  width: 15px;
  height: 15px;
}
.interstial-container .wrong-marks {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.interstial-container .right-marks {
  width: 20px !important;
  height: 20px !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.interstial-container .most-popular {
  background: #00a6ca;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 30px;
  font-family: "Intro", Regular;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
}
.interstial-container .most-popular > div {
  position: relative;
  z-index: 2;
}
.interstial-container .most-popular::after {
  content: "";
  position: absolute;
  width: 103%;
  height: 101%;
  left: -2px;
  top: -2%;
  background: #00a6ca;
}
.interstial-container .save {
  position: absolute;
  background: #ededed;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #707070;
  width: 101%;
  left: -1px;
  right: 0;
  top: -1px;
  height: 30px;
}
.interstial-container .column-footer {
  height: 30px;
  background: #ededed;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  width: 100%;
  border: 1px solid #dddddd;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.interstial-container .column-footer span {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: -4px;
}

.plan-title {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.active .column-footer {
  position: relative;
}

.right-button-section .column-outer {
  padding: 0;
  max-width: 175px;
  border: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.right-button-section .column-outer .column {
  border: none;
  padding: 0;
  width: 100%;
}
.right-button-section .column-outer .column button {
  width: 100%;
  padding: 0;
  min-width: unset !important;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.col-1-link {
  font-family: "Intro", Regular;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2c2c2c;
  font-weight: 600;
  padding: 0px 23px;
  display: block;
}

.features-mobile-section {
  padding: 30px 0;
  padding-bottom: 10px;
}
.features-mobile-section .section-title {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
  color: #001b38;
}
.features-mobile-section .feature-list {
  padding: 25px 20px;
}
.features-mobile-section .feature-list .f-18 {
  line-height: 22px;
}
.features-mobile-section .feature-list .f-16 {
  line-height: 21px;
  color: #b1b4b7;
}
.features-mobile-section .feature-list .light-yellow-bg {
  padding: 5px;
  color: #666666;
  display: flex;
  align-items: center;
}
.features-mobile-section .feature-list .light-yellow-bg img {
  margin-right: 4px;
  position: relative;
}
.features-mobile-section .nav {
  border-bottom: 0;
  background-color: transparent;
  display: flex;
}
.features-mobile-section .nav li {
  width: 33.33%;
  padding: 20px 10px;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  transition: all 0.2s linear;
}
.features-mobile-section .nav li .tab-badge {
  position: absolute;
  top: -8px;
  width: 100%;
  padding: 4px;
  border-radius: 3px 3px 0px 0px;
}
.features-mobile-section .nav li .tab-badge h6 {
  margin: 0;
  color: #2b2b2b;
  font-size: 12px;
  font-family: "Intro";
}
.features-mobile-section .nav li.active {
  background: #fff;
  /* border: 1px solid #fff; */
  border: 2px solid #00a6ca;
  border-bottom: 2px solid #fff !important;
  border-bottom: 0;
  z-index: 1;
  width: 34%;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: -2px;
}
@media (min-width: 992px) {
  .features-mobile-section {
    display: none;
  }
}

.tab-pane {
  padding: 10px 15px;
  margin-bottom: 20px;
}
.tab-pane.active {
  border: 2px solid #00a6ca;
}
.tab-pane.tab-pane-2 {
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: #f9f9f9;
}

.pane-2-flex {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pane-2-flex h6 {
  font-family: "Intro", bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #333;
}
.pane-2-flex img {
  width: 36px;
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #dcdddf;
}

.price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #dcdddf;
}
.price-row-column h2 {
  margin: 0;
  margin-bottom: 2px !important;
  font-size: 26px !important;
  font-family: "Intro";
  line-height: 1;
  color: #000000;
}
.price-row-column p {
  margin: 0;
  font-size: 12px;
  font-family: "Intro";
  line-height: 12px;
  color: #000000;
}
.price-row .bttn {
  display: initial;
}
@media (max-width: 480px) {
  .price-row .bttn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.price-row.bottom {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-bottom: 0;
}

.card-row {
  display: flex;
}

.grid-mob .feature {
  display: flex;
  align-items: flex-start;
}
.grid-mob .feature img {
  width: 20px;
  margin-right: 17px;
  position: relative;
  bottom: -10px;
}
.grid-mob .feature p {
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.features-mobile-section .nav-tabs li {
  padding-left: 10px;
  padding-right: 3px;
  padding-bottom: 0%;
}
.features-mobile-section .nav-tabs li h6 {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #707070;
}
.features-mobile-section .nav-tabs li h6.plan-name {
  font-size: 16px;
}
.features-mobile-section .nav-tabs li h3 {
  font-family: "Intro", bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #333;
}
.features-mobile-section .nav-tabs li h4 {
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin: 5px 0;
}
.features-mobile-section .nav-tabs li span {
  background: #fcd800;
  font-family: "Intro", Book;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  padding: 0 10px;
  margin-left: -10px;
  margin-top: 15px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-mobile-section .tag-intabs {
  position: absolute;
  left: -2px;
  right: -2px;
  top: -31px;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  overflow: hidden;
}

.full-width-button {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-bg {
  background: transparent !important;
}

.label-blue-mob {
  margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
  .checkout .label-blue {
    padding: 20px;
  }
}
.checkout .plans-block-content {
  padding: 55px 12px;
  background: #00a6ca;
}
@media screen and (min-width: 992px) {
  .checkout .plans-block-content {
    padding: 55px 20px;
  }
}
@media screen and (min-width: 992px) {
  .checkout .plans-block-header {
    background: #00a6ca;
  }
}
.checkout .plans-radio-col {
  position: relative;
  z-index: 2;
  flex: 1;
  margin-right: 10px;
}
.checkout .plans-radio-col.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  background-color: #fcd800;
  border-radius: 6px 6px 0px 0px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .checkout .plans-radio-col {
    margin-right: 20px;
  }
}
.checkout .plans-radio-col:last-child {
  margin-right: 0;
}
.checkout .plans-radio-col label {
  background: #fff;
  border-radius: 6px 6px 0px 0px;
  border: 0ch;
  padding: 40px 8px 10px;
  height: 100%;
}
.checkout .plans-radio-col input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0;
}
.checkout .plans-radio-col input:checked ~ .checkmark {
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
}
.checkout .plans-radio-col input:checked ~ .checkmark:after {
  display: block;
}
.checkout .plans-radio-col input:checked ~ label {
  background: #fff;
}
.checkout .plans-radio-col .checkmark {
  position: absolute;
  top: 20px;
  left: 12px;
  height: 16px;
  width: 16px;
  background: #f9f9f9;
  border: 2px solid #2c2c2c;
  box-sizing: border-box;
  border-radius: 6px;
}
.checkout .plans-radio-col .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}
.checkout .plans-radio-offer-text {
  background-image: none;
  background-color: #fcd800;
  max-width: 80px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  position: relative;
  left: -8px;
}
@media screen and (min-width: 992px) {
  .checkout .col-md-7 {
    padding-right: 30px;
  }
}
@media screen and (max-width: 992px) {
  .checkout .col-md-5 {
    padding: 0 20px;
  }
}

.plans-radio-price {
  font-size: 16px;
  font-weight: 600;
  color: rgba(43, 43, 43, 0.7);
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .plans-radio-price {
    font-size: 18px;
  }
}

.plans-radio-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 7px;
}
@media screen and (min-width: 992px) {
  .plans-radio-title {
    font-size: 20px;
  }
}

.plans-radio-sub-title {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  margin-bottom: 2px;
}

.account-details {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .account-details {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  .account-details {
    margin-bottom: 144px;
  }
}
.account-details .title {
  font-family: "Intro", Book;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.account-details .name-bold {
  font-family: "Intro", Regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 24px;
}

.price-details .price-name strong {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.price-details .price-name span {
  font-family: "Intro", Book;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}
.price-details .price {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

.plan-name-bg {
  position: absolute;
  width: 100%;
  top: -35px;
  height: 40px;
  z-index: 0;
  padding: 7px 10px;
  background: #0092b1;
  border-radius: 6px 6px 0px 0px;
  text-transform: capitalize;
  z-index: -1;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  color: #f9f9f9;
}
@media screen and (min-width: 992px) {
  .plan-name-bg {
    font-size: 16px;
  }
}

.price-footer {
  background: #ededed;
  font-family: "Intro", Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  padding: 1px 10px;
  border-radius: 0px 0px 6px 6px;
}
@media screen and (max-width: 992px) {
  .price-footer {
    margin-top: -10px;
  }
}
@media screen and (min-width: 992px) {
  .price-footer {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .coupon-toggle {
    margin-bottom: 40px;
  }
}

.coupon-tab {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.coupon-tab .toggle-text {
  margin-bottom: 0;
}
.coupon-tab .arrow-img {
  width: 30px;
  height: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.coupon-tab .label-blue {
  padding: 0;
}

.promo-input {
  background: #ffffff;
  border: 1px solid #acacac;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
}

.rotate {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

.rotate-reset {
  transform: rotate(0deg);
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  .container.pt-3 {
    padding: 0;
    overflow: hidden;
  }
}
.mobile-title {
  font-family: "Intro", Bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c2c2c;
}

.input-focus {
  border: 2px solid #00A6CA !important;
}

.digit-group input {
  width: 30px;
  height: 50px;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin: 0 2px;
}
.digit-group .splitter {
  padding: 0 5px;
  color: white;
  font-size: 24px;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}/*# sourceMappingURL=signup.css.map */